<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6019ef89-f8dd-46f6-b611-f54d014a9a5b" Alias="BlockList Media Picker" Level="1">
  <Info>
    <Name>BlockList Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "logoCrop",
      "height": 76,
      "label": "Logo",
      "width": 329
    },
    {
      "alias": "contentImage",
      "height": 290,
      "label": "Bild vom Inhalt",
      "width": 436
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>