<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51a8deab-d1ec-4572-88f8-3f9d973a2155" Alias="CropHelper - [Contentment] Notes" Level="1">
  <Info>
    <Name>CropHelper - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p>Hier sehen Sie ein Beispielbild für den Crop: <strong>Author</strong></p>\n<p><img src=\"/media/pxsed2mm/author.png?rmode=max&amp;width=858&amp;height=338\" alt=\"\" width=\"858\" height=\"338\" data-udi=\"umb://media/f141e47bef8c49a7a3c2737ed0c4bfa7\"></p>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>