<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ff1eac9-23d1-469e-b86a-ea779ef3bf22" Alias="Email - Email address" Level="1">
  <Info>
    <Name>Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>