<?xml version="1.0" encoding="utf-8"?>
<DataType Key="619be624-e73b-4c51-9601-f14bc36cdcbb" Alias="Expert-Property - Wert - [Contentment] Number Input" Level="1">
  <Info>
    <Name>Expert-Property - Wert - [Contentment] Number Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "size": "m",
  "placeholderText": "1-100"
}]]></Config>
</DataType>