<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15954864-5078-4363-bc27-2cada3a077cc" Alias="Experten Board - Crop Hilfe - [Contentment] Notes" Level="1">
  <Info>
    <Name>Experten Board - Crop Hilfe - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p><strong>Hier haben Sie Bilder, die beim Verständnis der Crop's helfen sollen. Die Bilder sind jeweils mit dem dazugehörigen Crop-Namen und einem roten Rahmen versehen.</strong></p>\n<p> </p>\n<div style=\"border: solid;\">\n<p style=\"color: red;\"><strong>Einleitungsbild</strong></p>\n<p><strong><img src=\"/media/y3zmjgv5/einleitungsbild.png?rmode=max&amp;width=915&amp;height=432\" alt=\"\" width=\"915\" height=\"432\" data-udi=\"umb://media/9ac472c1eebf425ba0df90ee05b51f98\"></strong></p>\n</div>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>