<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a50d95ec-fb76-4884-83a4-549a3f4a993e" Alias="Footer Information" Level="1">
  <Info>
    <Name>Footer Information</Name>
    <EditorAlias>Umbraco.Community.Contentment.ListItems</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hideIcon": "0",
  "hideDescription": "0",
  "confirmRemoval": "1",
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>