<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39948791-38aa-4868-8b46-89fa0c8228ee" Alias="Heading DropDown" Level="1">
  <Info>
    <Name>Heading DropDown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "h1"
    },
    {
      "id": 2,
      "value": "h2"
    },
    {
      "id": 3,
      "value": "h3"
    },
    {
      "id": 4,
      "value": "h4"
    },
    {
      "id": 5,
      "value": "h5"
    },
    {
      "id": 6,
      "value": "h6"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>