<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3" Alias="Image Media Picker" Level="1">
  <Info>
    <Name>Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "detailStageImage",
      "height": 500,
      "label": "Detail Stage Image",
      "width": 500
    },
    {
      "alias": "detailStageBackgroundImage",
      "height": 512,
      "label": "Detail Stage BackgroundImage",
      "width": 1320
    },
    {
      "alias": "eventPreview",
      "height": 450,
      "label": "Event Vorschau",
      "width": 450
    },
    {
      "alias": "organisationImageCrop",
      "height": 400,
      "label": "Organisationsbild",
      "width": 400
    },
    {
      "alias": "articleAreasImage",
      "height": 174,
      "label": "Artikel Flächen",
      "width": 309
    },
    {
      "alias": "articleAreasImageSp",
      "height": 360,
      "label": "Artikel Flächen volle Breite",
      "width": 600
    },
    {
      "alias": "highlightFullWidth",
      "height": 307,
      "label": "Highlight Volle Breite",
      "width": 408
    },
    {
      "alias": "highlightStagePadding",
      "height": 400,
      "label": "Highlight Stage Padding",
      "width": 600
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>