<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e40d26eb-1a4d-41e5-8dc0-a528b3c7eb74" Alias="Kontakt-Karte - Formatierung - Dropdown" Level="1">
  <Info>
    <Name>Kontakt-Karte - Formatierung - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Kurzansicht"
    },
    {
      "id": 2,
      "value": "Volle Breite"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>