<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9cebbd9-7843-4542-9291-5318b4a9880c" Alias="Kontakt - Bild - Media Picker" Level="1">
  <Info>
    <Name>Kontakt - Bild - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "quadrat",
      "height": 400,
      "label": "Quadrat",
      "width": 400
    },
    {
      "alias": "querformat",
      "height": 375,
      "label": "Querformat",
      "width": 565
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>