<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8d35348-11a5-4896-9b52-06bdb85afaef" Alias="List View - provider" Level="1">
  <Info>
    <Name>List View - provider</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": false,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "toolName",
      "header": "Tool-Name",
      "isSystem": 0,
      "nameTemplate": null
    },
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "hauptkategorie",
      "header": "Hauptkategorien",
      "isSystem": 0,
      "nameTemplate": "{{value | ncNodeName}}"
    },
    {
      "alias": "subCategory",
      "header": "Unterkategorien",
      "isSystem": 0,
      "nameTemplate": "{{value | ncNodeName}}"
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": false
    }
  ],
  "OrderBy": "sortOrder",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": "Tools",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>