<?xml version="1.0" encoding="utf-8"?>
<DataType Key="690bd801-c4db-455e-9293-aa0e71fbce11" Alias="Literatur Ansicht - Crop Hilfe - [Contentment] Notes" Level="1">
  <Info>
    <Name>Literatur Ansicht - Crop Hilfe - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p><strong>Hier haben Sie Bilder, die beim Verständnis der Crop's helfen sollen. Die Bilder sind jeweils mit dem dazugehörigen Crop-Namen und einem roten Rahmen versehen.</strong></p>\n<p> </p>\n<div style=\"border-style: solid;\">\n<p style=\"color: red;\"><strong>Detail Stage Image</strong></p>\n<p><strong><img src=\"/media/wnalqelv/digital-stage-image.png?rmode=max&amp;width=1017&amp;height=480\" alt=\"\" width=\"1017\" height=\"480\" data-udi=\"umb://media/11a841b5e2754b3a9e233c7622e2680e\"></strong></p>\n</div>\n<p> </p>\n<p> </p>\n<div style=\"border-style: solid;\">\n<p style=\"color: red;\"><strong>Sie haben noch Fragen?</strong></p>\n<p><strong><img src=\"/media/aruiq5lv/sie-haben-noch-fragen.png?rmode=max&amp;width=1012&amp;height=496\" alt=\"\" width=\"1012\" height=\"496\" data-udi=\"umb://media/7d886802e175498a8267b8cd10c8cf37\"></strong></p>\n</div>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>