<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e912d582-8dc7-4228-9b97-8b07f470d58a" Alias="Literatur Übersicht - Crop Hilfe - [Contentment] Notes" Level="1">
  <Info>
    <Name>Literatur Übersicht - Crop Hilfe - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p><strong>Hier haben Sie Bilder, die beim Verständnis der Crop's helfen sollen. Die Bilder sind jeweils mit dem dazugehörigen Crop-Namen und einem roten Rahmen versehen.</strong></p>\n<p> </p>\n<div style=\"border: solid;\">\n<p style=\"color: red;\"><strong>Einleitungsbild</strong></p>\n<p><strong><img src=\"/media/rvuoiurb/einleitungsbild.png?rmode=max&amp;width=970&amp;height=456\" alt=\"\" width=\"970\" height=\"456\" data-udi=\"umb://media/52e4688bbc214729ba4b9f60f27efa11\"></strong></p>\n</div>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>