<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef8192e5-5ee4-401a-a360-d63b790bb83c" Alias="Media Picker Author" Level="1">
  <Info>
    <Name>Media Picker Author</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "authorCrop",
      "height": 64,
      "label": "Author",
      "width": 64
    },
    {
      "alias": "authorBig",
      "height": 128,
      "label": "Tax-Tech Pioniere",
      "width": 128
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "umbracoMediaVectorGraphics,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>