<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f36f5289-05c7-43cd-8ee4-6b12f05136af" Alias="Media Picker Organisation" Level="1">
  <Info>
    <Name>Media Picker Organisation</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "smallOrganisationImage",
      "height": 75,
      "label": "kleines Organisation Logo",
      "width": 75
    },
    {
      "alias": "bigOrganisationImage",
      "height": 200,
      "label": "großes Organisation Logo",
      "width": 200
    },
    {
      "alias": "organisationBackground",
      "height": 220,
      "label": "Organisationshintergrund",
      "width": 220
    },
    {
      "alias": "organisationEntryImage",
      "height": 300,
      "label": "Organisationskategorie",
      "width": 432
    },
    {
      "alias": "organisationImageCrop",
      "height": 400,
      "label": "Organisationsbild",
      "width": 400
    },
    {
      "alias": "articleAreasImage",
      "height": 174,
      "label": "Artikel Flächen",
      "width": 309
    },
    {
      "alias": "articleAreasImageSp",
      "height": 360,
      "label": "Artikel Flächen volle Breite",
      "width": 600
    },
    {
      "alias": "detailStageBackgroundImage",
      "height": 512,
      "label": "Detail Stage BackgroundImage",
      "width": 1320
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>