<?xml version="1.0" encoding="utf-8"?>
<DataType Key="244a2ecd-2ce6-4520-aa56-3e789f7cebb2" Alias="Newsletter NWB - Newsletters - Block List" Level="1">
  <Info>
    <Name>Newsletter NWB - Newsletters - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c198b280-9fac-4423-9bd2-31df89a3735b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{newsletterName}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>