<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5463b09-cb19-4c05-8d0c-3bc41f077a7e" Alias="NWB - Audit Percentage" Level="1">
  <Info>
    <Name>NWB - Audit Percentage</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 0.01,
  "max": 100
}]]></Config>
</DataType>