<?xml version="1.0" encoding="utf-8"?>
<DataType Key="275a9fd0-0f20-4651-8dae-f62344794520" Alias="NWB - Area BackgroundImage Picker" Level="1">
  <Info>
    <Name>NWB - Area BackgroundImage Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>