<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b0e078c7-1175-4f3f-af16-3ab7066a0d0b" Alias="NWB - AuthorPicker" Level="1">
  <Info>
    <Name>NWB - AuthorPicker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>