<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02c7e943-f11f-4548-91a8-4bf141fbd28e" Alias="NWB - AnimationSelect" Level="1">
  <Info>
    <Name>NWB - AnimationSelect</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.JsonDataListSource, Umbraco.Community.Contentment",
      "value": {
        "url": "/contentment/animate.json",
        "itemsJsonPath": "$[*]",
        "nameJsonPath": "$.name",
        "valueJsonPath": "$.value",
        "iconJsonPath": "$.icon",
        "descriptionJsonPath": "$.description"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>