<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0daa3239-be9f-4527-847a-b0befb22e3a6" Alias="NWB - Audio Cover" Level="1">
  <Info>
    <Name>NWB - Audio Cover</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "cover",
      "height": 400,
      "label": "cover",
      "width": 400
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/96dfaba8febe494480f21e075a087fae",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>