<?xml version="1.0" encoding="utf-8"?>
<DataType Key="090f85b4-52ba-4420-9335-6d4455b35662" Alias="NWB - Audio Content Title" Level="1">
  <Info>
    <Name>NWB - Audio Content Title</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 256
}]]></Config>
</DataType>