<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9041e50-8d6c-4752-be0a-726bf4d7509d" Alias="NWB - Alpha Color Picker" Level="1">
  <Info>
    <Name>NWB - Alpha Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker.EyeDropper</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowAlpha": true,
  "ShowPalette": true
}]]></Config>
</DataType>