<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcee7519-3828-4297-a5b0-8b3098f8783d" Alias="NWB - AuthorPicker (Multiple)" Level="1">
  <Info>
    <Name>NWB - AuthorPicker (Multiple)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "author",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/6eed9c5b434a4297a70a9c679737764c",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>