<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f6a11ef-a6e3-4379-a4e1-b5ef8cfe9d8b" Alias="NWB - Bullets" Level="1">
  <Info>
    <Name>NWB - Bullets</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 4,
  "Minimum": 0
}]]></Config>
</DataType>