<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3d22fab-f9e0-4c40-ad99-9a8226391b2b" Alias="NWB - Block Grid Detail Gallery images per row - lg" Level="1">
  <Info>
    <Name>NWB - Block Grid Detail Gallery images per row - lg</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 4.0,
  "InitialValue2": 0.0,
  "MaximumValue": 6.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>