<?xml version="1.0" encoding="utf-8"?>
<DataType Key="851f81e1-4ac5-46b0-8462-c8f02013e1f9" Alias="NWB - Block Grid Detail Gallery images per row - default" Level="1">
  <Info>
    <Name>NWB - Block Grid Detail Gallery images per row - default</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 2.0,
  "InitialValue2": 0.0,
  "MaximumValue": 6.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>