<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dddd30d2-f7ab-4770-8876-5a439deb660e" Alias="NWB - Blocklist Slider" Level="1">
  <Info>
    <Name>NWB - Blocklist Slider</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "dbefb656-d9e2-41f3-9ad9-ff3ade063b97",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{headlineFirstRow}}",
      "settingsElementTypeKey": "ac18fbc6-65ad-4d12-acda-f1aca178fb72",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>