<?xml version="1.0" encoding="utf-8"?>
<DataType Key="051f8aac-2220-453d-93c4-ba8c82e062b0" Alias="NWB - Box Position - Dropdown" Level="1">
  <Info>
    <Name>NWB - Box Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "links oben"
    },
    {
      "id": 2,
      "value": "links unten"
    },
    {
      "id": 3,
      "value": "rechts oben"
    },
    {
      "id": 4,
      "value": "rechts unten"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>