<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3de8d4de-638b-4c37-8af2-9fda931a27a9" Alias="NWB - Blocklist FAQ-Card" Level="2">
  <Info>
    <Name>NWB - Blocklist FAQ-Card</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NWB+Relaunch</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "df89dd12-c977-4cf2-a96f-0fd63baaae90",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>