<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92bf686c-5c8e-44bc-abac-d15b0f8f6a38" Alias="NWB - Blocklist Icon-Link" Level="2">
  <Info>
    <Name>NWB - Blocklist Icon-Link</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NWB+Relaunch</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ba1bffbf-39ad-4638-b791-30ffe2a09764",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Icon Link",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>