<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92a05e46-e80f-46d0-aed4-a5fd1fff22d7" Alias="NWB - Badge Text" Level="1">
  <Info>
    <Name>NWB - Badge Text</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 64
}]]></Config>
</DataType>