<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a68e0554-614e-45a0-9298-28d3a179559c" Alias="NWB Blocklist Carousel Elements" Level="2">
  <Info>
    <Name>NWB Blocklist Carousel Elements</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NWB+Relaunch</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4c0ab2bc-d16c-4e44-9c82-c5dd63b27e39",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{fullname}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>