<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62277ebb-bb6d-45c9-84c2-5efb39a54920" Alias="NWB - BlockGrid Youtube Video Picker" Level="1">
  <Info>
    <Name>NWB - BlockGrid Youtube Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "youtubeMedia",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>