<?xml version="1.0" encoding="utf-8"?>
<DataType Key="93789d73-3e52-4b57-9a7e-6e229a07b992" Alias="NWB - BusinessModelChanged Toggle" Level="1">
  <Info>
    <Name>NWB - BusinessModelChanged Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "keine Änderung",
  "LabelOn": "offene Änderung",
  "ShowLabels": true
}]]></Config>
</DataType>