<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dfa6ba5-1f92-4bd0-8885-e6c4ab5b4763" Alias="NWB - Block Grid Detail Media Picker" Level="1">
  <Info>
    <Name>NWB - Block Grid Detail Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "gallerySquare",
      "height": 600,
      "label": "Galerie quadratisch",
      "width": 600
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Folder,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>