<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9215f614-06e0-4df6-9ce3-8536cc3c4cc0" Alias="NWB - Block Grid Detail Gallery images per row - xl" Level="1">
  <Info>
    <Name>NWB - Block Grid Detail Gallery images per row - xl</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 4.0,
  "InitialValue2": 0.0,
  "MaximumValue": 6.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>