<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78e993c5-4f5b-428f-9d59-fa443e81562f" Alias="NWB - Checkbox Datensicherheit" Level="1">
  <Info>
    <Name>NWB - Checkbox Datensicherheit</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Serverstandort in Deutschland"
    },
    {
      "id": 2,
      "value": "2-Faktor Authentifizierung"
    },
    {
      "id": 3,
      "value": "Ortsunabhängige Backups"
    },
    {
      "id": 4,
      "value": "DSGVO Konformität"
    }
  ]
}]]></Config>
</DataType>