<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20bdeead-d11c-4ff4-9de9-6adce84f4d5e" Alias="NWB - Checkbox Support" Level="1">
  <Info>
    <Name>NWB - Checkbox Support</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Telefon"
    },
    {
      "id": 2,
      "value": "Chat"
    },
    {
      "id": 3,
      "value": "E-Mail"
    },
    {
      "id": 4,
      "value": "24/7 Support"
    },
    {
      "id": 5,
      "value": "Individueller Ansprechpartner"
    }
  ]
}]]></Config>
</DataType>