<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c51fc805-3c3f-46a0-abf7-ba66441d0d79" Alias="NWB - Contact Avatar" Level="1">
  <Info>
    <Name>NWB - Contact Avatar</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "youGotQuestions",
      "height": 200,
      "label": "Sie haben noch Fragen?",
      "width": 200
    },
    {
      "alias": "yourOpinionIsImportant",
      "height": 146,
      "label": "Ihre Meinung ist uns wichtig!",
      "width": 141
    },
    {
      "alias": "persons",
      "height": 120,
      "label": "Personen",
      "width": 120
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>