<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5492e1d5-6b58-4fef-97b4-e67aa5ad35ed" Alias="NWB - Checkbox Systems" Level="1">
  <Info>
    <Name>NWB - Checkbox Systems</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Cloud"
    },
    {
      "id": 2,
      "value": "Lokal"
    },
    {
      "id": 3,
      "value": "App"
    }
  ]
}]]></Config>
</DataType>