<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c18b6065-c0dd-4384-b2c2-3d92cc45d787" Alias="NWB - Checkbox Interfaces" Level="1">
  <Info>
    <Name>NWB - Checkbox Interfaces</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ELSTER"
    },
    {
      "id": 2,
      "value": "SEPA"
    },
    {
      "id": 3,
      "value": "DMS"
    },
    {
      "id": 4,
      "value": "ZUGFeRD"
    },
    {
      "id": 5,
      "value": "ASCII-Format"
    },
    {
      "id": 6,
      "value": "DATEV Belegbilderservice"
    },
    {
      "id": 7,
      "value": "DATEV Buchungsdatenservice"
    },
    {
      "id": 8,
      "value": "DATEV Datenservice Kassenarchiv"
    },
    {
      "id": 9,
      "value": "DATEVconnect"
    },
    {
      "id": 10,
      "value": "DATEV-Format"
    },
    {
      "id": 11,
      "value": "DATEV Rechnungsdatenservice"
    },
    {
      "id": 12,
      "value": "DATEV XML online"
    }
  ]
}]]></Config>
</DataType>