<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9741383a-0960-4345-b58d-85f940f714b1" Alias="NWB - CTA-List-Picker" Level="1">
  <Info>
    <Name>NWB - CTA-List-Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "OverlaySize": "medium"
}]]></Config>
</DataType>