<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3301d424-fea5-4639-b2b9-94c65283c2aa" Alias="NWB - Color Picker" Level="1">
  <Info>
    <Name>NWB - Color Picker</Name>
    <EditorAlias>Vokseverk.ColorSelector</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>