<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3da45e61-1a55-4190-9a77-a63b64844b99" Alias="NWB - Company Size" Level="1">
  <Info>
    <Name>NWB - Company Size</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Klein"
    },
    {
      "id": 2,
      "value": "Mittel"
    },
    {
      "id": 3,
      "value": "Groß"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>