<?xml version="1.0" encoding="utf-8"?>
<DataType Key="20ffbf3f-8d57-4efb-8459-da1db18e934f" Alias="NWB - Checkbox DATEV" Level="1">
  <Info>
    <Name>NWB - Checkbox DATEV</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Abschlussprüfung comfort"
    },
    {
      "id": 2,
      "value": "Anlagenbuchführung"
    },
    {
      "id": 3,
      "value": "Anwalt classic"
    },
    {
      "id": 4,
      "value": "DMS"
    },
    {
      "id": 5,
      "value": "Eigenorganisation"
    },
    {
      "id": 6,
      "value": "Kanzlei-Rechnungswesen"
    },
    {
      "id": 7,
      "value": "Kassenarchiv online"
    },
    {
      "id": 8,
      "value": "Kostenrechnung classic"
    },
    {
      "id": 9,
      "value": "LODAS"
    },
    {
      "id": 10,
      "value": "Lohn und Gehalt"
    },
    {
      "id": 11,
      "value": "Meine Steuern"
    },
    {
      "id": 12,
      "value": "Mittelstand Faktura"
    },
    {
      "id": 13,
      "value": "Mittelstand Faktura m. Rewe"
    },
    {
      "id": 14,
      "value": "Rechnungswesen kommunal"
    },
    {
      "id": 15,
      "value": "Telefonie Basis"
    },
    {
      "id": 16,
      "value": "Unternehmen online"
    }
  ]
}]]></Config>
</DataType>