<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f2bbd2e-4737-48db-81b5-6d2f31fa3bf1" Alias="NWB - Content VideoPicker" Level="1">
  <Info>
    <Name>NWB - Content VideoPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "videoDetail",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$site//videoUebersicht",
    "type": "content"
  }
}]]></Config>
</DataType>