<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bc3b6db4-e710-4751-a0e8-e4c7bd0b1fb8" Alias="NWB - Content Block Grid" Level="2">
  <Info>
    <Name>NWB - Content Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NWB+Relaunch</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "1ae0001e-a1dd-4667-b805-16fc40d10a1e",
      "name": "Section Auswahl"
    },
    {
      "key": "31271408-d64d-4eff-be49-2e849fd530aa",
      "name": "Elemente"
    },
    {
      "key": "982a42c1-3e7d-4941-a3c3-c62a3f9e424f",
      "name": "Texte"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "",
          "columnSpan": 12,
          "createLabel": null,
          "key": "273943a2-a167-4d4a-aaea-d13d43e27225",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b554e1db-f751-4ad7-bd22-2d6f5199d761",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "1ae0001e-a1dd-4667-b805-16fc40d10a1e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Section mit voller Breite",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "",
          "columnSpan": 12,
          "createLabel": null,
          "key": "7652ebce-138e-4609-8a12-78fb077c0fda",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6054d082-cc90-4274-b446-1073f65d080a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "1ae0001e-a1dd-4667-b805-16fc40d10a1e",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Section Container Breite",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b1a8fa18-97e5-41b8-abd9-70ed05bbdf1c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image-Video-Banner",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        }
      ],
      "contentElementTypeKey": "0f582d57-5f6c-4981-9706-d0c783e26d9a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Carousel",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "7a193927-a0c7-46e1-ab15-e7dca6bd1c38",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image-Banner Carousel",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 2
        }
      ],
      "contentElementTypeKey": "8612fcbf-8338-416d-bc57-2995dcf72cc4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Icon Link Liste",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "f0978239-2996-4013-a08d-44ffd9cf431a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Single Image",
      "rowMaxSpan": 99,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "2919fc7c-008f-4a1d-9daa-a9927cfb58fd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "ff066825-dd51-4001-b4bc-8a276500410b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Zitat",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "878e3174-b1b2-4688-8236-2a5d43d98710",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "73172a0c-9fae-4895-9ee3-1eb1c05f74a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Highlight Banner mit Box",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "2c71a533-2895-44fa-b9cd-31615e092523",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        }
      ],
      "contentElementTypeKey": "daff747b-a3bb-43cf-a747-3ebf30242c07",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Bild - Text - Call-to-Action",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "22a111eb-d028-44ec-90aa-334b9680df83",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "71dbec88-1e7d-418a-98dc-38613ef96a30",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Bilderstrecke",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "1431d383-833b-4e9a-b2ac-757872cd59dd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "FAQ",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "7a8fef26-c466-42e4-8bae-47c5a7d7af11",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0ccf141d-855d-4b3b-9987-45f8efe9a491",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "31271408-d64d-4eff-be49-2e849fd530aa",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "a2a4df10-3918-4412-9b02-1b152332cf2c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "1395eaaf-100a-4705-9a50-cb69d718481a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982a42c1-3e7d-4941-a3c3-c62a3f9e424f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "fb572131-366a-4ff6-9cce-12eab21c9e12",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6cc7cf8c-99dd-4ea6-98a1-242c2302f6a9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "982a42c1-3e7d-4941-a3c3-c62a3f9e424f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ceed12df-fe34-4d96-9646-3314622e374c",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": "~/css/nwb/umbBlockGridLayout.css",
  "MaxPropertyWidth": "100%",
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>