<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b1ae306-4f0e-43cf-a9d8-ba65e62edee3" Alias="NWB - Checkbox Languages" Level="1">
  <Info>
    <Name>NWB - Checkbox Languages</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Deutsch"
    },
    {
      "id": 2,
      "value": "Englisch"
    },
    {
      "id": 3,
      "value": "Spanisch"
    },
    {
      "id": 4,
      "value": "Französisch"
    }
  ]
}]]></Config>
</DataType>