<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83e2a4e7-3cb1-40a5-b1a2-55b70bc29db1" Alias="NWB - Desktop Carousel Item Count" Level="1">
  <Info>
    <Name>NWB - Desktop Carousel Item Count</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 4.0,
  "InitialValue2": 0.0,
  "MaximumValue": 6.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>