<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2da852c-317f-48a6-bdfb-96d8d2063287" Alias="NWB - DetailsBlockGrid" Level="1">
  <Info>
    <Name>NWB - DetailsBlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "36be2347-cee2-4996-a57d-5d35c027e518",
      "name": "Text Elemente"
    },
    {
      "key": "4b1782cc-610e-481b-a50d-b706b3e8cbc1",
      "name": "Images"
    },
    {
      "key": "8219d895-feea-4801-b4ad-fe2513e7ad35",
      "name": "Elements"
    },
    {
      "key": "bc36d96e-834f-40fd-af4e-b826d891f899",
      "name": "Layouts"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Fullwidth",
          "columnSpan": 12,
          "createLabel": null,
          "key": "1264e47d-55d7-4794-94d7-6b5553b83683",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "5158d26e-1472-496e-9575-7fd13c20c06e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "5d7e88ba-e2dc-470c-8e5c-7f87656f2480",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": null,
              "groupKey": "4b1782cc-610e-481b-a50d-b706b3e8cbc1",
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "dcff3eea-2cee-4874-a7a8-b17c2884da7b",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "a5f25fb0-85ed-4874-ba4d-60760192f19e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 9
        }
      ],
      "contentElementTypeKey": "4d1b140d-4174-46c7-8cc9-6911a416875d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "bc36d96e-834f-40fd-af4e-b826d891f899",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{headline}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "bdc8121e-7521-4148-b250-4765d1c3ccb5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "5d7e88ba-e2dc-470c-8e5c-7f87656f2480",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8219d895-feea-4801-b4ad-fe2513e7ad35",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Countdown",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "row",
          "columnSpan": 12,
          "createLabel": null,
          "key": "faad4837-1039-4119-834f-df5ee31c3bbf",
          "maxAllowed": null,
          "minAllowed": 1,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "5158d26e-1472-496e-9575-7fd13c20c06e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "4d1b140d-4174-46c7-8cc9-6911a416875d",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "dcff3eea-2cee-4874-a7a8-b17c2884da7b",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "53ca633f-4a5d-47f2-b8f5-ebb8df505718",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "a5f25fb0-85ed-4874-ba4d-60760192f19e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "b31b067a-bece-4ae6-a8a9-8d8ec57e28a0",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "bc36d96e-834f-40fd-af4e-b826d891f899",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Reihe",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "62ccc155-8fc9-4c91-957b-2c2fdca5d58b",
      "stylesheet": "~/css/blockgridLayout.css",
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "dcff3eea-2cee-4874-a7a8-b17c2884da7b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4b1782cc-610e-481b-a50d-b706b3e8cbc1",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Galerie",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 8
        }
      ],
      "contentElementTypeKey": "53ca633f-4a5d-47f2-b8f5-ebb8df505718",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "4b1782cc-610e-481b-a50d-b706b3e8cbc1",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ],
      "contentElementTypeKey": "5158d26e-1472-496e-9575-7fd13c20c06e",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "36be2347-cee2-4996-a57d-5d35c027e518",
      "iconColor": null,
      "inlineEditing": false,
      "label": "RichTextEditor",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "11fb7f22-36a3-475e-b911-c9bea93eafe4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "bc36d96e-834f-40fd-af4e-b826d891f899",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Highlight Fläche",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "87c3d6ed-0754-451b-a656-9ee95542be46",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "2b49e67a-3a3b-4e4f-b742-0e806722fdcd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8219d895-feea-4801-b4ad-fe2513e7ad35",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{personName}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "c8c84b01-cf06-42c4-bef0-5ae94329acea",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Fullwidth",
          "columnSpan": 12,
          "createLabel": null,
          "key": "e8fcdf01-08dc-4e34-9abc-73ab914cda07",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "2b49e67a-3a3b-4e4f-b742-0e806722fdcd",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "9c4c9ccc-bb53-4bda-a09e-863a1e783453",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "bc36d96e-834f-40fd-af4e-b826d891f899",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{headline}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "88b712c7-841f-4aa4-a28b-00dfa903142e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "a5f25fb0-85ed-4874-ba4d-60760192f19e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8219d895-feea-4801-b4ad-fe2513e7ad35",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": "100%",
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>