<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f56acf34-0ef8-45a6-ac69-785636eeb5ce" Alias="NWB - Data Security" Level="1">
  <Info>
    <Name>NWB - Data Security</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 3,
  "Minimum": 0
}]]></Config>
</DataType>