<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b93a793-c243-4c76-944b-3c90f95ba588" Alias="NWB - DetailBlockGrid" Level="1">
  <Info>
    <Name>NWB - DetailBlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "aaf2df5c-7460-4b2e-897e-eae3dd682c99",
      "name": "Layouts"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": "rgba(255, 255, 255, 0)",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "5158d26e-1472-496e-9575-7fd13c20c06e",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Listen Karte",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Fullwidth",
          "columnSpan": 12,
          "createLabel": null,
          "key": "bb10ece8-8b4b-4da9-bf79-85bbec91e2d6",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": [
            {
              "elementTypeKey": "5158d26e-1472-496e-9575-7fd13c20c06e",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            },
            {
              "elementTypeKey": "5d7e88ba-e2dc-470c-8e5c-7f87656f2480",
              "groupKey": null,
              "maxAllowed": null,
              "minAllowed": null
            }
          ]
        }
      ],
      "backgroundColor": "rgba(255, 255, 255, 0)",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 6
        }
      ],
      "contentElementTypeKey": "4d1b140d-4174-46c7-8cc9-6911a416875d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "aaf2df5c-7460-4b2e-897e-eae3dd682c99",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{headline}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "bdc8121e-7521-4148-b250-4765d1c3ccb5",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "5d7e88ba-e2dc-470c-8e5c-7f87656f2480",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "dcff3eea-2cee-4874-a7a8-b17c2884da7b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": null,
      "iconColor": null,
      "inlineEditing": false,
      "label": "Galerie",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>