<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e668049-8b66-4236-befe-365333cab5ec" Alias="NWB - Event Contact Description" Level="1">
  <Info>
    <Name>NWB - Event Contact Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 300,
  "Rows": null
}]]></Config>
</DataType>