<?xml version="1.0" encoding="utf-8"?>
<DataType Key="69174a06-10b7-4a54-8b8e-b0694442acf1" Alias="NWB - Experts" Level="1">
  <Info>
    <Name>NWB - Experts</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ef22f377-9d31-41a0-9e6f-5fbbbdb842fd",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{expertFirstname}} {{expertLastname}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": "800px",
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>