<?xml version="1.0" encoding="utf-8"?>
<DataType Key="460ff852-4fbd-4b56-811d-6e49fd0b3d99" Alias="NWB - EventCotactPersons" Level="1">
  <Info>
    <Name>NWB - EventCotactPersons</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "3392f694-24a7-470a-b8fa-87d2b9a66430",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 2,
    "min": 0
  }
}]]></Config>
</DataType>