<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f69d8898-f1a0-4969-99fc-17321fb1f26c" Alias="NWB - Email Image Picker" Level="1">
  <Info>
    <Name>NWB - Email Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>