<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e75f2efe-779b-49ff-8f39-a3a7100251e8" Alias="NWB - EventPrice" Level="1">
  <Info>
    <Name>NWB - EventPrice</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>