<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f04bda26-c398-448a-b571-debd708682f4" Alias="NWB - EventProgramUpload" Level="1">
  <Info>
    <Name>NWB - EventProgramUpload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "PDF"
    }
  ]
}]]></Config>
</DataType>