<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94484cb0-6d8d-4bd0-a2ad-13a1319e38bd" Alias="NWB  - FontWeight Picker" Level="1">
  <Info>
    <Name>NWB  - FontWeight Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "NWBTaxTech",
          "NWBTaxTech.Enumerations.FontWeight"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>