<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24c289e2-8a98-4fbe-a8fa-0cee08ff6a8c" Alias="NWB - Free Newsletters" Level="1">
  <Info>
    <Name>NWB - Free Newsletters</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "eaa43ac5-7fca-4bd6-9ebe-7f36ddfc92c5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{newsletterName}}",
      "settingsElementTypeKey": "6d7cb7ac-200d-40c6-8929-7149056f88a3",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>