<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3d78a8c6-928c-438c-9b69-af466bb4af37" Alias="NWB - Footer Contact Group Name" Level="1">
  <Info>
    <Name>NWB - Footer Contact Group Name</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>