<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a0ea5182-4bd8-42bf-a9b9-62c2d351bd57" Alias="NWB - Feedback Toggle" Level="1">
  <Info>
    <Name>NWB - Feedback Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Aus",
  "LabelOn": "An",
  "ShowLabels": true
}]]></Config>
</DataType>