<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0505f887-5fd0-4bd7-b2a0-c1fca8a98648" Alias="NWB FullItem-Picker" Level="1">
  <Info>
    <Name>NWB FullItem-Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "articleDetail,eventDetail,literatureDetail,organisationDetail,podcastAnsicht,videoDetail",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>