<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0cd7330-88ca-4d93-a6d1-29969927a49a" Alias="NWB - Highlight Item Picker" Level="1">
  <Info>
    <Name>NWB - Highlight Item Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag,articleDetail,videoDetail,eventDetail,literatureDetail,organisationDetail,podcastAnsicht",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/870964813b914c73bf0892ed7ea83a83",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>