<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc5085e2-382b-4e23-9f60-729530b4c6b7" Alias="NWB - HeadingType Picker" Level="1">
  <Info>
    <Name>NWB - HeadingType Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "NWBTaxTech",
          "NWBTaxTech.Enumerations.Headings"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>