<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6adcb135-5641-479f-880e-2beb257ab68d" Alias="NWB - Icon Library Picker" Level="2">
  <Info>
    <Name>NWB - Icon Library Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NWB+Relaunch</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/9bd6ecac3f06440b878edb9401672db0",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>