<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cef2028d-0651-4fb1-859c-63106282429f" Alias="NWB - LineHeight Slider" Level="1">
  <Info>
    <Name>NWB - LineHeight Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MaximumValue": 2.0,
  "MinimumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>