<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd5cfc69-721b-4787-9fab-210c90b33c14" Alias="NWB - Literature Sample" Level="1">
  <Info>
    <Name>NWB - Literature Sample</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "pdf"
    }
  ]
}]]></Config>
</DataType>