<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81df06a2-941f-4e3e-8cf7-7ef90462daa2" Alias="NWB - Literature Content Picker" Level="1">
  <Info>
    <Name>NWB - Literature Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "literatureDetail",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>