<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e9c6ebc-f2ec-43bd-a40f-59eff065ce1e" Alias="NWB - List Items" Level="1">
  <Info>
    <Name>NWB - List Items</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>