<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3750864c-780f-48f9-a4c8-2a61cb0a259a" Alias="NWB - Literature Format" Level="1">
  <Info>
    <Name>NWB - Literature Format</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Zeitschrift"
    },
    {
      "id": 2,
      "value": "Fachbuch"
    },
    {
      "id": 3,
      "value": "Kommentar"
    },
    {
      "id": 4,
      "value": "Blog"
    },
    {
      "id": 5,
      "value": "Website"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>