<?xml version="1.0" encoding="utf-8"?>
<DataType Key="993b3c66-9b39-490e-b3c5-a7469d742c33" Alias="NWB - Logo Picker" Level="1">
  <Info>
    <Name>NWB - Logo Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>