<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a0be837-89fa-4b0a-a4ae-566fb3a82d96" Alias="NWB - Modell Preis" Level="1">
  <Info>
    <Name>NWB - Modell Preis</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>