<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44a2949c-5f01-4fc1-a6d0-814873a6d97a" Alias="NWB - Modal Titel" Level="1">
  <Info>
    <Name>NWB - Modal Titel</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 64
}]]></Config>
</DataType>