<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7af58875-bb4e-4afb-9803-33c64987f7f2" Alias="NWB - Main Navigation Picker" Level="1">
  <Info>
    <Name>NWB - Main Navigation Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 8,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "",
    "type": "content"
  }
}]]></Config>
</DataType>