<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a97d45e3-e284-4b7d-b99a-b9966b731d1a" Alias="NWB - MainSlide - Slidetyp - Dropdown" Level="1">
  <Info>
    <Name>NWB - MainSlide - Slidetyp - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Hauptbild mittig"
    },
    {
      "id": 2,
      "value": "Hauptbild links"
    },
    {
      "id": 3,
      "value": "Hauptbild rechts"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>