<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2794de8c-ec60-444e-99ff-3b49b8d34028" Alias="NWB - Media Server Audio File Picker" Level="1">
  <Info>
    <Name>NWB - Media Server Audio File Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaAudio",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/bc3f846906b1451d84515e6e3c6af9ac",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>