<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f615bf90-53fa-4e35-a672-9f4b36ee181a" Alias="NWB - More Links" Level="1">
  <Info>
    <Name>NWB - More Links</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": true,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 5,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>