<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0f911fe-f6fb-448a-b947-99ec3f90a1b2" Alias="NWB - Mobile Carousel Item Count" Level="1">
  <Info>
    <Name>NWB - Mobile Carousel Item Count</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 0.0,
  "MaximumValue": 4.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>