<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7eea66d-ece0-492e-be88-6713b90f194e" Alias="NWB - Note mainSlide" Level="1">
  <Info>
    <Name>NWB - Note mainSlide</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p>Die Koordinaten-Arrays richten sich nach diesen Viewports (in Pixel):<br><strong>[1240, 1024, 778, 480] </strong></p>\n<p>Eingabe dann z.B. ['0','0','0','0'] - setzt das entsprechende Elemente bei allen Auflösungen auf die Koordinate 0</p>\n<p>Die Standard-Koordinaten unten richten sich nach gewähltem Slider-Typ (links, mitte, rechts)</p>",
  "hideLabel": "1",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>