<?xml version="1.0" encoding="utf-8"?>
<DataType Key="551a831b-de4a-4e1f-8c6c-3bc6f023f2ae" Alias="NWB - Newsletter Premium PageSize" Level="1">
  <Info>
    <Name>NWB - Newsletter Premium PageSize</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 6.0,
  "InitialValue2": 0.0,
  "MaximumValue": 12.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>