<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fb50eb3d-daf2-4801-a18e-353bf42eed15" Alias="NWB - Newsfeed Fallback Image Picker" Level="1">
  <Info>
    <Name>NWB - Newsfeed Fallback Image Picker</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "newsFeedCarousel",
      "height": 354,
      "label": "newsFeedCarousel",
      "width": 630
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>