<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ee56050-27fd-4e24-afc9-08c004f085c1" Alias="NWB - OverviewPage BlockGrid" Level="1">
  <Info>
    <Name>NWB - OverviewPage BlockGrid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [],
  "Blocks": [],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>