<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f51486be-f4af-401e-895f-ddd719cafeec" Alias="NWB - Opening Hours" Level="1">
  <Info>
    <Name>NWB - Opening Hours</Name>
    <EditorAlias>Umbraco.Community.Contentment.ListItems</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hideIcon": "1",
  "hideDescription": "1",
  "confirmRemoval": "1",
  "maxItems": 0,
  "enableDevMode": "0"
}]]></Config>
</DataType>