<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3e3b1dd-a922-447c-bbd8-8faa21698a8f" Alias="NWB - Organisation Founding Date" Level="1">
  <Info>
    <Name>NWB - Organisation Founding Date</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "DD.MM.YYYY",
  "OffsetTime": false
}]]></Config>
</DataType>