<?xml version="1.0" encoding="utf-8"?>
<DataType Key="639a70fc-5b3c-4f8c-9b0e-531b9e44743c" Alias="NWB - Organisation Locations" Level="1">
  <Info>
    <Name>NWB - Organisation Locations</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "233af8fb-fa33-4beb-88c2-21cdc1aa0a5f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>