<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae67de1e-33a4-40a4-bf00-217e552db48b" Alias="NWB - Provider Icon Picker" Level="1">
  <Info>
    <Name>NWB - Provider Icon Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>