<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0fd85d7-066f-4e50-9125-6f4e9e768684" Alias="NWB - Published DatePicker" Level="1">
  <Info>
    <Name>NWB - Published DatePicker</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "DD.MM.YYYY",
  "OffsetTime": false
}]]></Config>
</DataType>