<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17407f40-4bb9-47c2-8ff5-b33d6654160c" Alias="NWB - Pinned Home" Level="1">
  <Info>
    <Name>NWB - Pinned Home</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6f0eb022-4062-4754-af89-dad826e9678b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Home Seite",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 1,
    "min": 1
  }
}]]></Config>
</DataType>