<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43ccf233-930f-4b52-ae01-7c0d21366792" Alias="NWB - Podcast - Image Media Picker" Level="1">
  <Info>
    <Name>NWB - Podcast - Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "detailStageImage",
      "height": 500,
      "label": "Detail Stage Image",
      "width": 500
    },
    {
      "alias": "podcastPreviewEpisode",
      "height": 240,
      "label": "Podcast Vorschau Folge",
      "width": 400
    },
    {
      "alias": "organisationImageCrop",
      "height": 400,
      "label": "Organisationsbild",
      "width": 400
    },
    {
      "alias": "articleAreasImage",
      "height": 174,
      "label": "Artikel Flächen",
      "width": 309
    },
    {
      "alias": "articleAreasImageSp",
      "height": 360,
      "label": "Artikel Flächen volle Breite",
      "width": 600
    },
    {
      "alias": "detailBackgroundImage",
      "height": 700,
      "label": "Detail Background Image",
      "width": 2000
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>