<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1cc9fcf-7900-4cb8-99c5-43433f138b04" Alias="NWB-Padding-Margin-Slider" Level="1">
  <Info>
    <Name>NWB-Padding-Margin-Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.0,
  "InitialValue2": 0.0,
  "MaximumValue": 6.0,
  "MinimumValue": 0.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>