<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a109051-506f-44c3-9b54-76d134e03ae2" Alias="NWB - PreviewText (75)" Level="1">
  <Info>
    <Name>NWB - PreviewText (75)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 75
}]]></Config>
</DataType>