<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a20f297c-e3f2-4f5f-b2a1-2b68afa83d89" Alias="NWB - Pinned Toggle" Level="1">
  <Info>
    <Name>NWB - Pinned Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Nicht angepinnt",
  "LabelOn": "Angepinnt",
  "ShowLabels": true
}]]></Config>
</DataType>