<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8adf2efc-4ee5-4fe1-9800-0a094e414d60" Alias="NWB - Podcast-Platform-Dropdown" Level="1">
  <Info>
    <Name>NWB - Podcast-Platform-Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Spotify"
    },
    {
      "id": 2,
      "value": "Google"
    },
    {
      "id": 3,
      "value": "Apple"
    },
    {
      "id": 4,
      "value": "Audible"
    },
    {
      "id": 5,
      "value": "Podcast.de"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>