<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bff3c141-79f1-46b7-802b-97703bb86be1" Alias="NWB - PreviewText (100)" Level="1">
  <Info>
    <Name>NWB - PreviewText (100)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100
}]]></Config>
</DataType>