<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48b6f4a8-91a3-43a9-83ef-05f5f2e0d780" Alias="NWB - Package Image Picker" Level="1">
  <Info>
    <Name>NWB - Package Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>