<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa86b5c5-cfae-4439-825d-587db8c1b7c1" Alias="NWB - PriceModel -CheckboxList" Level="1">
  <Info>
    <Name>NWB - PriceModel -CheckboxList</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Kostenlose Basisversion"
    },
    {
      "id": 2,
      "value": "Abonnement"
    },
    {
      "id": 3,
      "value": "Gratis Testversion"
    }
  ]
}]]></Config>
</DataType>