<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0dc622e0-e6ed-4165-8f55-6f00ce39fb21" Alias="NWB - Provider Locations" Level="1">
  <Info>
    <Name>NWB - Provider Locations</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 8,
  "Minimum": 0
}]]></Config>
</DataType>