<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1dcdcd5f-d8be-46bd-8082-097759cc46a3" Alias="NWB - Related Links" Level="1">
  <Info>
    <Name>NWB - Related Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d3c5befd-3cdc-45d3-9e8d-0f4fda443614",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Links",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 4,
    "min": null
  }
}]]></Config>
</DataType>