<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df1fd81f-2d6b-4a95-83f0-f464ec5c3921" Alias="NWB - Role String" Level="1">
  <Info>
    <Name>NWB - Role String</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>