<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1bb564ec-6873-4635-89a8-0cf6ebe7b14c" Alias="NWB - Rich Text Editor" Level="2">
  <Info>
    <Name>NWB - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>NWB+Relaunch</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "forecolor",
      "fontsizeinput ",
      "LineHeight"
    ],
    "stylesheets": [
      "/css/nwb/typograhie.css"
    ],
    "maxImageSize": 1000,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>