<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94ea886a-6f2a-465f-9dee-2290980c9981" Alias="NWB - References Medias" Level="1">
  <Info>
    <Name>NWB - References Medias</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>