<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a02b1f36-97c0-4ae2-8a0b-48dc5ab1eea4" Alias="NWB - Related Link Picker" Level="1">
  <Info>
    <Name>NWB - Related Link Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.IconPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>