<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2a4026b-b8cc-402b-85fa-0f292e40820b" Alias="NWB - Subjects List" Level="1">
  <Info>
    <Name>NWB - Subjects List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0ab4d9c5-3459-4d0e-9a16-06a8c2237335",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ subjectLink[0].name ? subjectLink[0].name : 'Themenbutton' }}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>