<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eab11c48-2d35-4b62-badb-c318270e77ba" Alias="NWB - System" Level="1">
  <Info>
    <Name>NWB - System</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Cloud"
    },
    {
      "id": 2,
      "value": "Lokal"
    },
    {
      "id": 3,
      "value": "App"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>