<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bf2227a-4bb2-45b5-9227-087e4bc45a3d" Alias="NWB - SocialMedia AccountIds" Level="1">
  <Info>
    <Name>NWB - SocialMedia AccountIds</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>