<?xml version="1.0" encoding="utf-8"?>
<DataType Key="471a58db-8546-4b33-baa7-6d77d9e11e00" Alias="NWB - Tool Media Items (Screenshots)" Level="1">
  <Info>
    <Name>NWB - Tool Media Items (Screenshots)</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "galleryThumbnail",
      "height": 360,
      "label": "Gallery Thumbnail",
      "width": 640
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>