<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c6c48cf-c721-47e5-88c1-22434c900bec" Alias="NWB - Tool Section Description (2000)" Level="1">
  <Info>
    <Name>NWB - Tool Section Description (2000)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 2000,
  "Rows": null
}]]></Config>
</DataType>