<?xml version="1.0" encoding="utf-8"?>
<DataType Key="97781436-862d-4775-b800-d67fad1439c0" Alias="NWB - Tags ToolsPicker" Level="1">
  <Info>
    <Name>NWB - Tags ToolsPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/044b7bfb04aa422db5008922b63a3989",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>