<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84886583-6c6c-4028-a2b8-08c7f5143261" Alias="NWB - Tool-Provider Multi Media Picker" Level="1">
  <Info>
    <Name>NWB - Tool-Provider Multi Media Picker</Name>
    <EditorAlias>ToolProviderMultiMediaPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>