<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66d2859e-149d-48e7-a341-d45ab4378cb1" Alias="NWB - Tool Preview Image MediaPicker" Level="1">
  <Info>
    <Name>NWB - Tool Preview Image MediaPicker</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "tutorialPreview",
      "height": 288,
      "label": "Tutorial Vorschau",
      "width": 512
    },
    {
      "alias": "articlePreview",
      "height": 277,
      "label": "Artikel Vorschau",
      "width": 416
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics,youtubeMedia",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>