<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b4785e0-42ad-470b-a058-8cc49c40caeb" Alias="NWB - Tool Highlights" Level="1">
  <Info>
    <Name>NWB - Tool Highlights</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 5,
  "Minimum": 0
}]]></Config>
</DataType>