<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7db7b97c-eac4-47f7-b5cc-6dfc5484c131" Alias="NWB - Tool Highlight Description" Level="1">
  <Info>
    <Name>NWB - Tool Highlight Description</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "items": [],
  "maxChars": 150,
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>