<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ffc57d4-90a6-4d24-be87-f9574f25499e" Alias="NWB - Tax Audits Yearly Group Results" Level="1">
  <Info>
    <Name>NWB - Tax Audits Yearly Group Results</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0591d548-2614-41d2-8fe4-2ba6909c1b20",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockListViews/SingleDataSet/single.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/SingleDataSet/single.html"
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>