<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b35652be-59ef-4960-a36b-2c509c9b0290" Alias="NWB - Tags RecipientsPicker" Level="1">
  <Info>
    <Name>NWB - Tags RecipientsPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root/tagRepositories/tagsRepositoryRecipients",
    "type": "content"
  }
}]]></Config>
</DataType>