<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de20bca3-90de-4a88-ade6-8b72b65c552b" Alias="NWB - Tool- and Provider Name" Level="1">
  <Info>
    <Name>NWB - Tool- and Provider Name</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 35
}]]></Config>
</DataType>