<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13951be7-cf47-4ce5-b084-be617a463f8d" Alias="NWB - Tablet Carousel Item Count" Level="1">
  <Info>
    <Name>NWB - Tablet Carousel Item Count</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 3.0,
  "InitialValue2": 0.0,
  "MaximumValue": 6.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>