<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ddc53a7-2cb3-4dc1-86a7-93cee30aa7b4" Alias="NWB - Tool Funktionen" Level="1">
  <Info>
    <Name>NWB - Tool Funktionen</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 10,
  "Minimum": 0
}]]></Config>
</DataType>