<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15454d43-36c6-4a55-9307-9ac539497b0b" Alias="NWB Toggle - Blurr Effect" Level="1">
  <Info>
    <Name>NWB Toggle - Blurr Effect</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Aktiviert",
  "LabelOn": "Deaktiviert",
  "ShowLabels": true
}]]></Config>
</DataType>