<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31bf29ae-84eb-4fc6-a675-d1bab2869974" Alias="NWB - Tool Highlight Headline" Level="1">
  <Info>
    <Name>NWB - Tool Highlight Headline</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "placeholderText": "Headline",
  "items": [],
  "maxChars": 35,
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>