<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e810d6ff-f7b6-4148-ae49-6106f8367c7a" Alias="NWB - Tools Screenshots" Level="1">
  <Info>
    <Name>NWB - Tools Screenshots</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 5,
    "min": null
  }
}]]></Config>
</DataType>