<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec8aa363-c7c5-4cc3-8fea-ba979c586c98" Alias="NWB - Tags TopicPicker" Level="1">
  <Info>
    <Name>NWB - Tags TopicPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "tag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root/tagRepositories/tagsRepositoryTopics",
    "type": "content"
  }
}]]></Config>
</DataType>