<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05534521-72c4-47a3-b4cf-1b320de2da7b" Alias="NWB - Tools Videos" Level="1">
  <Info>
    <Name>NWB - Tools Videos</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>