<?xml version="1.0" encoding="utf-8"?>
<DataType Key="711949bf-b239-43de-b36e-aa73240405b2" Alias="NWB - Tools Price Model - Features" Level="1">
  <Info>
    <Name>NWB - Tools Price Model - Features</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>