<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d503e8e1-0d91-4343-8e68-6e995674a9ec" Alias="NWB - TextAlign Picker" Level="1">
  <Info>
    <Name>NWB - TextAlign Picker</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "NWBTaxTech",
          "NWBTaxTech.Enumerations.TextAlign"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>