<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fa18862-2c8e-4411-90d4-3e12868c4078" Alias="NWB - Tool Image  Media Picker" Level="1">
  <Info>
    <Name>NWB - Tool Image  Media Picker</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "logoHeadArea",
      "height": 150,
      "label": "Logo Head Area",
      "width": 150
    },
    {
      "alias": "toolHeaderImage",
      "height": 450,
      "label": "Tool Header Image",
      "width": 1320
    },
    {
      "alias": "toolHeaderImageMobile",
      "height": 600,
      "label": "Tool Header Image Mobile",
      "width": 800
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>