<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47101e69-4315-4dfd-b194-902125f847d5" Alias="NWB Tax and Bytes Content Picker" Level="1">
  <Info>
    <Name>NWB Tax and Bytes Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "articleDetail,eventDetail,literatureDetail,organisationDetail,podcastAnsicht",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 4,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>