<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c692c307-51d5-43b7-bcb4-7c3770a71094" Alias="NWB - Topic Contact Person Picker" Level="1">
  <Info>
    <Name>NWB - Topic Contact Person Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "contact",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/ccfafd6c6830443bb81fe5721aa07ef1",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>