<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26c12105-417d-401a-8575-144dce3f14f4" Alias="NWB - Topic Media Picker" Level="1">
  <Info>
    <Name>NWB - Topic Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "topic",
      "height": 720,
      "label": "Topic",
      "width": 1280
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>