<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bcb30fda-759d-44f2-ae65-67413a1b00e6" Alias="NWB - Tax Audits Yearly Results" Level="1">
  <Info>
    <Name>NWB - Tax Audits Yearly Results</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6c38baed-6e80-48f7-910b-dbf503245753",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockListViews/GroupDataSet/group.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/GroupDataSet/group.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0591d548-2614-41d2-8fe4-2ba6909c1b20",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{auditName}}",
      "settingsElementTypeKey": null,
      "stylesheet": "~/App_Plugins/BlockListViews/SingleDataSet/single.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/SingleDataSet/single.html"
    }
  ],
  "MaxPropertyWidth": "100%",
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>