<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce9c89ee-9666-41f7-8b0b-3cc54e8d3f06" Alias="NWB - Tool Reference Images" Level="1">
  <Info>
    <Name>NWB - Tool Reference Images</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "reference",
      "height": 125,
      "label": "Referenz",
      "width": 190
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>