<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a67e8fe6-9500-4b3f-9a27-912d2b7cadb8" Alias="NWB - Tool Media Items (Videos)" Level="1">
  <Info>
    <Name>NWB - Tool Media Items (Videos)</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "galleryThumbnail",
      "height": 360,
      "label": "Gallery Thumbnail",
      "width": 640
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "youtubeMedia",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>