<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b21d4fc3-7abd-4c05-a948-ce2a2fdd45e6" Alias="NWB - Tool SponsoredPost Title Image" Level="1">
  <Info>
    <Name>NWB - Tool SponsoredPost Title Image</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "articleDetailTitleImage",
      "height": 275,
      "label": "Artikel Detail Titelbild",
      "width": 600
    },
    {
      "alias": "articlePreview",
      "height": 277,
      "label": "Artikel Vorschau",
      "width": 416
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>