<?xml version="1.0" encoding="utf-8"?>
<DataType Key="302c531e-9ef1-475f-9502-131fd1eaf218" Alias="NWB - Tools Additional Interfaces" Level="1">
  <Info>
    <Name>NWB - Tools Additional Interfaces</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 3,
  "Minimum": 0
}]]></Config>
</DataType>