<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca9b9c74-ea15-4d6f-a570-2ae63fbf945c" Alias="NWB - Tool Short Description" Level="1">
  <Info>
    <Name>NWB - Tool Short Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100,
  "Rows": 3
}]]></Config>
</DataType>