<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e190465b-8183-4c12-a75d-8c3f4d43d7aa" Alias="NWB - Tool Video Media Picker" Level="1">
  <Info>
    <Name>NWB - Tool Video Media Picker</Name>
    <EditorAlias>ToolMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "maxRes",
      "height": 720,
      "label": "Max Res",
      "width": 1280
    },
    {
      "alias": "tutorialPreview",
      "height": 288,
      "label": "Tutorial Vorschau",
      "width": 512
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "youtubeMedia",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>