<?xml version="1.0" encoding="utf-8"?>
<DataType Key="215b1437-49bc-4771-a6f0-af52fe393e50" Alias="NWB - Tool Price Description" Level="1">
  <Info>
    <Name>NWB - Tool Price Description</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 300,
  "Rows": 5
}]]></Config>
</DataType>