<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32f907f0-f203-45cc-8731-0b63d0eea5cc" Alias="NWB - Visibility Toggle" Level="1">
  <Info>
    <Name>NWB - Visibility Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Ausgeblendet",
  "LabelOn": "Sichtbar",
  "ShowLabels": true
}]]></Config>
</DataType>