<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78206786-a6c7-4c5d-a44d-24b7a5c9af37" Alias="NWB-Verical-AlignmentSettings" Level="1">
  <Info>
    <Name>NWB-Verical-AlignmentSettings</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "oben"
    },
    {
      "id": 2,
      "value": "mitte"
    },
    {
      "id": 3,
      "value": "unten"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>