<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd8312a9-fa19-4854-be65-8168f8053e28" Alias="NWB - YoutubeMedia Thumbnail Select" Level="1">
  <Info>
    <Name>NWB - YoutubeMedia Thumbnail Select</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "NWBTaxTech",
          "NWBTaxTech.Enumerations.YoutubeThumbnailSize"
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>