<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce286e4d-4934-4ba7-869a-afefc97f53f0" Alias="NWB - Youtube Thumbnail Upload" Level="1">
  <Info>
    <Name>NWB - Youtube Thumbnail Upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": "png"
    },
    {
      "id": 0,
      "value": "svg"
    },
    {
      "id": 0,
      "value": "jpg"
    },
    {
      "id": 0,
      "value": "jpeg"
    }
  ]
}]]></Config>
</DataType>