<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bcbc4ae-bd73-4fa5-b76a-5c0805ba3f33" Alias="ogImage Picker" Level="1">
  <Info>
    <Name>ogImage Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>