<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a964608d-9a92-47e4-b327-bdfd9c288e10" Alias="ogType - Dropdown" Level="1">
  <Info>
    <Name>ogType - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "website"
    },
    {
      "id": 2,
      "value": "article"
    },
    {
      "id": 3,
      "value": "video"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>