<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4d7c4acd-7ea6-4a8d-a261-8ac60932c5fc" Alias="Organisation Übersicht - Crop Hilfe - [Contentment] Note" Level="1">
  <Info>
    <Name>Organisation Übersicht - Crop Hilfe - [Contentment] Note</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p><strong>Hier haben Sie Bilder, die beim Verständnis der Crop's helfen sollen. Die Bilder sind jeweils mit dem dazugehörigen Crop-Namen und einem roten Rahmen versehen.</strong></p>\n<p> </p>\n<div style=\"border: solid;\">\n<p style=\"color: red;\"><strong>Einleitungsbild</strong></p>\n<p><strong><img src=\"/media/ywgd3kzx/einleitungsbild.png?rmode=max&amp;width=928&amp;height=438\" alt=\"\" width=\"928\" height=\"438\" data-udi=\"umb://media/ab2e8dc3e7374b08be1356a87acf7273\"></strong></p>\n</div>\n<p> </p>\n<p> </p>\n<div style=\"border: solid;\">\n<p style=\"color: red;\"><strong>Ihre Meinung ist uns wichtig!</strong></p>\n<p><strong><img src=\"/media/ya4jpmze/ihre-meinung-ist-uns-wichtig.png?rmode=max&amp;width=927&amp;height=454\" alt=\"\" width=\"927\" height=\"454\" data-udi=\"umb://media/b3973dc65f2444b4bf9beeb86d7b7783\"></strong></p>\n</div>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>