<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9bc5128-56db-4105-9767-cf6328d987a9" Alias="Organisation Übersicht - [Contentment] Notes" Level="1">
  <Info>
    <Name>Organisation Übersicht - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p><strong>Diese Box wird einheitlich auf allen Organisations-Detailseiten in der rechten Spalte angezeigt.</strong></p>",
  "hideLabel": "1",
  "hidePropertyGroup": "1"
}]]></Config>
</DataType>