<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7c9d1b16-285f-4ae0-ad6a-486132098e7f" Alias="Overview  Media Picker" Level="1">
  <Info>
    <Name>Overview  Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "introImageCrop",
      "height": 400,
      "label": "Einleitungsbild",
      "width": 450
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>