<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c86bae37-d761-4fea-919c-0ec8c3c1acfc" Alias="Podigee - Episoden - Block List" Level="1">
  <Info>
    <Name>Podigee - Episoden - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "473b5763-03e6-4ff5-b56c-7be6d54bd9d7",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{episodeInfo + \" - \"  + episodeTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>