<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d0a2aad-ad77-4bed-be68-a5f406d21de9" Alias="Pressemeldungen - Multinode Treepicker" Level="1">
  <Info>
    <Name>Pressemeldungen - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "pressreport",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/d2a4ae81537e4ffe98f7b7b280a7e78a",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>