<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f188a2e6-8409-4525-be04-93f87793b57d" Alias="Pressemeldungen - Anzahl pro Seite" Level="1">
  <Info>
    <Name>Pressemeldungen - Anzahl pro Seite</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "size": "s"
}]]></Config>
</DataType>