<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c02c6b35-d7f2-4276-824b-db1ea1258a94" Alias="Schlagworte - Such-Synonyme für Tools" Level="1">
  <Info>
    <Name>Schlagworte - Such-Synonyme für Tools</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>