<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afeb11a0-4995-403a-afe0-a9edb2959e26" Alias="Social Media Links - Platform - [Contentment] Data List" Level="1">
  <Info>
    <Name>Social Media Links - Platform - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.EnumDataListSource, Umbraco.Community.Contentment",
      "value": {
        "enumType": [
          "NWBTaxTech",
          "NWBTaxTech.Enumerations.SocialMediaPlatforms"
        ],
        "sortAlphabetically": "1"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>