<?xml version="1.0" encoding="utf-8"?>
<DataType Key="799abefc-c097-4f00-88a8-0fe8e91a8eb7" Alias="Tools Section - Basis Platzhalter - Media Picker" Level="1">
  <Info>
    <Name>Tools Section - Basis Platzhalter - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "toolHeaderImage",
      "height": 450,
      "label": "Tool Header Image",
      "width": 1320
    },
    {
      "alias": "toolHeaderImageMobile",
      "height": 600,
      "label": "Tool Header Image Mobile",
      "width": 800
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,File",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>