<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ccb7e682-fc47-4b62-a7fa-9a545a0bb683" Alias="Tool - DATEV - [Contentment] Data List" Level="1">
  <Info>
    <Name>Tool - DATEV - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.JsonDataListSource, Umbraco.Community.Contentment",
      "value": {
        "url": "/contentment/datev.json",
        "itemsJsonPath": "$[*]",
        "nameJsonPath": "$.name",
        "valueJsonPath": "$.value",
        "iconJsonPath": "$.icon",
        "descriptionJsonPath": "$.description"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.CheckboxListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "0",
        "showIcons": "0"
      }
    }
  ]
}]]></Config>
</DataType>