<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d9ab8796-04b9-4119-802d-502e79b6da82" Alias="Tool - Highlights - Block List" Level="1">
  <Info>
    <Name>Tool - Highlights - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c48795a3-8044-4a9c-91d9-834b12344ba1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{highlightHeadline}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>