<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17d0b876-474a-4978-b568-fa88c46e6021" Alias="Video Ansicht - Vorschau - Media Picker" Level="1">
  <Info>
    <Name>Video Ansicht - Vorschau - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "previewImageCrop",
      "height": 234,
      "label": "Video Vorschau",
      "width": 416
    },
    {
      "alias": "highlightFullWidth",
      "height": 290,
      "label": "Hightlight Full Width",
      "width": 408
    },
    {
      "alias": "videoBig",
      "height": 720,
      "label": "Video Big",
      "width": 1280
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>