<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a0462af-bba6-473d-bbab-065519684cc9" Alias="Video Ansicht - [Contentment] Notes" Level="1">
  <Info>
    <Name>Video Ansicht - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p>Die YouTube Video ID ist in der URL der Wert des QueryParameters <strong>v</strong></p>\n<p>Beispiel:<br><a href=\"https://www.youtube.com/watch?v=cmn_puM4zTg\">https://www.youtube.com/watch?v=<strong>cmn_puM4zTg</strong></a><br><br>Der Wert des QueryParameters <strong>v</strong> ist <strong>cmn_puM4zTg </strong>und somit die YouTube Video ID</p>",
  "hideLabel": "1",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>