<?xml version="1.0" encoding="utf-8"?>
<DataType Key="178808e5-955f-4996-ae64-c73229c61f74" Alias="Video Übersicht - Crop Hilfe - [Contentment] Notes" Level="1">
  <Info>
    <Name>Video Übersicht - Crop Hilfe - [Contentment] Notes</Name>
    <EditorAlias>Umbraco.Community.Contentment.Notes</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "notes": "<p><strong>Hier haben Sie Bilder, die beim Verständnis der Crop's helfen sollen. Die Bilder sind jeweils mit dem dazugehörigen Crop-Namen und mit einem roten Rahmen versehen.</strong></p>\n<p> </p>\n<p> </p>\n<div style=\"border: solid;\">\n<p style=\"color: red;\"><strong>Einleitungsbild</strong></p>\n<p><strong><img src=\"/media/2f4dnn4v/einleitungsbild.png?rmode=max&amp;width=977&amp;height=461\" alt=\"\" width=\"977\" height=\"461\" data-udi=\"umb://media/b7367de7bfd549f7a0f175c52af48dd9\"></strong></p>\n</div>",
  "hideLabel": "0",
  "hidePropertyGroup": "0"
}]]></Config>
</DataType>