<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d862089-3f36-4305-a19e-fca9c2a9156c" Alias="Video Übersicht - Videos pro Seite - Numeric" Level="1">
  <Info>
    <Name>Video Übersicht - Videos pro Seite - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>