<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12f8a838-7dce-45ff-bc54-2387bc104235" Alias="View Media Picker" Level="1">
  <Info>
    <Name>View Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "articleDetailTitleImage",
      "height": 275,
      "label": "Artikel Detail Titelbild",
      "width": 600
    },
    {
      "alias": "previewImageCrop",
      "height": 320,
      "label": "Vorschaubild",
      "width": 400
    },
    {
      "alias": "articleImageCrop",
      "height": 277,
      "label": "Artikelbild",
      "width": 416
    },
    {
      "alias": "articleOverviewImage",
      "height": 497,
      "label": "Artikel Übersicht Titelbild",
      "width": 746
    },
    {
      "alias": "articleAreasImage",
      "height": 174,
      "label": "Artikel Flächen",
      "width": 309
    },
    {
      "alias": "articleAreasImageSp",
      "height": 360,
      "label": "Artikel Flächen volle Breite",
      "width": 600
    },
    {
      "alias": "articleAreasImageBig",
      "height": 560,
      "label": "Artikel Fläche Groß",
      "width": 1300
    },
    {
      "alias": "highlightFullWidth",
      "height": 290,
      "label": "Highlight Volle Breite",
      "width": 408
    },
    {
      "alias": "highlightStagePadding",
      "height": 400,
      "label": "Highlight Stage Padding",
      "width": 600
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>