<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25523b5d-5df8-4324-b379-28d5a5c2fb90" Alias="Werbekunde - Erlaube Seiten - Multinode Treepicker" Level="1">
  <Info>
    <Name>Werbekunde - Erlaube Seiten - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/870964813b914c73bf0892ed7ea83a83",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>