<?xml version="1.0" encoding="utf-8"?>
<Content Key="99efee96-bb17-4bb9-9255-e9eb5311bb91" Alias="Grid Test" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/GridTest</Path>
    <Trashed Parent="d381e084-dcd5-4070-9d51-0488cf68cb01">true</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2024-08-05T14:55:43</CreateDate>
    <NodeName Default="Grid Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a5a56a8-6fc8-4a2e-89ea-167eb880fdc5">Journey</Template>
  </Info>
  <Properties>
    <b_media>
      <Value><![CDATA[[
  {
    "key": "70cc8e32-d49a-46d6-ac3d-2c63ad7c1d88",
    "mediaKey": "a6fbbb91-2ac6-4b57-a71c-d89b77c41477"
  }
]]]></Value>
    </b_media>
    <b_mobileMedia>
      <Value><![CDATA[[]]]></Value>
    </b_mobileMedia>
    <case_heading>
      <Value><![CDATA[]]></Value>
    </case_heading>
    <case_links>
      <Value><![CDATA[]]></Value>
    </case_links>
    <cmp_description>
      <Value><![CDATA[]]></Value>
    </cmp_description>
    <cmp_heading>
      <Value><![CDATA[]]></Value>
    </cmp_heading>
    <cmp_video>
      <Value><![CDATA[[]]]></Value>
    </cmp_video>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7c3b8da71cfa45409009dc85bd0d2318",
        "settingsUdi": "umb://element/4e4778068c6746e2acc45c9cc8763177",
        "areas": [
          {
            "key": "7652ebce-138e-4609-8a12-78fb077c0fda",
            "items": [
              {
                "contentUdi": "umb://element/17a7430109e1489c804d1ebbf0a0af2f",
                "settingsUdi": "umb://element/053dd89ffe2446609327f69420bcec71",
                "areas": [],
                "columnSpan": 2,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3cd51ff7e6f648f29f1272725388609f",
                "settingsUdi": "umb://element/a008a47ed2f04c6b9641d4367943eca3",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 2,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/598408c8934642aeae0a2db6cc6d8eb0",
        "settingsUdi": "umb://element/4855bebcc2a1494fa17127a6dd7c7119",
        "areas": [
          {
            "key": "273943a2-a167-4d4a-aaea-d13d43e27225",
            "items": [
              {
                "contentUdi": "umb://element/23c654c1ee4745b5b3450dcedb519f7e",
                "settingsUdi": "umb://element/357847ac8eff4bcd9483c0c4580cb069",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 2,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0d99069f4e3e45a0948a12b11200c0c1",
        "settingsUdi": "umb://element/5b79d4dc50e647dca23c7bf672baedfb",
        "areas": [
          {
            "key": "7652ebce-138e-4609-8a12-78fb077c0fda",
            "items": []
          }
        ],
        "columnSpan": 2,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6054d082-cc90-4274-b446-1073f65d080a",
      "udi": "umb://element/7c3b8da71cfa45409009dc85bd0d2318"
    },
    {
      "contentTypeKey": "b554e1db-f751-4ad7-bd22-2d6f5199d761",
      "udi": "umb://element/598408c8934642aeae0a2db6cc6d8eb0"
    },
    {
      "contentTypeKey": "6054d082-cc90-4274-b446-1073f65d080a",
      "udi": "umb://element/0d99069f4e3e45a0948a12b11200c0c1"
    },
    {
      "contentTypeKey": "f0978239-2996-4013-a08d-44ffd9cf431a",
      "udi": "umb://element/23c654c1ee4745b5b3450dcedb519f7e",
      "image": [
        {
          "key": "f83ab100-4a5b-4ff6-912e-2e9dc2297854",
          "mediaKey": "7f0ee0f1-02d9-4698-8c08-b327402f5085"
        }
      ],
      "imageCaption": "",
      "altTag": ""
    },
    {
      "contentTypeKey": "1395eaaf-100a-4705-9a50-cb69d718481a",
      "udi": "umb://element/17a7430109e1489c804d1ebbf0a0af2f",
      "text": "Keime auf Entdeckungsreise",
      "color": "#4c1130",
      "letterSpacing": "5",
      "link": "",
      "lineHeight": "1.1",
      "border": "0",
      "fontSizeXXL": "40",
      "fontSizeXL": "",
      "fontSizeLG": "",
      "fontSize": ""
    },
    {
      "contentTypeKey": "daff747b-a3bb-43cf-a747-3ebf30242c07",
      "udi": "umb://element/3cd51ff7e6f648f29f1272725388609f",
      "headerImage": [
        {
          "key": "3e1069c5-6dd1-40e8-b6cc-ab0a6b2db5a8",
          "mediaKey": "cda97daa-d52c-4883-a540-c6d22a7071b2"
        }
      ],
      "title": "",
      "subtitle": "",
      "text": {
        "markup": "<p><strong>Herausforderung</strong></p>\n<p>Als führender Anbieter zukunftsorientierter Medizin- und Hygieneprodukte hat sich Lohmann &amp; Rauscher (L&amp;R) zum Ziel gesetzt, Patient*innen und Healthcare-Professionals bei der Prävention von postoperativen Wundinfektionen (SSI, surgical site infections) zu unterstützen. Hierfür war eine merkfähige Kampagne gesucht.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "ctaButton": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "udi": "umb://element/4e4778068c6746e2acc45c9cc8763177",
      "pt": "",
      "pb": "",
      "ps": "",
      "pe": "",
      "mt": "",
      "mb": "",
      "ms": "",
      "me": "",
      "mtMD": "",
      "mbMD": "",
      "msMD": "",
      "meMD": "",
      "ptMD": "",
      "pbMD": "",
      "psMD": "",
      "peMD": "",
      "mtSM": "",
      "mbSM": "",
      "msSM": "",
      "meSM": "",
      "ptSM": "",
      "pbSM": "",
      "psSM": "",
      "peSM": "",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "",
      "visibilityTablet": "",
      "visibilityMobile": ""
    },
    {
      "contentTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "udi": "umb://element/4855bebcc2a1494fa17127a6dd7c7119",
      "pt": "",
      "pb": "",
      "ps": "",
      "pe": "",
      "mt": "",
      "mb": "",
      "ms": "",
      "me": "",
      "mtMD": "",
      "mbMD": "",
      "msMD": "",
      "meMD": "",
      "ptMD": "",
      "pbMD": "",
      "psMD": "",
      "peMD": "",
      "mtSM": "",
      "mbSM": "",
      "msSM": "",
      "meSM": "",
      "ptSM": "",
      "pbSM": "",
      "psSM": "",
      "peSM": "",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "",
      "visibilityTablet": "",
      "visibilityMobile": ""
    },
    {
      "contentTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "udi": "umb://element/5b79d4dc50e647dca23c7bf672baedfb",
      "pt": "",
      "pb": "",
      "ps": "",
      "pe": "",
      "mt": "",
      "mb": "",
      "ms": "",
      "me": "",
      "mtMD": "",
      "mbMD": "",
      "msMD": "",
      "meMD": "",
      "ptMD": "",
      "pbMD": "",
      "psMD": "",
      "peMD": "",
      "mtSM": "",
      "mbSM": "",
      "msSM": "",
      "meSM": "",
      "ptSM": "",
      "pbSM": "",
      "psSM": "",
      "peSM": "",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "",
      "visibilityTablet": "",
      "visibilityMobile": ""
    },
    {
      "contentTypeKey": "2919fc7c-008f-4a1d-9daa-a9927cfb58fd",
      "udi": "umb://element/357847ac8eff4bcd9483c0c4580cb069",
      "pt": "0",
      "pb": "0",
      "ps": "0",
      "pe": "0",
      "mt": "0",
      "mb": "0",
      "ms": "0",
      "me": "0",
      "mtMD": "0",
      "mbMD": "0",
      "msMD": "0",
      "meMD": "0",
      "ptMD": "0",
      "pbMD": "0",
      "psMD": "0",
      "peMD": "0",
      "mtSM": "0",
      "mbSM": "0",
      "msSM": "0",
      "meSM": "0",
      "ptSM": "0",
      "pbSM": "0",
      "psSM": "0",
      "peSM": "0",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1",
      "verticalAlignment": ""
    },
    {
      "contentTypeKey": "fb572131-366a-4ff6-9cce-12eab21c9e12",
      "udi": "umb://element/053dd89ffe2446609327f69420bcec71",
      "pt": "0",
      "pb": "0",
      "ps": "0",
      "pe": "0",
      "mt": "0",
      "mb": "0",
      "ms": "0",
      "me": "0",
      "mtMD": "0",
      "mbMD": "0",
      "msMD": "0",
      "meMD": "0",
      "ptMD": "0",
      "pbMD": "0",
      "psMD": "0",
      "peMD": "0",
      "mtSM": "0",
      "mbSM": "0",
      "msSM": "0",
      "meSM": "0",
      "ptSM": "0",
      "pbSM": "0",
      "psSM": "0",
      "peSM": "0",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1"
    },
    {
      "contentTypeKey": "22a111eb-d028-44ec-90aa-334b9680df83",
      "udi": "umb://element/a008a47ed2f04c6b9641d4367943eca3",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1"
    }
  ]
}]]></Value>
    </contentBlocks>
    <cs_description>
      <Value><![CDATA[]]></Value>
    </cs_description>
    <cs_heading>
      <Value><![CDATA[]]></Value>
    </cs_heading>
    <ds_content>
      <Value><![CDATA[]]></Value>
    </ds_content>
    <ds_heading>
      <Value><![CDATA[]]></Value>
    </ds_heading>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaKeywords>
      <Value><![CDATA[]]></Value>
    </pageMetaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ps_headerLogo>
      <Value><![CDATA[[]]]></Value>
    </ps_headerLogo>
    <ps_pagePrimaryColor>
      <Value><![CDATA[]]></Value>
    </ps_pagePrimaryColor>
  </Properties>
</Content>