<?xml version="1.0" encoding="utf-8"?>
<Content Key="82c4e26f-9add-4b25-847b-3f5194a89f92" Alias="Journey" Level="3">
  <Info>
    <Parent Key="d381e084-dcd5-4070-9d51-0488cf68cb01">Case Study</Parent>
    <Path>/Home/CaseStudy/Journey</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2024-07-20T14:53:17</CreateDate>
    <NodeName Default="Journey" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a5a56a8-6fc8-4a2e-89ea-167eb880fdc5">Journey</Template>
  </Info>
  <Properties>
    <b_media>
      <Value><![CDATA[[
  {
    "key": "df6ad5ad-6ccd-422f-aba7-928605b91a3a",
    "mediaKey": "a6fbbb91-2ac6-4b57-a71c-d89b77c41477"
  }
]]]></Value>
    </b_media>
    <b_mobileMedia>
      <Value><![CDATA[[]]]></Value>
    </b_mobileMedia>
    <case_heading>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/a39788a8fde3482bacfb3e4304b4a750",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "562060b3-42e7-49b5-bdc6-dd3c44a4507f",
      "udi": "umb://element/a39788a8fde3482bacfb3e4304b4a750",
      "icon": [
        {
          "key": "2a954d4e-811c-445e-904b-12c9ca40e7a4",
          "mediaKey": "18a2eb99-279d-40de-a264-713a56611b7e"
        }
      ],
      "title": "RX-CASES",
      "heading": "RX <span>vom feinsten</span> – unsere cases"
    }
  ],
  "settingsData": []
}]]></Value>
    </case_heading>
    <case_links>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/80c2080d3ec84092a7d7a76f5497d424",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d93d00163b9a4cb4b81007c301c6eb04",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3ee5f9584701498ba7191edfe58366d4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a21b2f8a3f754b0580da7db21ddc6090",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/782f24f264ad4aa38a03a9b71b9cf24c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0bd6d5a28ccd412cb71996a71a22df15",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/80c2080d3ec84092a7d7a76f5497d424",
      "il_image": [
        {
          "key": "9b8827ee-a991-4861-8860-8f143cf41dae",
          "mediaKey": "20238e25-cff4-4f83-9aba-ffc5692d827f"
        }
      ],
      "il_link": [
        {
          "name": "Case 1",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/d93d00163b9a4cb4b81007c301c6eb04",
      "il_image": [
        {
          "key": "a1964855-246a-4485-9a75-715b3d608f6e",
          "mediaKey": "8ab568e0-638f-4f23-95c6-ea2e58343c94"
        }
      ],
      "il_link": [
        {
          "name": "Case 2",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/3ee5f9584701498ba7191edfe58366d4",
      "il_image": [
        {
          "key": "39c14549-0f9b-48e8-874c-d2d1b5ea05b1",
          "mediaKey": "25e50483-1f1a-4c12-9efa-c2f07ed8ddde"
        }
      ],
      "il_link": [
        {
          "name": "Case 3",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/a21b2f8a3f754b0580da7db21ddc6090",
      "il_image": [
        {
          "key": "31326af7-dec4-43e9-9dbd-3c61b452cef5",
          "mediaKey": "d3923e5f-e8eb-4af1-9cfd-e247958c40f3"
        }
      ],
      "il_link": [
        {
          "name": "Case 4",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/782f24f264ad4aa38a03a9b71b9cf24c",
      "il_image": [
        {
          "key": "728fc9fb-c0e9-4936-84bc-4298688c636d",
          "mediaKey": "ab440fbb-761b-4c26-b9fe-8e2ce3c35afd"
        }
      ],
      "il_link": [
        {
          "name": "Case 5",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/0bd6d5a28ccd412cb71996a71a22df15",
      "il_image": [
        {
          "key": "94ac0fb3-bc31-48a5-b978-8b450d425a0e",
          "mediaKey": "4f542e75-05e9-4474-8919-ef6e05155281"
        }
      ],
      "il_link": [
        {
          "name": "Case 6",
          "queryString": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </case_links>
    <cmp_description>
      <Value><![CDATA[{
  "markup": "<p>Als Teil der Kampagne entstand außerdem ein informatives Animationsvideo, das über die präventiven Maßnahmen aufklärt, die das Gesundheitspersonal in den Phasen eines operativen Eingriffs berücksichtigen muss. Das Video wurde in diverse weitere Sprachen adaptiert.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cmp_description>
    <cmp_heading>
      <Value><![CDATA[SSI-PRÄVENTION ZUM LEBEN ERWECKT]]></Value>
    </cmp_heading>
    <cmp_video>
      <Value><![CDATA[[
  {
    "key": "05210603-a4fe-43e5-93cc-37d0d9a9e012",
    "mediaKey": "fae7911e-594d-419a-91a5-77ecf2a29efd"
  }
]]]></Value>
    </cmp_video>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/f4303d59bde14692bad34b425c3fefb1",
        "settingsUdi": "umb://element/eb9621b8b7d24178933f4f2f62b449d2",
        "areas": [
          {
            "key": "273943a2-a167-4d4a-aaea-d13d43e27225",
            "items": [
              {
                "contentUdi": "umb://element/9a3b8f8fb5764a25b9f318b7c411f78d",
                "settingsUdi": "umb://element/cdc052988a31497399eac8f00c9050ab",
                "areas": [],
                "columnSpan": 11,
                "rowSpan": 2
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b554e1db-f751-4ad7-bd22-2d6f5199d761",
      "udi": "umb://element/f4303d59bde14692bad34b425c3fefb1"
    },
    {
      "contentTypeKey": "f0978239-2996-4013-a08d-44ffd9cf431a",
      "udi": "umb://element/9a3b8f8fb5764a25b9f318b7c411f78d",
      "image": [
        {
          "key": "3644a16c-d931-4740-b3bf-a62d34980183",
          "mediaKey": "58c4907f-adb6-4a8d-a60b-79a8035a3bd7"
        }
      ],
      "imageCaption": "",
      "altTag": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "udi": "umb://element/eb9621b8b7d24178933f4f2f62b449d2",
      "pt": "",
      "pb": "",
      "ps": "",
      "pe": "",
      "mt": "",
      "mb": "",
      "ms": "",
      "me": "",
      "mtMD": "",
      "mbMD": "",
      "msMD": "",
      "meMD": "",
      "ptMD": "",
      "pbMD": "",
      "psMD": "",
      "peMD": "",
      "mtSM": "",
      "mbSM": "",
      "msSM": "",
      "meSM": "",
      "ptSM": "",
      "pbSM": "",
      "psSM": "",
      "peSM": "",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "",
      "visibilityTablet": "",
      "visibilityMobile": ""
    },
    {
      "contentTypeKey": "2919fc7c-008f-4a1d-9daa-a9927cfb58fd",
      "udi": "umb://element/cdc052988a31497399eac8f00c9050ab",
      "pt": "0",
      "pb": "0",
      "ps": "0",
      "pe": "0",
      "mt": "0",
      "mb": "0",
      "ms": "0",
      "me": "0",
      "mtMD": "0",
      "mbMD": "0",
      "msMD": "0",
      "meMD": "0",
      "ptMD": "0",
      "pbMD": "0",
      "psMD": "0",
      "peMD": "0",
      "mtSM": "0",
      "mbSM": "0",
      "msSM": "0",
      "meSM": "0",
      "ptSM": "0",
      "pbSM": "0",
      "psSM": "0",
      "peSM": "0",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1",
      "verticalAlignment": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <cs_description>
      <Value><![CDATA[{
  "markup": "<p>Du suchst eine Agentur, die alles für Deine Projekte gibt und die an der Seite von Dir und Deiner Marke ist, egal wann, egal wo? Dann gleich anrufen oder schreiben.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cs_description>
    <cs_heading>
      <Value><![CDATA[SPRICH MIT UNS. WIR GEBEN DIR <span>RAUM</span> FÜR DEIN <span>PROJEKT.</span>]]></Value>
    </cs_heading>
    <ds_content>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0184c4a6911d4b70bbf2cde78d08575c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5c44f1edf97f462d82ea697b2cb07c75",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c0f5c48c818147be85f6570ffa25910d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a4453efeab5243658ff8b3c92ed175ad",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ee696a26-dc35-432a-912c-793fea6ec5fd",
      "udi": "umb://element/0184c4a6911d4b70bbf2cde78d08575c",
      "image": [
        {
          "key": "e99f0267-ddd1-43a2-91c1-9c38518321c6",
          "mediaKey": "fcb21310-1294-4204-9bc4-8697ff51349a"
        }
      ],
      "content": {
        "markup": "<p><strong>Herausforderung</strong><br>Als führender Anbieter zukunftsorientierter Medizin- und Hygieneprodukte hat sich Lohmann &amp; Rauscher (L&amp;R) zum Ziel gesetzt, Patient*innen und Healthcare-Professionals bei der Prävention von postoperativen Wundinfektionen (SSI, surgical site infections) zu unterstützen. Hierfür war eine merkfähige Kampagne gesucht.</p>\n<p><strong>Idee</strong><br>Wir erwecken die Erreger als bunte Krankenhaus-Touristen zum Leben. Auf ungezwungene Art und Weise soll einprägsam über die verschiedenen Keime aufgeklärt werden, um die Fachzielgruppe für eine intensive Auseinandersetzung mit dem Thema SSI zu motivieren und zu begeistern – ohne mahnenden Zeigefinger. \u2028</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "imagePosition": [
        "Left"
      ]
    },
    {
      "contentTypeKey": "ee696a26-dc35-432a-912c-793fea6ec5fd",
      "udi": "umb://element/5c44f1edf97f462d82ea697b2cb07c75",
      "image": [
        {
          "key": "180ac8ea-d006-4bde-a9d7-c436f6d27a58",
          "mediaKey": "612ac35e-f3ed-4b78-8fd7-0dba389f0aed"
        }
      ],
      "content": "",
      "imagePosition": [
        "Right"
      ]
    },
    {
      "contentTypeKey": "ee696a26-dc35-432a-912c-793fea6ec5fd",
      "udi": "umb://element/c0f5c48c818147be85f6570ffa25910d",
      "image": [
        {
          "key": "09b80446-46bf-4137-9141-1bb1da3ffbba",
          "mediaKey": "e2725250-4fce-4d38-b936-f4d055cbc91b"
        },
        {
          "key": "eee19a38-514a-4c3c-81a2-7234fa9c96b2",
          "mediaKey": "8296a1a4-b68c-4338-9f91-f70251087551"
        }
      ],
      "content": {
        "markup": "<p><strong>Mit Vollgas zur erfolgreichen Kampagne\u2028</strong><br>Seit ihrem Launch in 2019 schmücken die Keim-Charaktere internationale Informationsbroschüren in mehreren Fachrichtungen, ein Pixibuch, Messestände, Social Media Posts und vieles mehr. 2023 durfte sich Isgro für die fortlaufende Kampagne sogar über einen Platz auf der Shortlist beim Comprix-Award freuen.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "imagePosition": [
        "Left"
      ]
    },
    {
      "contentTypeKey": "ee696a26-dc35-432a-912c-793fea6ec5fd",
      "udi": "umb://element/a4453efeab5243658ff8b3c92ed175ad",
      "image": [
        {
          "key": "217a5284-072f-4bac-bbd1-8dc8f3dc360f",
          "mediaKey": "f66cab4d-88f6-484a-8428-d2b659de3e3f"
        }
      ],
      "content": "",
      "imagePosition": [
        "Left"
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </ds_content>
    <ds_heading>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/fce32063cb374a9cb7980ba4e95801dd",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "562060b3-42e7-49b5-bdc6-dd3c44a4507f",
      "udi": "umb://element/fce32063cb374a9cb7980ba4e95801dd",
      "icon": [],
      "title": "Kunde: Lohmann & Rauscher Bereich: Medizinprodukte",
      "heading": "Keime auf Entdeckungsreise"
    }
  ],
  "settingsData": []
}]]></Value>
    </ds_heading>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaKeywords>
      <Value><![CDATA[]]></Value>
    </pageMetaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ps_headerLogo>
      <Value><![CDATA[[
  {
    "key": "87cb5abd-5447-4210-90b9-0d03a7560b6b",
    "mediaKey": "ff66a28d-17f3-4157-9004-46a88d3ba286"
  }
]]]></Value>
    </ps_headerLogo>
    <ps_pagePrimaryColor>
      <Value><![CDATA[{
  "value": "00d3d6",
  "label": "00d3d6",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </ps_pagePrimaryColor>
  </Properties>
</Content>