<?xml version="1.0" encoding="utf-8"?>
<Content Key="99efee96-bb17-4bb9-9255-e9eb5311bb91" Alias="Test" Level="3">
  <Info>
    <Parent Key="d381e084-dcd5-4070-9d51-0488cf68cb01">Case Study</Parent>
    <Path>/Home/CaseStudy/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2024-08-05T14:55:43</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a5a56a8-6fc8-4a2e-89ea-167eb880fdc5">Journey</Template>
  </Info>
  <Properties>
    <b_media>
      <Value><![CDATA[[]]]></Value>
    </b_media>
    <b_mobileMedia>
      <Value><![CDATA[[]]]></Value>
    </b_mobileMedia>
    <case_heading>
      <Value><![CDATA[]]></Value>
    </case_heading>
    <case_links>
      <Value><![CDATA[]]></Value>
    </case_links>
    <cmp_description>
      <Value><![CDATA[]]></Value>
    </cmp_description>
    <cmp_heading>
      <Value><![CDATA[]]></Value>
    </cmp_heading>
    <cmp_video>
      <Value><![CDATA[[]]]></Value>
    </cmp_video>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <cs_description>
      <Value><![CDATA[]]></Value>
    </cs_description>
    <cs_heading>
      <Value><![CDATA[]]></Value>
    </cs_heading>
    <ds_content>
      <Value><![CDATA[]]></Value>
    </ds_content>
    <ds_heading>
      <Value><![CDATA[]]></Value>
    </ds_heading>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaKeywords>
      <Value><![CDATA[]]></Value>
    </pageMetaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ps_headerLogo>
      <Value><![CDATA[[]]]></Value>
    </ps_headerLogo>
    <ps_pagePrimaryColor>
      <Value><![CDATA[]]></Value>
    </ps_pagePrimaryColor>
  </Properties>
</Content>