<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bfa244d-eb6a-4379-b132-bd646616b5e7" Alias="test 2" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/test2</Path>
    <Trashed Parent="d381e084-dcd5-4070-9d51-0488cf68cb01">true</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2024-08-10T14:23:57</CreateDate>
    <NodeName Default="test 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4a5a56a8-6fc8-4a2e-89ea-167eb880fdc5">Journey</Template>
  </Info>
  <Properties>
    <b_media>
      <Value><![CDATA[[
  {
    "key": "df6ad5ad-6ccd-422f-aba7-928605b91a3a",
    "mediaKey": "a6fbbb91-2ac6-4b57-a71c-d89b77c41477"
  }
]]]></Value>
    </b_media>
    <b_mobileMedia>
      <Value><![CDATA[[]]]></Value>
    </b_mobileMedia>
    <case_heading>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/5b3fba24d6634f02a6f2be9619434cac",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "562060b3-42e7-49b5-bdc6-dd3c44a4507f",
      "udi": "umb://element/5b3fba24d6634f02a6f2be9619434cac",
      "icon": [
        {
          "key": "2a954d4e-811c-445e-904b-12c9ca40e7a4",
          "mediaKey": "18a2eb99-279d-40de-a264-713a56611b7e"
        }
      ],
      "title": "RX-CASES",
      "heading": "RX <span>vom feinsten</span> – unsere cases"
    }
  ],
  "settingsData": []
}]]></Value>
    </case_heading>
    <case_links>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/32fa0f62706f4974a1790527a411e50e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/10b549ddd9a8404ca822fa2a6cac4761",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/df8c467298dc447c9ab61f86ecd2dbb3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/831cedbac63f451c9d4db4e3105d2fe8",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1a900a9dfc73498bae3f4c4410bcddbe",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c974b90866ab49ef96b622271009c7d6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/32fa0f62706f4974a1790527a411e50e",
      "il_image": [
        {
          "key": "9b8827ee-a991-4861-8860-8f143cf41dae",
          "mediaKey": "20238e25-cff4-4f83-9aba-ffc5692d827f"
        }
      ],
      "il_link": [
        {
          "name": "Case 1",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/10b549ddd9a8404ca822fa2a6cac4761",
      "il_image": [
        {
          "key": "a1964855-246a-4485-9a75-715b3d608f6e",
          "mediaKey": "8ab568e0-638f-4f23-95c6-ea2e58343c94"
        }
      ],
      "il_link": [
        {
          "name": "Case 2",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/df8c467298dc447c9ab61f86ecd2dbb3",
      "il_image": [
        {
          "key": "39c14549-0f9b-48e8-874c-d2d1b5ea05b1",
          "mediaKey": "25e50483-1f1a-4c12-9efa-c2f07ed8ddde"
        }
      ],
      "il_link": [
        {
          "name": "Case 3",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/831cedbac63f451c9d4db4e3105d2fe8",
      "il_image": [
        {
          "key": "31326af7-dec4-43e9-9dbd-3c61b452cef5",
          "mediaKey": "d3923e5f-e8eb-4af1-9cfd-e247958c40f3"
        }
      ],
      "il_link": [
        {
          "name": "Case 4",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/1a900a9dfc73498bae3f4c4410bcddbe",
      "il_image": [
        {
          "key": "728fc9fb-c0e9-4936-84bc-4298688c636d",
          "mediaKey": "ab440fbb-761b-4c26-b9fe-8e2ce3c35afd"
        }
      ],
      "il_link": [
        {
          "name": "Case 5",
          "queryString": "#"
        }
      ]
    },
    {
      "contentTypeKey": "273a027b-2c0c-4aca-8e7d-5649a5bf314d",
      "udi": "umb://element/c974b90866ab49ef96b622271009c7d6",
      "il_image": [
        {
          "key": "94ac0fb3-bc31-48a5-b978-8b450d425a0e",
          "mediaKey": "4f542e75-05e9-4474-8919-ef6e05155281"
        }
      ],
      "il_link": [
        {
          "name": "Case 6",
          "queryString": "#"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </case_links>
    <cmp_description>
      <Value><![CDATA[{
  "markup": "<p>Als Teil der Kampagne entstand außerdem ein informatives Animationsvideo, das über die präventiven Maßnahmen aufklärt, die das Gesundheitspersonal in den Phasen eines operativen Eingriffs berücksichtigen muss. Das Video wurde in diverse weitere Sprachen adaptiert.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cmp_description>
    <cmp_heading>
      <Value><![CDATA[SSI-PRÄVENTION ZUM LEBEN ERWECKT]]></Value>
    </cmp_heading>
    <cmp_video>
      <Value><![CDATA[[
  {
    "key": "05210603-a4fe-43e5-93cc-37d0d9a9e012",
    "mediaKey": "fae7911e-594d-419a-91a5-77ecf2a29efd"
  }
]]]></Value>
    </cmp_video>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d8b05ae5a5f44d4f9020174c79b47b8b",
        "settingsUdi": "umb://element/884723d0012e43dcacbd7d3d9961ce7d",
        "areas": [
          {
            "key": "7652ebce-138e-4609-8a12-78fb077c0fda",
            "items": [
              {
                "contentUdi": "umb://element/0ee3787db0f74bbdaed67d5a9733783c",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ed117b113ead42b094f969a5dc384fd6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e1fd96283d02454aaac67e7561c3f619",
        "settingsUdi": "umb://element/6fe6e1b9b16440ab88e172041d58e8eb",
        "areas": [
          {
            "key": "7652ebce-138e-4609-8a12-78fb077c0fda",
            "items": [
              {
                "contentUdi": "umb://element/07cca0a2e95c4154982bb1d0f46bb5b5",
                "settingsUdi": "umb://element/12a82c232f614e209f11f7677f0ebdb4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7ac39618851747839175379fb416c75c",
                "settingsUdi": "umb://element/5a065abdd3704ad9935e072e09c11162",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ffa44a05f8a440dabab4d9c9acffece0",
                "settingsUdi": "umb://element/00b51ef02873420e9162c1f262053ad2",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e42250068e8247d7b69d0a421f8deffb",
                "settingsUdi": "umb://element/044caa7ede954f9fbefbb9e0119d4893",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "6054d082-cc90-4274-b446-1073f65d080a",
      "udi": "umb://element/d8b05ae5a5f44d4f9020174c79b47b8b"
    },
    {
      "contentTypeKey": "f0978239-2996-4013-a08d-44ffd9cf431a",
      "udi": "umb://element/e42250068e8247d7b69d0a421f8deffb",
      "image": [
        {
          "key": "d130a166-317b-4935-b87c-88a8a936dcec",
          "mediaKey": "f66cab4d-88f6-484a-8428-d2b659de3e3f"
        }
      ],
      "altTag": ""
    },
    {
      "contentTypeKey": "f0978239-2996-4013-a08d-44ffd9cf431a",
      "udi": "umb://element/07cca0a2e95c4154982bb1d0f46bb5b5",
      "image": [
        {
          "key": "7af41bf3-4e1e-4c65-a164-cae2b4538db9",
          "mediaKey": "fcb21310-1294-4204-9bc4-8697ff51349a"
        }
      ],
      "altTag": ""
    },
    {
      "contentTypeKey": "6cc7cf8c-99dd-4ea6-98a1-242c2302f6a9",
      "udi": "umb://element/7ac39618851747839175379fb416c75c",
      "text": {
        "markup": "<p><strong>Herausforderung</strong><br>Als führender Anbieter zukunftsorientierter Medizin- und Hygieneprodukte hat sich Lohmann &amp; Rauscher (L&amp;R) zum Ziel gesetzt, Patient*innen und Healthcare-Professionals bei der Prävention von postoperativen Wundinfektionen (SSI, surgical site infections) zu unterstützen. Hierfür war eine merkfähige Kampagne gesucht.</p>\n<p><strong>Idee</strong><br>Wir erwecken die Erreger als bunte Krankenhaus-Touristen zum Leben. Auf ungezwungene Art und Weise soll einprägsam über die verschiedenen Keime aufgeklärt werden, um die Fachzielgruppe für eine intensive Auseinandersetzung mit dem Thema SSI zu motivieren und zu begeistern – ohne mahnenden Zeigefinger. \u2028</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "0ccf141d-855d-4b3b-9987-45f8efe9a491",
      "udi": "umb://element/ffa44a05f8a440dabab4d9c9acffece0",
      "color": "",
      "width": ""
    },
    {
      "contentTypeKey": "1c4cb6c2-948c-45c7-8cd6-19664c944af0",
      "udi": "umb://element/0ee3787db0f74bbdaed67d5a9733783c",
      "text": "Kunde: Lohmann & Rauscher Bereich: Medizinprodukte",
      "type": [
        "h4"
      ]
    },
    {
      "contentTypeKey": "1c4cb6c2-948c-45c7-8cd6-19664c944af0",
      "udi": "umb://element/ed117b113ead42b094f969a5dc384fd6",
      "text": "Keime auf Entdeckungsreise ",
      "type": [
        "h2"
      ]
    },
    {
      "contentTypeKey": "6054d082-cc90-4274-b446-1073f65d080a",
      "udi": "umb://element/e1fd96283d02454aaac67e7561c3f619"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "udi": "umb://element/884723d0012e43dcacbd7d3d9961ce7d",
      "pt": "",
      "pb": "",
      "ps": "",
      "pe": "",
      "mt": "",
      "mb": "",
      "ms": "",
      "me": "",
      "mtMD": "",
      "mbMD": "",
      "msMD": "",
      "meMD": "",
      "ptMD": "",
      "pbMD": "",
      "psMD": "",
      "peMD": "",
      "mtSM": "",
      "mbSM": "",
      "msSM": "",
      "meSM": "",
      "ptSM": "",
      "pbSM": "",
      "psSM": "",
      "peSM": "",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "",
      "visibilityTablet": "",
      "visibilityMobile": ""
    },
    {
      "contentTypeKey": "2919fc7c-008f-4a1d-9daa-a9927cfb58fd",
      "udi": "umb://element/044caa7ede954f9fbefbb9e0119d4893",
      "pt": "0",
      "pb": "0",
      "ps": "0",
      "pe": "0",
      "mt": "0",
      "mb": "0",
      "ms": "0",
      "me": "0",
      "mtMD": "0",
      "mbMD": "0",
      "msMD": "0",
      "meMD": "0",
      "ptMD": "0",
      "pbMD": "0",
      "psMD": "0",
      "peMD": "0",
      "mtSM": "0",
      "mbSM": "0",
      "msSM": "0",
      "meSM": "0",
      "ptSM": "0",
      "pbSM": "0",
      "psSM": "0",
      "peSM": "0",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1",
      "verticalAlignment": ""
    },
    {
      "contentTypeKey": "2919fc7c-008f-4a1d-9daa-a9927cfb58fd",
      "udi": "umb://element/12a82c232f614e209f11f7677f0ebdb4",
      "pt": "0",
      "pb": "0",
      "ps": "0",
      "pe": "0",
      "mt": "0",
      "mb": "0",
      "ms": "0",
      "me": "0",
      "mtMD": "0",
      "mbMD": "0",
      "msMD": "0",
      "meMD": "0",
      "ptMD": "0",
      "pbMD": "0",
      "psMD": "0",
      "peMD": "0",
      "mtSM": "0",
      "mbSM": "0",
      "msSM": "0",
      "meSM": "0",
      "ptSM": "0",
      "pbSM": "0",
      "psSM": "0",
      "peSM": "0",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1",
      "verticalAlignment": ""
    },
    {
      "contentTypeKey": "ceed12df-fe34-4d96-9646-3314622e374c",
      "udi": "umb://element/5a065abdd3704ad9935e072e09c11162",
      "pt": "0",
      "pb": "0",
      "ps": "0",
      "pe": "0",
      "mt": "0",
      "mb": "0",
      "ms": "0",
      "me": "0",
      "mtMD": "0",
      "mbMD": "0",
      "msMD": "0",
      "meMD": "0",
      "ptMD": "0",
      "pbMD": "0",
      "psMD": "0",
      "peMD": "0",
      "mtSM": "0",
      "mbSM": "0",
      "msSM": "0",
      "meSM": "0",
      "ptSM": "0",
      "pbSM": "0",
      "psSM": "0",
      "peSM": "0",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1",
      "verticalAlignment": ""
    },
    {
      "contentTypeKey": "a2a4df10-3918-4412-9b02-1b152332cf2c",
      "udi": "umb://element/00b51ef02873420e9162c1f262053ad2",
      "visibilityDesktop": "1",
      "visibilityTablet": "1",
      "visibilityMobile": "1"
    },
    {
      "contentTypeKey": "6fca57d5-ebd4-48bd-a8a8-7eeb36f380c7",
      "udi": "umb://element/6fe6e1b9b16440ab88e172041d58e8eb",
      "pt": "",
      "pb": "",
      "ps": "",
      "pe": "",
      "mt": "",
      "mb": "",
      "ms": "",
      "me": "",
      "mtMD": "",
      "mbMD": "",
      "msMD": "",
      "meMD": "",
      "ptMD": "",
      "pbMD": "",
      "psMD": "",
      "peMD": "",
      "mtSM": "",
      "mbSM": "",
      "msSM": "",
      "meSM": "",
      "ptSM": "",
      "pbSM": "",
      "psSM": "",
      "peSM": "",
      "backgroundColor": "",
      "backgroundImage": [],
      "visibilityDesktop": "",
      "visibilityTablet": "",
      "visibilityMobile": ""
    }
  ]
}]]></Value>
    </contentBlocks>
    <cs_description>
      <Value><![CDATA[{
  "markup": "<p>Du suchst eine Agentur, die alles für Deine Projekte gibt und die an der Seite von Dir und Deiner Marke ist, egal wann, egal wo? Dann gleich anrufen oder schreiben.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </cs_description>
    <cs_heading>
      <Value><![CDATA[SPRICH MIT UNS. WIR GEBEN DIR <span>RAUM</span> FÜR DEIN <span>PROJEKT.</span>]]></Value>
    </cs_heading>
    <pageMetaDescription>
      <Value><![CDATA[]]></Value>
    </pageMetaDescription>
    <pageMetaKeywords>
      <Value><![CDATA[]]></Value>
    </pageMetaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <ps_headerLogo>
      <Value><![CDATA[[
  {
    "key": "87cb5abd-5447-4210-90b9-0d03a7560b6b",
    "mediaKey": "ff66a28d-17f3-4157-9004-46a88d3ba286"
  }
]]]></Value>
    </ps_headerLogo>
    <ps_pagePrimaryColor>
      <Value><![CDATA[{
  "value": "00d3d6",
  "label": "00d3d6",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </ps_pagePrimaryColor>
  </Properties>
</Content>