@using isgro.Enumerations
@using isgro.Helpers
@using Umbraco.Cms.Core.Strings
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextEditor>>
@{
    IHtmlEncodedString? text = Model.Content.Text;
    var settings = Model.Settings.SafeCast<RichTextSettings>();
    var spacing = settings?.ParseSpacingSettings();
    var bg = settings?.ParseBackgroundSettings();
    var visibility = settings?.ParseVisibilitySettings(DisplayType.Flex);
    var verticalAlignment = settings?.ParseVerticalAlignment();
}


<section class="ds_section">
    <div class="">
        <div class="ds-content">
            <div class="ds-content-item">
                <div class="content aos-init rich-text-wrapper @spacing @visibility @verticalAlignment" data-aos="fade-up" style="@bg">
                    @text
                </div>
            </div>
        </div>
    </div>
</section>
