@using isgro.Enumerations
@using isgro.Helpers
@using Umbraco.Cms.Core.Models
@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<SingleImage>>

@{
    var settings = Model.Settings.SafeCast<SingleImageSettings>();
    var spacing = settings?.ParseSpacingSettings();
    var visibility = settings?.ParseVisibilitySettings(DisplayType.Flex);
    var verticalAlignment = settings?.ParseVerticalAlignment();

    var image = Model.Content.Image;
    string? altTag = Model.Content?.AltTag;

    if (image != null)
    {
        <section class="ds_section">
            <div class="">
                <div class="ds-content">
                    <div class="ds-content-item @spacing @visibility @verticalAlignment">
                        <img src="@image.MediaUrl()" alt="@altTag" data-aos="fade-right" class="aos-init aos-animate">
                        <div class="content aos-init aos-animate" data-aos="fade-up">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
