<?xml version="1.0" encoding="utf-8"?>
<MemberType Key="39d9a974-d3a6-4a31-bc2d-0e4a40ec6b25" Alias="werbekunde" Level="1">
  <Info>
    <Name>Werbekunde</Name>
    <Icon>icon-user color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>3790c76c-9e1f-46d7-b4a4-cc71b3c147e1</Key>
      <Name>Erlaube Seiten</Name>
      <Alias>allowedSites</Alias>
      <Definition>25523b5d-5df8-4324-b379-28d5a5c2fb90</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege fest welche Seiten der Werbekunde in der Vorschau betrachten kann.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <CanEdit>false</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb7b6b6b-8580-4b76-96bc-dac431ab00ba</Key>
      <Name>Anmerkung</Name>
      <Alias>annotation</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <CanEdit>false</CanEdit>
      <CanView>true</CanView>
      <IsSensitive>false</IsSensitive>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>3a1519a5-6d51-4ccc-a2ee-b13442a399c5</Key>
      <Caption>Vorschau</Caption>
      <Alias>vorschau</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MemberType>