<?xml version="1.0" encoding="utf-8"?>
<Domain Key="ab637bc4-0000-0000-0000-000000000000" Alias="https://localhost:41124">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>de-DE</Language>
    <Root Key="7babd880-424f-46b1-ada9-d7df70ff8875">/Startseite NWB</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>