<?xml version="1.0" encoding="utf-8"?>
<Domain Key="fb84e902-0000-0000-0000-000000000000" Alias="https://localhost:44385">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>de-DE</Language>
    <Root Key="87096481-3b91-4c73-bf08-92ed7ea83a83">/Startseite</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>