@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<title>@Model.Value("pageTitle")</title>
<meta name="keywords" content="@Model.Value("pageMetaKeywords")">
<meta name="description" content="@Model.Value("pageMetaDescription")" />