<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="db3a6bfb-6420-4809-815a-348959a2ef81" Alias="abonnement" Level="3">
  <Info>
    <Name>Abonnement</Name>
    <Icon>icon-coins-euro-alt color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Tools</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>da36342c-7f8d-42a9-8af6-54bddfefb002</Key>
      <Name>Bestseller</Name>
      <Alias>bestseller</Alias>
      <Definition>b0ac5ad6-69e8-49c2-80dd-57ac45680815</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>84be6632-1202-4611-b3db-05c6ea1f0f78</Key>
      <Name>Modellbeschreibung</Name>
      <Alias>description</Alias>
      <Definition>215b1437-49bc-4771-a6f0-af52fe393e50</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>857384fb-472c-4611-a9ae-6c3ca66bc59b</Key>
      <Name>Merkmale</Name>
      <Alias>features</Alias>
      <Definition>711949bf-b239-43de-b36e-aa73240405b2</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2472363-d360-4b4b-b489-20d812f912ce</Key>
      <Name>Zahlungszeitraum</Name>
      <Alias>interval</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[z.B. "/User", "/User/Monat", "/Monat", usw.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9652ab8d-75ca-4fd8-84b1-fa6521bd8876</Key>
      <Name>Modellbezeichnung</Name>
      <Alias>modelName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5928203-e0d5-4ef3-aea7-dbaf0c9426e2</Key>
      <Name>Preis</Name>
      <Alias>modelPrice</Alias>
      <Definition>6a0be837-89fa-4b0a-a4ae-566fb3a82d96</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>665437d5-ab62-433c-be70-313bff371c1e</Key>
      <Name>Preis Prefix</Name>
      <Alias>preisPrefix</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dieser kann ein Währungssymbol für bezahlte Tarife darstellen oder für Angebote ohne Kosten, wie "Kostenlos", "Testversion", "Freemium" oder ähnliche Bezeichnungen verwendet werden.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="preisModel">Preis Model</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>052c6060-5341-489b-8f9f-f102b15494fd</Key>
      <Caption>Preis Model</Caption>
      <Alias>preisModel</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>