<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec50881b-5ff7-453c-ab99-5f772f2e38b5" Alias="alternatives" Level="2">
  <Info>
    <Name>Alternatives</Name>
    <Icon>icon-split-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>Alternatives</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1c2c19c1-2136-4991-9d03-763760c65d60">Alternatives</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7c7e84d7-f243-40a9-a0b8-aa5d7630b1be</Key>
      <Name>Anzahl beim Laden</Name>
      <Alias>initialCount</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Anzahl an Alternativen fest die initial geladen werden.
Default: 20]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pagination">Pagination</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1e1c22e-8689-4aea-8740-cbc4303f60aa</Key>
      <Name>Anzahl Nachladen</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Anzahl an Alternativen fest die nachgeladen werden sollen.
Default: 4]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pagination">Pagination</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b1ab860-d0b4-4c66-b145-567a23cdc31a</Key>
      <Caption>Pagination</Caption>
      <Alias>pagination</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>