<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a5da7da-ed9b-4f55-be12-297dcdd3de9f" Alias="anpinnenAnUebersicht" Level="3">
  <Info>
    <Name>Anpinnen an Übersicht</Name>
    <Icon>icon-pushpin color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Pin+Location</Folder>
    <Compositions>
      <Composition Key="b10106ff-dae7-42ac-8e51-8f0978174c77">pinLocation</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>