<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c8da19a-f946-48c0-b871-80859e7178f8" Alias="articleDetail" Level="2">
  <Info>
    <Name>Artikel Ansicht</Name>
    <Icon>icon-article color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="6544a873-a9f4-47e2-acd8-4e700b70261e">articleImage</Composition>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="596dcd08-d198-4aaa-8f04-828eb5f46560">preview</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
      <Composition Key="55b0a0e7-ad88-4c9c-bf1b-6129c02f7716">tags</Composition>
    </Compositions>
    <DefaultTemplate>ArticleDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="25600851-91d9-46de-9c32-1e812176cd91">ArticleDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f1b37059-17eb-4ef4-920f-dd5e79e401e1</Key>
      <Name>Flächen-Vorschau</Name>
      <Alias>areaThumbnail</Alias>
      <Definition>12f8a838-7dce-45ff-bc54-2387bc104235</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vorschaubild für Flächenelemente]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73cd9496-916b-4871-b497-3e15841540b5</Key>
      <Name>Autor</Name>
      <Alias>author</Alias>
      <Definition>bcee7519-3828-4297-a5b0-8b3098f8783d</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/autor">Autor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7d0699b9-64bc-4319-8333-110c47a6a149</Key>
      <Name>Inhalt</Name>
      <Alias>contentBlockGrid</Alias>
      <Definition>f2da852c-317f-48a6-bdfb-96d8d2063287</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>020a7fd2-6c1d-4b04-804a-557bef1e6d3e</Key>
      <Name>Crop Hilfe</Name>
      <Alias>cropHelperArticleDetail</Alias>
      <Definition>bb3fc34d-7263-4820-bcfa-bd2c8e87fb36</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hilfe">Hilfe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48a9abfd-f19a-4dab-b9d3-c0c689628a22</Key>
      <Name>Überschrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c058e89-efbe-4cc6-b0ba-d06a7e53c185</Key>
      <Name>Veröffentlichungsdatum ausblenden?</Name>
      <Alias>hidePublishedDate</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cd4ea57b-7039-4e20-8acb-7f8de2a11a26</Key>
      <Name>Manuelle Auswahl</Name>
      <Alias>moreTopics</Alias>
      <Definition>c0cd7330-88ca-4d93-a6d1-29969927a49a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wenn keine Auswahl, werden die neusten Artikel gemäß Hauptkategorie (erste Kategorie/Tag) im Frontend angezeigt!]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mehrZumThema">Mehr zum Thema</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9ed1059-d28d-4cc3-9a3e-375c85f57b51</Key>
      <Name>In Übersicht ausblenden?</Name>
      <Alias>overviewHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03ca5531-d0c4-4acd-a7e8-d13e4f5fcb2e</Key>
      <Name>Veröffentlichungs Datum</Name>
      <Alias>publishedDate</Alias>
      <Definition>c0fd85d7-066f-4e50-9125-6f4e9e768684</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2fb75f9e-97c3-4e0a-b55c-92b907c55483</Key>
      <Name>Unterüberschrift</Name>
      <Alias>subline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4171cb63-ddcb-4c07-928a-5ea86e1e3bde</Key>
      <Caption>Inhalt</Caption>
      <Alias>content/inhalt</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>4e63412b-5776-4b43-91e1-3156cd9b5edd</Key>
      <Caption>Kopfbereich</Caption>
      <Alias>content/kopfbereich</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>60cd82f4-77ae-4fa1-8d22-95b2d2c3fe35</Key>
      <Caption>Mehr zum Thema</Caption>
      <Alias>mehrZumThema</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>76912ab1-7f4b-46d8-9ef6-f94da6f9420a</Key>
      <Caption>Autor</Caption>
      <Alias>content/autor</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a90e9c01-d49f-4e59-95c0-9d81dcbd3085</Key>
      <Caption>Hilfe</Caption>
      <Alias>hilfe</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
    <Tab>
      <Key>b176b6cb-a9a3-45c6-9900-303fc9fb84d6</Key>
      <Caption>Vorschau Texte</Caption>
      <Alias>vorschau/vorschauTexte</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e5816eb4-d125-41ab-b5da-c327588c5e76</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>