<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5c29131-7b45-427d-a950-72e8a864d19b" Alias="audioOverview" Level="3">
  <Info>
    <Name>Audio Übersicht</Name>
    <Icon>icon-voice color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>AudioUebersicht</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9b9281c4-70d5-4fe2-b42a-659d550c9709">AudioUebersicht</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6ea7a490-30e2-46d8-ac2d-a348d2a2178c" SortOrder="0">audioMediaServer</ContentType>
    <ContentType Key="f902b568-1c92-48ea-b272-c5c6e8ad1d01" SortOrder="1">podigee</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>