<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6ea7a490-30e2-46d8-ac2d-a348d2a2178c" Alias="audioMediaServer" Level="3">
  <Info>
    <Name>Audio Medien Server</Name>
    <Icon>icon-sound-medium color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage/Audio+Inhalte</Folder>
    <Compositions>
      <Composition Key="f8d00f1d-b89b-4f52-ab3f-50eab42c6a37">audioContent</Composition>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>AudioMedienServer</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e5c70c55-75b1-4179-bfc7-827af0641d99">AudioMedienServer</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>26f35e8c-13fc-4dea-b206-958ea2c6435f</Key>
      <Name>Episoden</Name>
      <Alias>audioEpisodes</Alias>
      <Definition>147ce1df-3231-44c6-8778-d7ef7f172b38</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="episoden">Episoden</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>30a2a523-231a-4b78-b84b-9a0b3fb6bc23</Key>
      <Name>PageSize</Name>
      <Alias>pageSize</Alias>
      <Definition>59ec1223-4cad-473f-a94c-499ab397a293</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="episoden">Episoden</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b95a468d-00f3-4eec-a87c-536ff64504e5</Key>
      <Name>Shop Link</Name>
      <Alias>shopLink</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="episoden">Episoden</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1d4b2bc8-477b-493e-8e9c-2d16980460f4</Key>
      <Caption>Episoden</Caption>
      <Alias>episoden</Alias>
      <Type>Tab</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>