<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da44240b-c3ba-4baf-93f0-1b6f634e2d7f" Alias="authors" Level="2">
  <Info>
    <Name>Autoren</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Authors</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="341eea03-8b55-4a61-b21a-b538d2df53ce" SortOrder="0">author</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>