<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22a111eb-d028-44ec-90aa-334b9680df83" Alias="bildTextCTASettings" Level="3">
  <Info>
    <Name>Bild-Text-CTASettings</Name>
    <Icon>icon-settings-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Bild-Text-CTA</Folder>
    <Compositions>
      <Composition Key="95894d18-6fd6-4a7a-87a8-9a8866c86ad9">visibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>