<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bdc8121e-7521-4148-b250-4765d1c3ccb5" Alias="cardSettings" Level="4">
  <Info>
    <Name>Kacheln Einstellungen</Name>
    <Icon>icon-settings color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements/Layouts/LayoutSettings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d8ec572-b913-4a58-847b-ec34bdf482d6</Key>
      <Name>Einstiegsanimation</Name>
      <Alias>entranceAnimation</Alias>
      <Definition>02c7e943-f11f-4548-91a8-4bf141fbd28e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Für eine Vorschau der Animationen: [Vorschau](https://animate.style/)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="animationen">Animationen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d6a57a9f-0555-49da-83ef-459fb386ce14</Key>
      <Name>Hintergrund Farbe</Name>
      <Alias>hintergrundFarbe</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Hintergrund Farbe für die Kachel fest.
Wirkt nur wenn Kachel aktiviert ist.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="kachel">Kachel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1306067-56c3-4794-80ac-6e873acc8246</Key>
      <Name>Kachel</Name>
      <Alias>isCard</Alias>
      <Definition>b0ac5ad6-69e8-49c2-80dd-57ac45680815</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt fest ob die Spalte eine Kachel ist]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="kachel">Kachel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a7885fd6-0e17-4285-847e-ad8cfc5e213d</Key>
      <Caption>Animationen</Caption>
      <Alias>animationen</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d0b514ec-ae6b-4f28-8750-e0da7371cea2</Key>
      <Caption>Kachel</Caption>
      <Alias>kachel</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>