<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="994ef3b5-8a73-4cba-b91f-0405856b7c0f" Alias="carouselAreaLayout" Level="4">
  <Info>
    <Name>Carousel Fläche</Name>
    <Icon>icon-repeat color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Fl%c3%a4chen/Area+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>234fdfbc-d533-49cc-9c88-90268b830d3d</Key>
      <Name>Flächen Items</Name>
      <Alias>areaItems</Alias>
      <Definition>c0cd7330-88ca-4d93-a6d1-29969927a49a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e8b3dd9b-718d-43af-8b9a-d1891bacfd0e</Key>
      <Name>Anzahl Items Desktop</Name>
      <Alias>itemCountDesktop</Alias>
      <Definition>83e2a4e7-3cb1-40a5-b1a2-55b70bc29db1</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen ≥ 1200px.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>becd7e95-8a05-46f5-aa82-2425aba4f07b</Key>
      <Name>itemCountMobile</Name>
      <Alias>itemCountMobile</Alias>
      <Definition>f0f911fe-f6fb-448a-b947-99ec3f90a1b2</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen < 768px.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dee387f1-864d-473c-8dd3-ed0fc8d208b3</Key>
      <Name>Anzahl Items Tablet Landscape</Name>
      <Alias>itemCountTablet</Alias>
      <Definition>13951be7-cf47-4ce5-b084-be617a463f8d</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen ≥ 992px.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9dc103a8-4ce2-4e32-844b-60c7a95e06b4</Key>
      <Name>Anzahl Items Tablet Portrait</Name>
      <Alias>itemCountTabletPotrait</Alias>
      <Definition>f0f911fe-f6fb-448a-b947-99ec3f90a1b2</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen ≥ 768px.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b33757b7-3586-4601-a50e-c616e729ce14</Key>
      <Name>Stage Padding</Name>
      <Alias>stagePadding</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="stagePadding">Stage Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85710b79-353f-4016-a2e9-838db71c3f1d</Key>
      <Name>Stage Padding verwenden</Name>
      <Alias>useStagePadding</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="stagePadding">Stage Padding</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4d204ada-b51c-4f28-a86b-22e863156ccf</Key>
      <Caption>Stage Padding</Caption>
      <Alias>stagePadding</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ef8fef02-7657-4137-a371-e00a24f6e13e</Key>
      <Caption>Carousel</Caption>
      <Alias>carousel</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>