<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0b6af88-b184-4f51-b81c-7467ddf0d208" Alias="carouselAreaSp" Level="3">
  <Info>
    <Name>Carousel Fläche - Stage Padding</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Das Stagepadding im Carousel legt den Innenabstand fest, der links und rechts von den sichtbaren Elementen vorhanden ist</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Fl%c3%a4chen</Folder>
    <Compositions>
      <Composition Key="87c3d6ed-0754-451b-a656-9ee95542be46">areaSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>33658ed3-6f17-49b1-9fb4-dcdbaa013965</Key>
      <Name>Flächen Items</Name>
      <Alias>areaItems</Alias>
      <Definition>c0cd7330-88ca-4d93-a6d1-29969927a49a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c269a7a-b0c1-4d24-bf72-5d02dc2671c6</Key>
      <Name>Hintergrundfarbe der Fläche</Name>
      <Alias>bgColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hintergrund">Hintergrund</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6db9f33-c707-446f-bd79-79b559a4ee1b</Key>
      <Name>Anzahl Items Desktop</Name>
      <Alias>itemCountDesktop</Alias>
      <Definition>83e2a4e7-3cb1-40a5-b1a2-55b70bc29db1</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen ≥ 992px.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4a412da-045e-4f68-b48a-c9caac171e97</Key>
      <Name>itemCountMobile</Name>
      <Alias>itemCountMobile</Alias>
      <Definition>f0f911fe-f6fb-448a-b947-99ec3f90a1b2</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen < 576px.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7b116c3-9065-42f3-9c32-0e213bceda57</Key>
      <Name>Anzahl Items Tablet</Name>
      <Alias>itemCountTablet</Alias>
      <Definition>13951be7-cf47-4ce5-b084-be617a463f8d</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Carousel Items für Auflösungen ≥ 576px.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f82cf73-90c2-45d0-b1e7-45187e073921</Key>
      <Name>Stage Padding</Name>
      <Alias>stagePadding</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege das Stage Padding in 'px' fest. Der Standardwert beträgt 50px]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="carousel">Carousel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>736f99fe-f1a5-490f-8f3e-5715339c44e4</Key>
      <Caption>Hintergrund</Caption>
      <Alias>hintergrund</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>7a437719-5a11-4f88-a98e-285beb5fb624</Key>
      <Caption>Carousel</Caption>
      <Alias>carousel</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>