<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09" Alias="contentGrid" Level="3">
  <Info>
    <Name>Content Grid</Name>
    <Icon>icon-grid color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/NWB</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e0644c5-c877-4908-b0e7-11a4675d9d5e</Key>
      <Name>BlockGrid</Name>
      <Alias>blockGrid</Alias>
      <Definition>bc3b6db4-e710-4751-a0e8-e4c7bd0b1fb8</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentGrid/contentGrid">Content Grid</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5d24364b-810c-4363-84d7-65cdc88c55fc</Key>
      <Caption>Content Grid</Caption>
      <Alias>contentGrid/contentGrid</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>94376acd-e7be-4ffb-9190-b68d0bd6dd2d</Key>
      <Caption>Content Grid</Caption>
      <Alias>contentGrid</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>