<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d43ea02-f400-45bc-aaff-e40da2b69fca" Alias="contactOverview" Level="3">
  <Info>
    <Name>ContactOverview</Name>
    <Icon>icon-addressbook color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>ContactOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7b06bb5e-b088-4cdc-ad2c-89a2aa6cdcf7">ContactOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ca95cadc-4536-4f93-871a-0c7a9fc91219" SortOrder="0">contactForm</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>