<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca95cadc-4536-4f93-871a-0c7a9fc91219" Alias="contactForm" Level="3">
  <Info>
    <Name>ContactForm</Name>
    <Icon>icon-book color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>ContactForm</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b6d887b2-81a6-4357-9b98-66f00bbd9a86">ContactForm</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7b56aa3b-0590-4f04-86ca-1e335864fed5</Key>
      <Name>Datenschutz Text</Name>
      <Alias>dataProtectionText</Alias>
      <Definition>1bb564ec-6873-4635-89a8-0cf6ebe7b14c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="formular">Formular</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>730de036-8621-4cf4-9afe-c19d8c2e353c</Key>
      <Name>Erfolg Text</Name>
      <Alias>erfolgText</Alias>
      <Definition>1bb564ec-6873-4635-89a8-0cf6ebe7b14c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[User Feedback nach erfolgreichem Versand des Kontaktformulars.

Zur Vorschau fügen Sie diesen QueryString der URL hinzu: **?successPreview=true**]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="formular">Formular</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3178aa17-4533-4fa3-81a8-c3d009798841</Key>
      <Name>Empfänger Email</Name>
      <Alias>toAddress</Alias>
      <Definition>1ff1eac9-23d1-469e-b86a-ea779ef3bf22</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Die Standard-E-Mail-Adresse wird zusätzlich zu den themengebietszugehörigen Ansprechpartnern an das Kontaktformular gesendet.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="formular">Formular</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e1c1b9ff-5f94-4242-8c47-625f1e43ea33</Key>
      <Caption>Formular</Caption>
      <Alias>formular</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>