<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="51bc4283-5b93-4e32-882d-2f5164845a4d" Alias="contacts" Level="3">
  <Info>
    <Name>Kontaktpool</Name>
    <Icon>icon-user-females color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage/Kontakt</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="df8a63df-958b-4f2c-9714-ddd97c20a805" SortOrder="0">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>