<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17e156c1-bc89-4783-82c9-5dc72fe80049" Alias="contactCard" Level="3">
  <Info>
    <Name>Kontakt-Karte</Name>
    <Icon>icon-user-females-alt color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Contact</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f668f531-191c-4b58-b7df-842c6890546e</Key>
      <Name>Kontakt wählen</Name>
      <Alias>contactChosen</Alias>
      <Definition>09aba9c9-ffef-4d92-ac35-29673b967c41</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d3d1b7a-5c42-452a-af71-efc174fbbd9b</Key>
      <Name>Formatierung</Name>
      <Alias>format</Alias>
      <Definition>e40d26eb-1a4d-41e5-8dc0-a528b3c7eb74</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9d1a079a-82ba-45a6-8803-253a5577a7e4</Key>
      <Caption>Inhalt</Caption>
      <Alias>inhalt</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>