<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d7e88ba-e2dc-470c-8e5c-7f87656f2480" Alias="countDown" Level="2">
  <Info>
    <Name>Countdown</Name>
    <Icon>icon-timer color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fd35ac48-ed6e-4616-a047-bcff5324e5e2</Key>
      <Name>Datum</Name>
      <Alias>timestamp</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legen Sie ein Datum fest, wenn der Timer außerhalb des Events verwendet wird.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="timerEinstellungen">Timer Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1042a831-c972-4b01-aadb-f88f120d2df7</Key>
      <Caption>Timer Einstellungen</Caption>
      <Alias>timerEinstellungen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>