<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80703bec-abe2-44e6-9075-44770ee2dac7" Alias="ctaLinkList" Level="2">
  <Info>
    <Name>CTA-Link-List</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>50010e7c-5d39-45ff-9938-5892c6a1963b</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>9741383a-0960-4345-b58d-85f940f714b1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sidebar/callToAction">Call to action</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ae51ae1-aedf-4d7d-a744-30fae12a2870</Key>
      <Caption>Call to action</Caption>
      <Alias>sidebar/callToAction</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>f508fdab-a37b-414d-92f4-70136f8a8a50</Key>
      <Caption>Sidebar</Caption>
      <Alias>sidebar</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>