<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c161523d-b19c-49a8-b784-4d06048abad5" Alias="defaultArea" Level="3">
  <Info>
    <Name>Standard Fläche</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Fl%c3%a4chen</Folder>
    <Compositions>
      <Composition Key="87c3d6ed-0754-451b-a656-9ee95542be46">areaSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c25522e7-2464-4b34-828b-57b61f891cde</Key>
      <Name>Flächen Items</Name>
      <Alias>areaItems</Alias>
      <Definition>c0cd7330-88ca-4d93-a6d1-29969927a49a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="teaserElemente">Teaser-Elemente</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1064cf8f-3511-4b42-9946-509e2795632f</Key>
      <Name>Hintergrundfarbe der Fläche</Name>
      <Alias>bgColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hintergrund">Hintergrund</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>415804ee-1004-45f7-824a-bf14eaa38378</Key>
      <Name>Volle Breite</Name>
      <Alias>fullWidth</Alias>
      <Definition>b0ac5ad6-69e8-49c2-80dd-57ac45680815</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt fest, ob die einzelnen Items die volle Breite des Containers einnehmen. Wenn diese Option deaktiviert ist, werden die Items standardmäßig in einem Grid angezeigt]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hintergrund">Hintergrund</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4b711458-f10f-4581-9096-3ccaa76bd4ad</Key>
      <Caption>Hintergrund</Caption>
      <Alias>hintergrund</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>98edd991-5f60-4213-9fa2-351599a1de8a</Key>
      <Caption>Teaser-Elemente</Caption>
      <Alias>teaserElemente</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>