<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d162bda-d46f-4750-86f8-35e56447a1fa" Alias="defaultToolsPool" Level="2">
  <Info>
    <Name>Default Tools Pool</Name>
    <Icon>icon-folders color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="49482acc-53de-4e4c-ba38-f7fff15bc172" SortOrder="0">tool</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>