<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ba7e7ae-7298-41f8-90e9-b9f5195f2751" Alias="eventsOverview" Level="2">
  <Info>
    <Name>Events Übersicht</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>EventOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5bd9a047-5e4a-4224-857f-3d4447a0504c">EventOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c1c4c153-67da-4455-9b07-db487425efb8" SortOrder="0">eventDetail</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2edeb49d-9928-4fd6-9203-6c1a7377602c</Key>
      <Name>Crop Hilfe</Name>
      <Alias>cropHelperEventsOverview</Alias>
      <Definition>5b9c1b7e-dfff-46f9-a111-e6b82b3bbc3f</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hilfe">Hilfe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>885b1c29-24a1-491e-ba26-43b29dbaccb8</Key>
      <Name>Event Flächen</Name>
      <Alias>eventAreas</Alias>
      <Definition>c0e2ea16-7aa4-4150-98ec-cffb3693b651</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b6b68a8-2305-4da3-ba87-d523361d6b24</Key>
      <Name>Aufmacher Flächen</Name>
      <Alias>headAreas</Alias>
      <Definition>c0e2ea16-7aa4-4150-98ec-cffb3693b651</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb66a508-46f0-4e45-bab8-d457521fa2ef</Key>
      <Name>Überschrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Worte mit &lt;span&gt;&lt;/span&gt; umschließen, um sie gelb zu markieren]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea844eef-8258-4d5d-9019-4ff41e36fe33</Key>
      <Name>Bild für Einleitungstext</Name>
      <Alias>introImage</Alias>
      <Definition>7c9d1b16-285f-4ae0-ad6a-486132098e7f</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55830639-c929-42d5-a00d-8a5eb1360310</Key>
      <Name>Einleitungstext</Name>
      <Alias>introText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f3ff839-4c6c-49e7-95b9-acc213ba4339</Key>
      <Name>Events pro Seite</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5378d30a-696c-4103-ad25-c1bb7d4692b4</Key>
      <Caption>Hilfe</Caption>
      <Alias>hilfe</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
    <Tab>
      <Key>66774357-4b35-45ac-8dd0-c43e9a763f49</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>