<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1c4c153-67da-4455-9b07-db487425efb8" Alias="eventDetail" Level="2">
  <Info>
    <Name>Event Ansicht</Name>
    <Icon>icon-calendar-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="80703bec-abe2-44e6-9075-44770ee2dac7">ctaLinkList</Composition>
      <Composition Key="fc809b5f-9f9a-4336-b5ef-c9c0189e09ae">feedback</Composition>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8549af74-244b-445f-a016-be5fe1c641c8">EventDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9218c904-8868-4a11-b6db-b47e884ef61a</Key>
      <Name>Alternatives Bild</Name>
      <Alias>alternativeCover</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Crop Name**: Detail Stage BackgroundImage

Dieses Bild wird als Header-Bild verwendet, wenn es ausgewählt ist.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>87d67f8d-7b9c-4ad7-a414-ad5b80001e95</Key>
      <Name>Flächen-Vorschau</Name>
      <Alias>areaThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d18fc85-649d-4edc-8450-16b6a816bcf3</Key>
      <Name>Blur Stärke</Name>
      <Alias>blurValue</Alias>
      <Definition>1730fd54-6f7f-44f8-8e2c-7375e1f70062</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege die Intensität des Blur Effekts fest. Standard ist 100px]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8858db5-3551-424e-86a1-4e6930dff93f</Key>
      <Name>Icon Farbe</Name>
      <Alias>categoryColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Farbe des Icons inkl. der Kategorie Headline fest.
Default: "Textfarbe im]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47687f4a-b04c-48ba-a5d1-6d176ecbfd42</Key>
      <Name>Crop Hilfe</Name>
      <Alias>cropHelperEventView</Alias>
      <Definition>4b7dc56f-4746-4385-b74b-993706da7db4</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hilfe">Hilfe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>76899291-27b4-42a1-b661-0a35fc41b118</Key>
      <Name>Inhalt</Name>
      <Alias>detailBlockgrid</Alias>
      <Definition>f2da852c-317f-48a6-bdfb-96d8d2063287</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentGrid">Content Grid</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0fad31a5-3f64-4a75-b14c-bde4b31676cd</Key>
      <Name>Blur Effekt</Name>
      <Alias>disableBlur</Alias>
      <Definition>15454d43-36c6-4a55-9307-9ac539497b0b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wenn Blur aktiviert ist wird kein Crop verwendet.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>076b8595-eaf4-47e5-86bb-0070f3067298</Key>
      <Name>Kontakt</Name>
      <Alias>eventContact</Alias>
      <Definition>fabe7401-80e6-47d9-b1f8-198561d242f5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/sieHabenNochFragen">Sie haben noch Fragen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0c2e7dad-8164-4a23-93dc-eefe99429f37</Key>
      <Name>Ende</Name>
      <Alias>eventDateEnd</Alias>
      <Definition>f0369784-dbdd-4b43-a6c4-dac9003907a5</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a3ab740-5a12-4e3c-88f1-75e7bbb509e3</Key>
      <Name>Beginn</Name>
      <Alias>eventDateStart</Alias>
      <Definition>f0369784-dbdd-4b43-a6c4-dac9003907a5</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>549c63e3-0a86-494d-978d-353a5f09b7d9</Key>
      <Name>Debüt</Name>
      <Alias>eventDebuet</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f6ff8efe-a916-48f4-89c0-d86cbd16c6e0</Key>
      <Name>Dauer</Name>
      <Alias>eventDuration</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0db0ca56-99df-4456-817b-b2704294634c</Key>
      <Name>Format</Name>
      <Alias>eventFormat</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6c633d2-97fa-4bb7-99bc-1bfcc3a16dfe</Key>
      <Name>Überschrift</Name>
      <Alias>eventHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3734dabc-15e9-460f-b444-2c489c2d91e1</Key>
      <Name>Bild</Name>
      <Alias>eventImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wenn kein alternatives Bild gesetzt ist, wird dieses Bild ebenfalls als Header Hintergrundbild verwendet mit dem Crop: 
** Detail Stage BackgroundImage**]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>43019b29-4217-4533-a9ec-ae029eb44304</Key>
      <Name>Veranstaltungsort</Name>
      <Alias>eventLocation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70daca5a-b50d-4b35-a073-a61ef3003122</Key>
      <Name>Event Name</Name>
      <Alias>eventName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ecef0e5-d62b-4239-b6f5-bbe785c5ed22</Key>
      <Name>Preis</Name>
      <Alias>eventPrice</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67df62c1-7089-4590-a249-a5156f1ef219</Key>
      <Name>Top Event?</Name>
      <Alias>eventTop</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fde6e1d3-f7ec-4002-b209-d39bac67ddab</Key>
      <Name>Logo</Name>
      <Alias>organizerLogo</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/organisator">Organisator</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf0672be-5318-452b-a842-bcaec32b1c34</Key>
      <Name>Name</Name>
      <Alias>organizerName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/organisator">Organisator</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f40ee18-a44a-4066-8f31-1acb4b3571af</Key>
      <Name>In Übersicht ausblenden?</Name>
      <Alias>overviewHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>734b9c4d-ca9f-41da-af66-e627117ea715</Key>
      <Name>Auszug</Name>
      <Alias>previewExcerpt</Alias>
      <Definition>62a0d155-ca17-4284-91d8-e527263622b9</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c542ac73-b801-4afb-b1a6-06ca1018bfff</Key>
      <Name>Stichpunkte</Name>
      <Alias>previewShortBullets</Alias>
      <Definition>7f6a11ef-a6e3-4379-a4e1-b5ef8cfe9d8b</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau/kurzKnapp">Kurz &amp; Knapp</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7418de5a-3faf-4c31-aa86-d7d5028bfe77</Key>
      <Name>Vorschau</Name>
      <Alias>previewThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd0335cd-7c86-4e9a-bec9-74abfdceaf25</Key>
      <Name>Überschrift</Name>
      <Alias>previewTitle</Alias>
      <Definition>6a109051-506f-44c3-9b54-76d134e03ae2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>728f33cd-6f7d-4f45-9bb8-a03d35925e66</Key>
      <Name>Textfarbe im Kopfbereich</Name>
      <Alias>stageTextColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Textfarben für den Kopfbereich fest.
Default: #ffffff]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d83b793a-3dec-493e-b5bf-86fbf287bc36</Key>
      <Name>Ort</Name>
      <Alias>structuredDataCity</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e9cd79ae-98c1-438c-a4ed-be62f1e498a5</Key>
      <Name>Land</Name>
      <Alias>structuredDataCountry</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[ISO 3166-1 alpha-2 country code, z.B. "DE" für Germany:

https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5e7d74d0-b3fb-4918-a070-14ce2d1e6c7b</Key>
      <Name>Name des Veranstaltungsorts</Name>
      <Alias>structuredDataLocationName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85000008-58f1-457d-9349-e61e57eb571c</Key>
      <Name>Postleitzahl</Name>
      <Alias>structuredDataPostalCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64cefebf-bb68-43bf-b2ac-ad3f65228740</Key>
      <Name>Fester Euro-Preis ohne Währung</Name>
      <Alias>structuredDataPrice</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Nur mit Preisangabe (auch 0 möglich) kann ein Link zur Veranstaltung gesetzt werden!]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15eeac2f-e464-4451-b2bc-18804a0a8ac9</Key>
      <Name>Region (Landkreis o.ä.)</Name>
      <Alias>structuredDataRegion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Offizielle englische Schreibweise beachten:

https://en.wikipedia.org/wiki/List_of_administrative_divisions_by_country]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca5e0f8a-f448-48c8-affd-b0106a48b296</Key>
      <Name>Straße und Hausnr</Name>
      <Alias>structuredDataStreet</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/structuredData">Structured Data</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4ff35d83-1fdc-4a54-8ec4-ee67400df0b4</Key>
      <Caption>Structured Data</Caption>
      <Alias>seO/structuredData</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>536d9e54-2ca8-498f-8d32-6b2d3d0bd33e</Key>
      <Caption>Kurz &amp; Knapp</Caption>
      <Alias>vorschau/kurzKnapp</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>71218929-1d12-42da-9e34-c0956aaef6c7</Key>
      <Caption>Vorschau</Caption>
      <Alias>vorschau</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>7c471339-85db-483e-89d0-94d958956f59</Key>
      <Caption>Sie haben noch Fragen</Caption>
      <Alias>content/sieHabenNochFragen</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>8909531c-3f6a-41dc-9aed-3314b1e23e17</Key>
      <Caption>Kurz und Knackig</Caption>
      <Alias>sidebar/kurzUndKnackig</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>92d1e2bb-b178-4a6f-9cf4-5505cca716f1</Key>
      <Caption>Content Grid</Caption>
      <Alias>contentGrid</Alias>
      <Type>Tab</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
    <Tab>
      <Key>9826b88a-2245-4506-abf2-3ddc4e48c111</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-3</SortOrder>
    </Tab>
    <Tab>
      <Key>a33e7f17-c8b2-4e89-8409-85e43b7969e9</Key>
      <Caption>Organisator</Caption>
      <Alias>content/organisator</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>b84d7a5f-84d2-494b-98a3-101dc29671cf</Key>
      <Caption>Hilfe</Caption>
      <Alias>hilfe</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
    <Tab>
      <Key>bdd0bc9e-0121-4fdd-a7af-8754ec8a98d8</Key>
      <Caption>Kopfbereich</Caption>
      <Alias>content/kopfbereich</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f756ec5a-8ff6-4b70-b6b7-d6e5e8470899</Key>
      <Caption>Vorschau Texte</Caption>
      <Alias>vorschau/vorschauTexte</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>