<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2df5af5a-6a35-447d-a35c-e4ceb6a41bfd" Alias="expertProperty" Level="3">
  <Info>
    <Name>Expert-Property</Name>
    <Icon>icon-bars color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Expert+Board</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed756646-d9f1-449d-aa14-d6bb2a7c54a2</Key>
      <Name>Bezeichnung</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="eigenschaften">Eigenschaften</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Bitte geben Sie eine Bezeichnung ein.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0b2fefa-6a28-499f-ba99-7aa215ce287b</Key>
      <Name>Wert</Name>
      <Alias>valueNumber</Alias>
      <Definition>619be624-e73b-4c51-9601-f14bc36cdcbb</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="eigenschaften">Eigenschaften</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Bitte geben Sie einen Wert an.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>57324c98-d12c-44c8-9fd5-bbb849644938</Key>
      <Caption>Eigenschaften</Caption>
      <Alias>eigenschaften</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>