<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc809b5f-9f9a-4336-b5ef-c9c0189e09ae" Alias="feedback" Level="2">
  <Info>
    <Name>Feedback</Name>
    <Icon>icon-chat-active color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>439e6a01-3fc0-4308-8263-520f0bf04dce</Key>
      <Name>Feedback Bild</Name>
      <Alias>feedbackAvatar</Alias>
      <Definition>c51fc805-3c3f-46a0-abf7-ba66441d0d79</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="feedback/feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3f08a0f5-2cb5-464c-b8f8-d6aee065d08a</Key>
      <Name>Headline</Name>
      <Alias>feedbackHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="feedback/feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ad8f450-87d5-4af7-b988-50a11c3d4103</Key>
      <Name>Link</Name>
      <Alias>feedbackLink</Alias>
      <Definition>58cecfb4-d00c-404a-92df-e0aade5e4160</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="feedback/feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45fb2ec1-59e6-4275-84d8-05c5c2a5ae97</Key>
      <Name>Text</Name>
      <Alias>feedbackText</Alias>
      <Definition>1e668049-8b66-4236-befe-365333cab5ec</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="feedback/feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09b15699-193a-4255-adf0-c4f89c07c55f</Key>
      <Name>An/Aus</Name>
      <Alias>feedbackToggle</Alias>
      <Definition>a0ea5182-4bd8-42bf-a9b9-62c2d351bd57</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="feedback/feedback">Feedback</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6b5b3da7-a9fc-4d1f-9a56-fd5078ee8431</Key>
      <Caption>Feedback</Caption>
      <Alias>feedback/feedback</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>bad253b3-fd3d-4190-b30f-ba37b01a2fc5</Key>
      <Caption>Feedback</Caption>
      <Alias>feedback</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>