<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b277962a-a6b2-470e-89c7-7ac1c879daac" Alias="footerContactGroup" Level="3">
  <Info>
    <Name>Footer Contact Group</Name>
    <Icon>icon-footprints color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Footer+Contact</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb36356b-5ddf-46a8-9fd1-58b1cc15b118</Key>
      <Name>Footer Gruppe</Name>
      <Alias>footerGroup</Alias>
      <Definition>3d78a8c6-928c-438c-9b69-af466bb4af37</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gruppe">Gruppe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f69265a7-e65a-47da-9889-4a0e0cd2439a</Key>
      <Name>Informationen</Name>
      <Alias>informationen</Alias>
      <Definition>a39f6f22-68e9-4cc3-9c44-dcf8c74c1411</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gruppe">Gruppe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>93141553-901a-40b1-99eb-61f173c53d1c</Key>
      <Caption>Gruppe</Caption>
      <Alias>gruppe</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>