<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dcff3eea-2cee-4874-a7a8-b17c2884da7b" Alias="gallery" Level="2">
  <Info>
    <Name>Galerie</Name>
    <Icon>icon-pictures-alt-2 color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>293a80e8-5400-4d31-a10c-f4022f6f512f</Key>
      <Name>Galerie Items</Name>
      <Alias>galleryItems</Alias>
      <Definition>9dfa6ba5-1f92-4bd0-8885-e6c4ab5b4763</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="galerieBilderVideos">Galerie Bilder &amp; Videos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e2ebf09-010b-4732-8939-b15c0085d619</Key>
      <Name>Bilder pro Reihe</Name>
      <Alias>imagesDefault</Alias>
      <Definition>851f81e1-4ac5-46b0-8462-c8f02013e1f9</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege fest wieviel Bilder in einer Reihe angezeigt werden.
**Breakpoint < 576px**]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="galerieBilderVideos">Galerie Bilder &amp; Videos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc33f2f1-7c2b-4171-a5bc-16187c54f09e</Key>
      <Name>Bilder pro Reihe LG</Name>
      <Alias>imagesLG</Alias>
      <Definition>b3d22fab-f9e0-4c40-ad99-9a8226391b2b</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege fest wieviel Bilder in einer Reihe angezeigt werden. **LG Breakpoint >= 992px**]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="galerieBilderVideos">Galerie Bilder &amp; Videos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa7fa246-9d4d-4875-910b-2e49397738e9</Key>
      <Name>Bilder pro Reihe MD</Name>
      <Alias>imagesMD</Alias>
      <Definition>1b1b2524-b72a-4b5a-927e-a6226c6f9a4c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege fest wieviel Bilder in einer Reihe angezeigt werden. **MD Breakpoint >= 768px**]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="galerieBilderVideos">Galerie Bilder &amp; Videos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34d81472-aae0-447f-ae02-f7d49cc1329b</Key>
      <Name>Bilder pro Reihe XL</Name>
      <Alias>imagesXL</Alias>
      <Definition>9215f614-06e0-4df6-9ce3-8536cc3c4cc0</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege fest wieviel Bilder in einer Reihe angezeigt werden. **XL Breakpoint >= 1200px**]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="galerieBilderVideos">Galerie Bilder &amp; Videos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a074ad34-236f-4d78-a9e7-9c59d5b50c7d</Key>
      <Caption>Galerie Bilder &amp; Videos</Caption>
      <Alias>galerieBilderVideos</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>