<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c684756-e9d1-4cf4-9ed4-a39d7d8f00db" Alias="gapSettings" Level="3">
  <Info>
    <Name>GapSettings</Name>
    <Icon>icon-ethernet color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1890645f-2b5f-4b1e-9ab1-c64c120e33f8</Key>
      <Name>Unten</Name>
      <Alias>mb</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="abstandAuen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8fc10fff-d976-4288-806f-d79cad9be572</Key>
      <Name>Unten</Name>
      <Alias>mbMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="abstandAuen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>566b5215-f242-4e5c-9db5-c0db728b7dc2</Key>
      <Name>Unten</Name>
      <Alias>mbSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="abstandAuen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a137e9d-62aa-4774-ab52-2712423f03ac</Key>
      <Name>Rechts</Name>
      <Alias>me</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="abstandAuen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4e1a87f-ed22-4ca8-98bf-68f1077ae764</Key>
      <Name>Rechts</Name>
      <Alias>meMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="abstandAuen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cfe46af5-71e5-4bd4-ada9-e75de5bb0b52</Key>
      <Name>Rechts</Name>
      <Alias>meSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="abstandAuen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ac6bad9-c155-4f35-974e-c8a6a860afa2</Key>
      <Name>Links</Name>
      <Alias>ms</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="abstandAuen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f5e1457-5b5a-4fd1-86f3-01d8dea707de</Key>
      <Name>Links</Name>
      <Alias>msMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="abstandAuen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>674591a0-d056-4277-8ebf-8273d631c703</Key>
      <Name>Links</Name>
      <Alias>msSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="abstandAuen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d149a4f-bef1-429b-b976-c848b09d58f0</Key>
      <Name>Oben</Name>
      <Alias>mt</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="abstandAuen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e88bee2-8bb8-4a31-a8fd-8a6b4134e9b6</Key>
      <Name>Oben</Name>
      <Alias>mtMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="abstandAuen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eab74533-5101-47e5-b6b0-8f4fc7bff517</Key>
      <Name>Oben</Name>
      <Alias>mtSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="abstandAuen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5f59d0f-c491-4131-8ea5-4695c8dc7806</Key>
      <Name>Unten</Name>
      <Alias>pb</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="abstandInnen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dd70c122-d43f-482c-b217-941ca7dcf537</Key>
      <Name>Unten</Name>
      <Alias>pbMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="abstandInnen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49403698-c86c-471c-b77a-b32a58eaf29c</Key>
      <Name>Unten</Name>
      <Alias>pbSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="abstandInnen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63c4b664-1043-4a33-9b75-06fa53d81378</Key>
      <Name>Rechts</Name>
      <Alias>pe</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="abstandInnen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6b0c0b7-c331-41d9-8a76-2e12f52d959c</Key>
      <Name>Rechts</Name>
      <Alias>peMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="abstandInnen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a855cc99-6107-4feb-b4dc-c5798e1f5a4b</Key>
      <Name>Rechts</Name>
      <Alias>peSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="abstandInnen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6992794-fe64-471d-9e14-023423921f47</Key>
      <Name>Links</Name>
      <Alias>ps</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="abstandInnen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>81377810-cc4b-4db4-88cb-333a8c84a730</Key>
      <Name>Links</Name>
      <Alias>psMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="abstandInnen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fefa8616-f9b1-49bd-9658-c1919bab687d</Key>
      <Name>Links</Name>
      <Alias>psSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="abstandInnen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7932d45c-946b-4e0b-bd66-7846776ff0bf</Key>
      <Name>Oben</Name>
      <Alias>pt</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="abstandInnen/desktop">Desktop</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>716d70dc-5ec1-4706-8ebd-cd657f388016</Key>
      <Name>Oben</Name>
      <Alias>ptMD</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="abstandInnen/tablet">Tablet</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3829fe4a-f3b0-44b0-a7a4-b243d5a2f649</Key>
      <Name>Oben</Name>
      <Alias>ptSM</Alias>
      <Definition>d1cc9fcf-7900-4cb8-99c5-43433f138b04</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="abstandInnen/mobile">Mobile</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>408d8631-fbf3-4cab-9d47-56c1e87eb06b</Key>
      <Caption>Mobile</Caption>
      <Alias>abstandAuen/mobile</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>63ea06c0-664a-40b4-ad2f-2dcabf4d214e</Key>
      <Caption>Desktop</Caption>
      <Alias>abstandInnen/desktop</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>72802c19-af16-444f-b5c7-1f949caaa6ca</Key>
      <Caption>Abstand außen</Caption>
      <Alias>abstandAuen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a173b04a-b0e9-4097-acb5-0c8e2def7555</Key>
      <Caption>Abstand Innen</Caption>
      <Alias>abstandInnen</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a215ded3-a94f-4b8f-ad90-e6b34d0cb969</Key>
      <Caption>Desktop</Caption>
      <Alias>abstandAuen/desktop</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a55e9db5-38f4-4b93-bd1f-a211b53aac20</Key>
      <Caption>Tablet</Caption>
      <Alias>abstandAuen/tablet</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b80b5679-ba86-43b4-89b3-2c07915c0777</Key>
      <Caption>Tablet</Caption>
      <Alias>abstandInnen/tablet</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>e2985a4e-3f58-44e6-9f0c-2bde429dd31b</Key>
      <Caption>Mobile</Caption>
      <Alias>abstandInnen/mobile</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>