<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6c38baed-6e80-48f7-910b-dbf503245753" Alias="groupedDataSet" Level="3">
  <Info>
    <Name>Guppierung</Name>
    <Icon>icon-stacked-disks color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage/Tax+Audits</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0591d548-2614-41d2-8fe4-2ba6909c1b20" SortOrder="0">singleDataSet</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a4243a51-c6cb-4b1e-a3d2-83c4b5e6c8d1</Key>
      <Name>Gruppen Name</Name>
      <Alias>groupName</Alias>
      <Definition>bff3c141-79f1-46b7-802b-97703bb86be1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="gruppe">Gruppe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ef68159-7980-4345-a2f3-be98e284c3f5</Key>
      <Name>Gruppen Ergebnisse</Name>
      <Alias>groupResults</Alias>
      <Definition>3ffc57d4-90a6-4d24-be87-f9574f25499e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="gruppe">Gruppe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ed1eb404-3954-4512-a54b-ac099a7b5041</Key>
      <Caption>Gruppe</Caption>
      <Alias>gruppe</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>