<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1395eaaf-100a-4705-9a50-cb69d718481a" Alias="headline" Level="3">
  <Info>
    <Name>Headline</Name>
    <Icon>icon-article color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Headline</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>445c0053-a74e-4efe-9eb0-92617aa785d6</Key>
      <Name>Rahmen</Name>
      <Alias>border</Alias>
      <Definition>b0ac5ad6-69e8-49c2-80dd-57ac45680815</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt eine 80px weite Border unter die Headline]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headline/border">Border</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4d813bc-dade-41a3-aae6-313219070430</Key>
      <Name>Farbe</Name>
      <Alias>color</Alias>
      <Definition>f9041e50-8d6c-4752-be0a-726bf4d7509d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cafc099f-6916-4087-ae8c-fe7ce9129e01</Key>
      <Name>SM</Name>
      <Alias>fontSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Schriftgröße für < 992px und 
**Defaults**
h1: 30px
h2: 22px
h3: 20px
h4: 20px
h5: 18px
h6: 16px]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="schriftgre">Schriftgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22688e3d-5962-4912-9b65-8f15758525a8</Key>
      <Name>LG</Name>
      <Alias>fontSizeLG</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Schriftgröße für ≥992px und < 1200px Screens
**Defaults**
h1: 34px
h2: 28px
h3: 24px
h4: 22px
h5: 20px
h6: 16px]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="schriftgre">Schriftgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>619f2a65-c285-4ecf-b2dc-acf19e66fa39</Key>
      <Name>XL</Name>
      <Alias>fontSizeXL</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Schriftgröße für ≥1200px und < 1400px Screens
**Defaults**
h1: 38px
h2: 34px
h3: 28px
h4: 28px
h5: 22px
h6: 16px]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="schriftgre">Schriftgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65c9607d-9ba3-4f6a-accf-9f6b9f63ca9b</Key>
      <Name>XXL</Name>
      <Alias>fontSizeXXL</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Schriftgröße für ≥1400px Screens
**Defaults**
h1: 40px
h2: 36px
h3: 32px
h4: 30px
h5: 24px
h6: 18px]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="schriftgre">Schriftgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3838f3b5-f972-4e1a-b980-1c9a964b0ad1</Key>
      <Name>Schriftstärke</Name>
      <Alias>fontWeight</Alias>
      <Definition>94484cb0-6d8d-4bd0-a2ad-13a1319e38bd</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Default:** Normal - 400]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a2f9776-828d-4672-80dc-7e3ce0f0ba75</Key>
      <Name>Headline Typ</Name>
      <Alias>headlineType</Alias>
      <Definition>dc5085e2-382b-4e23-9f60-729530b4c6b7</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2290889a-d408-453d-89df-df2ebd08ed3d</Key>
      <Name>Buchstaben Abstand</Name>
      <Alias>letterSpacing</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[In Pixel]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64fe3f27-7b3b-47d3-bf09-cc21a7cac775</Key>
      <Name>Zeilenhöhe</Name>
      <Alias>lineHeight</Alias>
      <Definition>cef2028d-0651-4fb1-859c-63106282429f</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c08aca7-a7aa-4cf0-88a8-63a3ce26686c</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a70103a0-27a9-4b39-8904-70832fd935f4</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>abf97032-776c-44ff-8b7d-112162cc5d71</Key>
      <Name>Text Ausrichtung</Name>
      <Alias>textAlign</Alias>
      <Definition>d503e8e1-0d91-4343-8e68-6e995674a9ec</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>37fb6365-4bd5-4183-b146-3bbd6a045d8f</Key>
      <Caption>Schriftgröße</Caption>
      <Alias>schriftgre</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>70cac5b8-7fc1-4ae7-9390-c5e3860dfa23</Key>
      <Caption>Headline</Caption>
      <Alias>headline</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>733c096d-39c6-4a22-8399-765a4fd03cf6</Key>
      <Caption>Border</Caption>
      <Alias>headline/border</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>