<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c71a533-2895-44fa-b9cd-31615e092523" Alias="highlightBannerSettings" Level="3">
  <Info>
    <Name>HighlightBannerSettings</Name>
    <Icon>icon-settings-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/HighlightBanner</Folder>
    <Compositions>
      <Composition Key="ab3e1ef4-41ed-409e-854c-defcf50c069d">colorSettings</Composition>
      <Composition Key="95894d18-6fd6-4a7a-87a8-9a8866c86ad9">visibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3cb7458b-b560-49b4-a9d8-6e7e49ebe199</Key>
      <Name>Box Ausrichtung</Name>
      <Alias>boxAlignment</Alias>
      <Definition>051f8aac-2220-453d-93c4-ba8c82e062b0</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="boxAusrichtung">Box-Ausrichtung</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bac70729-e90f-408f-a5ba-3656628212c7</Key>
      <Caption>Box-Ausrichtung</Caption>
      <Alias>boxAusrichtung</Alias>
      <Type>Tab</Type>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>