<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c48795a3-8044-4a9c-91d9-834b12344ba1" Alias="highlight" Level="3">
  <Info>
    <Name>Highlight</Name>
    <Icon>icon-light-up color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Tools</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ad8bce08-5441-4665-8ee2-cecfc3db556f</Key>
      <Name>Highlight Beschreibung</Name>
      <Alias>highlightDescription</Alias>
      <Definition>7db7b97c-eac4-47f7-b5cc-6dfc5484c131</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[max. 150 Zeichen]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hightlight">Hightlight</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ca956f5-6c70-4d7c-8665-32273c83cf6c</Key>
      <Name>Highlight Headline</Name>
      <Alias>highlightHeadline</Alias>
      <Definition>31bf29ae-84eb-4fc6-a675-d1bab2869974</Definition>
      <Type>Umbraco.Community.Contentment.TextInput</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[max. 35 Zeichen]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hightlight">Hightlight</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>698c3224-c201-4233-8e8a-e939b62d8505</Key>
      <Caption>Hightlight</Caption>
      <Alias>hightlight</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>