<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11fb7f22-36a3-475e-b911-c9bea93eafe4" Alias="highlightAreaLayout" Level="4">
  <Info>
    <Name>Highlight Fläche</Name>
    <Icon>icon-layers-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Fl%c3%a4chen/Area+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>229cde1a-f642-4b70-8a22-5d716368c3b2</Key>
      <Name>Item Picker</Name>
      <Alias>itemPicker</Alias>
      <Definition>c0cd7330-88ca-4d93-a6d1-29969927a49a</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="items">Items</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dba97fc1-4a31-455d-a492-30e14812ee45</Key>
      <Caption>Items</Caption>
      <Alias>items</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>