<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1098674c-97fc-4718-b66c-8b69c3098d23" Alias="homeNWB" Level="3">
  <Info>
    <Name>Home NWB</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="52eb20e5-ffb9-4a86-b4be-1f22e4624294">cookieFirst</Composition>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d6957f3f-b845-4c4d-8936-21dc5b6e8dd3">HomeNWB</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e7c13e12-d703-4d6d-afb2-c931b43327b1" SortOrder="0">contentPageNWB</ContentType>
    <ContentType Key="4f1ee1e8-5070-4bb1-9652-d21c567f44fe" SortOrder="1">newsletterNWB</ContentType>
    <ContentType Key="d5c29131-7b45-427d-a950-72e8a864d19b" SortOrder="2">audioOverview</ContentType>
    <ContentType Key="9f8fc3d8-5d00-4584-9c19-d7955a54d651" SortOrder="3">jobs</ContentType>
    <ContentType Key="0d43ea02-f400-45bc-aaff-e40da2b69fca" SortOrder="4">contactOverview</ContentType>
    <ContentType Key="51bc4283-5b93-4e32-882d-2f5164845a4d" SortOrder="5">contacts</ContentType>
    <ContentType Key="85648789-f177-49f5-884f-75ffa3f7317a" SortOrder="6">topicPool</ContentType>
    <ContentType Key="3a93ff31-160a-4ccc-a1bc-c0cf8e78320c" SortOrder="7">taxAudit</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>df642f7b-6e75-4446-a043-47a01e44e221</Key>
      <Name>Aktiviert</Name>
      <Alias>active</Alias>
      <Definition>b0ac5ad6-69e8-49c2-80dd-57ac45680815</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seitenschutz">Seitenschutz</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2296cda4-5630-4232-92be-369ac3fa5b49</Key>
      <Name>Kontaktformular</Name>
      <Alias>contactFormUrl</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/footerMainNavigation">Footer Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>291a4a40-bd74-49e8-ac7d-0c3048908c3c</Key>
      <Name>Copyright</Name>
      <Alias>copyright</Alias>
      <Definition>6a109051-506f-44c3-9b54-76d134e03ae2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/footerCopyrightBar">Footer Copyright Bar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>625a5f61-99c3-4639-a3f7-38d7937252fb</Key>
      <Name>Copyrightbar Navigation</Name>
      <Alias>copyrightbarNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/footerCopyrightBar">Footer Copyright Bar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b84e207-53d5-46c4-ae05-7e9541e19637</Key>
      <Name>Fallback Bild</Name>
      <Alias>fallbackImage</Alias>
      <Definition>fb50eb3d-daf2-4801-a18e-353bf42eed15</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hier kann ein 'Fallback'-Bild gewählt werden, welches beim Newsfeed-Carousel gesetzt wird, wenn 'https://datenbank.nwb.de/' kein Bild zur Verfügung stellt.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/newsfeed">Newsfeed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b648699-e72e-438d-a5b8-9f6d3bc7096b</Key>
      <Name>Footer</Name>
      <Alias>footerContact</Alias>
      <Definition>77271e21-1967-46df-be4c-1e30c9d89665</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer/footerMainNavigation">Footer Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c90e274c-8f44-4fa8-85a3-32ebbeb4f66d</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>993b3c66-9b39-490e-b3c5-a7469d742c33</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="weltenNavigation/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>865b654e-9f39-419f-ab17-fe49f9438782</Key>
      <Name>Menu</Name>
      <Alias>menu</Alias>
      <Definition>aaca532f-ed97-48ad-af1a-a30f915e6872</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/footerMainNavigation">Footer Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4038198-fce8-4754-90f0-80b76d59c010</Key>
      <Name>Navigation Kategorien</Name>
      <Alias>navigationCategories</Alias>
      <Definition>cf590436-c2a7-4d66-b8f6-f43d46bec635</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="weltenNavigation">Welten Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e03af0a-fdd1-47fe-9037-1427e4062bd5</Key>
      <Name>Newsfeed Anzahl Carousel Items</Name>
      <Alias>newsfeedAnzahlCarouselItems</Alias>
      <Definition>dfa85ecd-9f64-436e-9ccd-90fb54223233</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/newsfeed">Newsfeed</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>25524549-d063-4355-92b4-aba0776380ce</Key>
      <Name>Pin/Password</Name>
      <Alias>pin</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seitenschutz">Seitenschutz</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7af035f-a524-4c30-bb89-5af371b9f3f8</Key>
      <Name>Headline</Name>
      <Alias>protectHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seitenschutz">Seitenschutz</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f58677c-e744-4a8b-bc8b-23ec274529a6</Key>
      <Name>Text</Name>
      <Alias>protectText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seitenschutz">Seitenschutz</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>faa71854-d756-41ee-a7b7-16d1fa100f2d</Key>
      <Name>Social Media Links</Name>
      <Alias>socialMediaLinks</Alias>
      <Definition>2f03471d-d7c5-424d-804b-845599c61059</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer/footerMainNavigation">Footer Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3ff24d40-3e33-4a41-9409-c99bc227f5d6</Key>
      <Caption>Footer Main Navigation</Caption>
      <Alias>footer/footerMainNavigation</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>44c5e8ec-7d89-45ca-8769-777e9e23916f</Key>
      <Caption>Newsfeed</Caption>
      <Alias>settings/newsfeed</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4d453617-5f42-4362-ad20-973c7c5d0a8b</Key>
      <Caption>Welten Navigation</Caption>
      <Alias>weltenNavigation</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4df7bc9e-3501-48f5-8356-ec867fa0da47</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>5e2a81e8-3804-4322-a246-7cee8007ef72</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>7ae4fb7c-0107-4d66-8ee1-beef1cf04e8b</Key>
      <Caption>Seitenschutz</Caption>
      <Alias>seitenschutz</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
    <Tab>
      <Key>a07a2524-d23f-4ba2-a3cb-ef4f12c50df3</Key>
      <Caption>Footer Copyright Bar</Caption>
      <Alias>footer/footerCopyrightBar</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>daa6f03a-6760-4642-bf1f-455750efdcbb</Key>
      <Caption>Header</Caption>
      <Alias>weltenNavigation/header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>