<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="07b45be8-322b-46b9-af5d-8e587cf39f77" Alias="hTMLVideo" Level="3">
  <Info>
    <Name>Video</Name>
    <Icon>icon-video color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/HTML5+Video+Element</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fa510d21-7e68-44ba-93e1-49c8f29bbe8a</Key>
      <Name>Externe Video-Quelle</Name>
      <Alias>externalVideoSource</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[youtube oder vimeo-Links sind zulässig]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="video">Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64c10e4a-3361-4f8b-93b2-37fe64f36dd1</Key>
      <Name>Poster</Name>
      <Alias>poster</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Vorschaubild des Videos]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="video">Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0b618bf2-4a52-4bf9-a907-facc77f454c5</Key>
      <Name>Video</Name>
      <Alias>video</Alias>
      <Definition>2acdbf19-9d66-49f1-b4e1-24cf536ec618</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="video">Video</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73a3198c-1b2c-4e8e-ac70-2fdf2656078f</Key>
      <Caption>Video</Caption>
      <Alias>video</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>