<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9f8fc3d8-5d00-4584-9c19-d7955a54d651" Alias="jobs" Level="3">
  <Info>
    <Name>Jobs</Name>
    <Icon>icon-bill color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>Jobs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="61240c55-28a7-4014-878b-df577675ce70">Jobs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9f15fb4c-7f8e-4b24-b390-39fdb3da4ccf</Key>
      <Name>PageSize</Name>
      <Alias>pageSize</Alias>
      <Definition>59ec1223-4cad-473f-a94c-499ab397a293</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="jobs">Jobs</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b1c0c6dd-2392-423d-b8ff-4415e081bd7e</Key>
      <Caption>Jobs</Caption>
      <Alias>jobs</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>