<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac18fbc6-65ad-4d12-acda-f1aca178fb72" Alias="mainSlideSettings" Level="3">
  <Info>
    <Name>MainSlide Settings</Name>
    <Icon>icon-settings color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Slider</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>19617b98-61f7-4a38-be05-a7620eda0cb3</Key>
      <Name>Eigene Bildkoordinaten</Name>
      <Alias>customImageOffsetX</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['-250','-200','-180','-117'] - Mitte: ['0','0','0','0'] - Rechts: ['250','200','180','117']]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b7fb55c9-c144-4943-9527-79770c0ae0d0</Key>
      <Name>Note</Name>
      <Alias>note</Alias>
      <Definition>a7eea66d-ece0-492e-be88-6713b90f194e</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9cb61003-aee5-4dfb-af9a-d2ce818161ae</Key>
      <Name>x-Koordinaten - Überschrift 1</Name>
      <Alias>xOffsetHeadline1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['750','700','150','80'] - Mitte: ['50', '50', '40', '30'] - Rechts: ['750','700','150','80']]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bbd5b0e1-f486-4fc0-805a-a801243d1891</Key>
      <Name>x-Koordinaten - Überschrift 2</Name>
      <Alias>xOffsetHeadline2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['790','740','190','120'] - Mitte: ['50','50','40','30'] - Rechts: ['790','740','190','120']]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2a9c239-a6e4-4ae9-81ab-8be5138570b1</Key>
      <Name>x-Koordinaten - Text</Name>
      <Alias>xTextOffset</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['800','750','450','250'] - Mitte: ['700','650','400','160'] - Rechts: ['130','150','100','30']]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44dd9286-9fb0-4278-8748-bb427b022181</Key>
      <Name>y-Koordinaten - Überschrift 1</Name>
      <Alias>yOffsetHeadline1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['50','50','40','30'] - Mitte: ['50','50','40','30'] - Rechts: ['50','50','40','30']]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ad90fad2-8a78-4f9c-acc9-60705010db57</Key>
      <Name>y-Koordinaten - Überschrift 2</Name>
      <Alias>yOffsetHeadline2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['104','100','80','70'] - Mitte: ['104','100','80','70'] - Rechts: ['104','100','80','70']]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf5085ca-e7eb-47d8-9aba-dc97691b387c</Key>
      <Name>y-Koordinaten - Text</Name>
      <Alias>yTextOffset</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Standard-Settings: Links: ['340','334','180','150'] - Mitte: ['60','60','60','150'] - Rechts: ['240','234','190','150']]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="erweiterteEinstellungen">Erweiterte Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3c4c5adf-232d-46e2-991b-3bf27ff83553</Key>
      <Caption>Erweiterte Einstellungen</Caption>
      <Alias>erweiterteEinstellungen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>