<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dbefb656-d9e2-41f3-9ad9-ff3ade063b97" Alias="mainSlide" Level="3">
  <Info>
    <Name>MainSlide</Name>
    <Icon>icon-layout color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Slider</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bc316038-0057-42cd-bb5b-6b625e80b8f9</Key>
      <Name>Hintergrundfarbe</Name>
      <Alias>backgroundColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27f96292-fcf7-4022-9b41-51379ba03900</Key>
      <Name>Call to ActionButton</Name>
      <Alias>callToActionButton</Alias>
      <Definition>58cecfb4-d00c-404a-92df-e0aade5e4160</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e412c3c8-a26a-4c56-b75b-5e3082c545f4</Key>
      <Name>Überschrift - erste Zeile</Name>
      <Alias>headlineFirstRow</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Worte mit &lt;span&gt;&lt;/span&gt; umschließen, um sie gelb zu markieren]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e02d3941-d731-4b63-88c0-a41418538cdb</Key>
      <Name>Überschrift - zweite Zeile</Name>
      <Alias>headlineSecondRow</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Worte mit &lt;span&gt;&lt;/span&gt; umschließen, um sie gelb zu markieren]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9b4644f-ea6a-401f-a9b6-b1177b66e458</Key>
      <Name>Hauptbild</Name>
      <Alias>mainImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Das Bild sollte nicht breiter als 2000 Pixel sein]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ac25238-99c9-4f26-8521-1f5bb3cccf62</Key>
      <Name>Slidetyp</Name>
      <Alias>slidetyp</Alias>
      <Definition>a97d45e3-e284-4b7d-b99a-b9966b731d1a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ausgehend von dem Slidetyp richten sie die Texte und Bilder erstmal nach den Standard-Koordinaten]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Bitte wählen Sie einen Slide-Typ</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed709fd7-4114-482b-b291-53dd97edefcf</Key>
      <Name>Textliste</Name>
      <Alias>textlist</Alias>
      <Definition>f58a7cd1-088f-40f8-b1af-46b318e17de2</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a1a6d002-1166-4b78-9709-95a213da0cca</Key>
      <Caption>Einstellungen</Caption>
      <Alias>einstellungen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>