<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b7a285e4-b433-417b-9ed8-b9069d993570" Alias="master" Level="1">
  <Info>
    <Name>Master</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Master</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6b7d1763-60f5-4328-bf59-5a66276a7274">Master</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>