<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c" Alias="masterTools" Level="1">
  <Info>
    <Name>Master Tools</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MasterTools</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3491de06-35bd-4e44-83a2-6103a8498459">MasterTools</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>