<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f4e08261-d213-41f7-adab-2cb4b6b2283e" Alias="masterNWB" Level="2">
  <Info>
    <Name>Master NWB</Name>
    <Icon>icon-item-arrangement color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage</Folder>
    <Compositions />
    <DefaultTemplate>MasterNWB</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="02bc33fd-de6c-42cf-aaa5-1ec1c7b76d06">MasterNWB</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>