<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08161df3-1929-4705-958c-a5da1d5f22b2" Alias="mediaServerEpisodes" Level="3">
  <Info>
    <Name>Medien Server Episoden</Name>
    <Icon>icon-sound-medium color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Audio+Inhalte</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d11cc1f-e3bc-4627-a3cf-8d03ffbe03a2</Key>
      <Name>Hinweis</Name>
      <Alias>audioNotice</Alias>
      <Definition>090f85b4-52ba-4420-9335-6d4455b35662</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>703bfb13-89e0-44a6-8d5e-0130b64029e3</Key>
      <Name>Episoden Datei</Name>
      <Alias>episodeFile</Alias>
      <Definition>2794de8c-ec60-444e-99ff-3b49b8d34028</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>caa04887-7ca7-40e8-b13a-f5f43773738b</Key>
      <Name>Episoden Titel</Name>
      <Alias>episodeTitle</Alias>
      <Definition>090f85b4-52ba-4420-9335-6d4455b35662</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bcf56f3c-3330-4d2c-a5a8-86b79cf1c711</Key>
      <Caption>Episode</Caption>
      <Alias>episode</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>