<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d7cb7ac-200d-40c6-8929-7149056f88a3" Alias="newsletterFreeSettings" Level="3">
  <Info>
    <Name>Newsletter Free Settings</Name>
    <Icon>icon-settings-alt-2 color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Newsletter</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dde82d4c-5cad-420d-b54d-58dc1954ab52</Key>
      <Name>Beliebtester</Name>
      <Alias>highlighted</Alias>
      <Definition>b0ac5ad6-69e8-49c2-80dd-57ac45680815</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wenn aktiviert, wird der erste Newsletter in der Liste als **'Unser beliebtester'** hervorgehoben.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b15bbaa7-726b-4adb-a5fe-0d372740c299</Key>
      <Caption>Einstellungen</Caption>
      <Alias>einstellungen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>