<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bd263c1b-c9cf-4ee1-9d47-318c6bfd2c2c" Alias="newsletterSettings" Level="3">
  <Info>
    <Name>NewsletterSettings</Name>
    <Icon>icon-settings color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Newsletter</Folder>
    <Compositions>
      <Composition Key="ab3e1ef4-41ed-409e-854c-defcf50c069d">colorSettings</Composition>
      <Composition Key="9c684756-e9d1-4cf4-9ed4-a39d7d8f00db">gapSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>