<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f1ee1e8-5070-4bb1-9652-d21c567f44fe" Alias="newsletterNWB" Level="3">
  <Info>
    <Name>Newsletter NWB</Name>
    <Icon>icon-newspaper-alt color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>NewsletterNWB</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c18764e4-2f86-4670-8260-99f0cf7076e2">NewsletterNWB</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>45ddc7e6-2f27-4267-80a3-0d51992bf2b1</Key>
      <Name>Badge Hintergrundfarbe</Name>
      <Alias>badgeBgColor</Alias>
      <Definition>f9041e50-8d6c-4752-be0a-726bf4d7509d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="kostenloseNewsletter/badge">Badge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7d3b7bf-c32f-4477-a2ca-208396f39fd3</Key>
      <Name>Badge Hintergrundfarbe</Name>
      <Alias>badgeBgColorPremium</Alias>
      <Definition>f9041e50-8d6c-4752-be0a-726bf4d7509d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="premiumNewsletter/badge">Badge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22ea151a-3461-40d1-9221-e2aa791272ea</Key>
      <Name>Badge Text</Name>
      <Alias>badgeText</Alias>
      <Definition>92a05e46-e80f-46d0-aed4-a5fd1fff22d7</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="kostenloseNewsletter/badge">Badge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3f1cfa5-2c13-4123-9a00-8d9e5ef8166d</Key>
      <Name>Badge Textfarbe</Name>
      <Alias>badgeTextColor</Alias>
      <Definition>f9041e50-8d6c-4752-be0a-726bf4d7509d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="kostenloseNewsletter/badge">Badge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cbda85e0-9ea6-4d86-87ba-39d461c92e5f</Key>
      <Name>Badge Textfarbe</Name>
      <Alias>badgeTextColorPremium</Alias>
      <Definition>f9041e50-8d6c-4752-be0a-726bf4d7509d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="premiumNewsletter/badge">Badge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3999e6b3-7162-4065-aded-254297553a6a</Key>
      <Name>Badge Text</Name>
      <Alias>badgeTextPremium</Alias>
      <Definition>92a05e46-e80f-46d0-aed4-a5fd1fff22d7</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="premiumNewsletter/badge">Badge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc3ec75c-d4c4-43a9-ac77-6b8c5ad5404d</Key>
      <Name>Modal Titel</Name>
      <Alias>modalTitle</Alias>
      <Definition>44a2949c-5f01-4fc1-a6d0-814873a6d97a</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="kostenloseNewsletter/newsletterSubscriptionMessages">Newsletter Subscription Messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ac4a90e-242f-4e04-b5c1-c5f518726fd6</Key>
      <Name>Newsletter Block Headline</Name>
      <Alias>newsletterBlockHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="kostenloseNewsletter/headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>39ca3786-c370-4f81-ac82-806956f1e582</Key>
      <Name>Newsletter Premium Block Headline</Name>
      <Alias>newsletterPremiumBlockHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="premiumNewsletter/headline">Headline</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4027791-d23e-4ec6-b940-f26d370b28e7</Key>
      <Name>Newsletters</Name>
      <Alias>newsletters</Alias>
      <Definition>24c289e2-8a98-4fbe-a8fa-0cee08ff6a8c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="kostenloseNewsletter/newsletters">Newsletters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2795bae7-6206-494f-944c-11987b152527</Key>
      <Name>PageSize</Name>
      <Alias>pageSize</Alias>
      <Definition>551a831b-de4a-4e1f-8c6c-3bc6f023f2ae</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege fest, wie viele Newsletter initial angezeigt werden bzw. nachgeladen werden pro Klick.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="premiumNewsletter/newsletters">Newsletters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>432b46b6-72b5-4855-8dfd-46422f7330ea</Key>
      <Name>Newsletters</Name>
      <Alias>premiumNewsletters</Alias>
      <Definition>244a2ecd-2ce6-4520-aa56-3e789f7cebb2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="premiumNewsletter/newsletters">Newsletters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7f4af25-ef78-42b0-8dca-55cc5ccab027</Key>
      <Name>Fehler</Name>
      <Alias>subscriptionError</Alias>
      <Definition>1bb564ec-6873-4635-89a8-0cf6ebe7b14c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sämtliche Fehler von unserer Seite sollten abgefangen sein. Diese Nachricht wird nur angezeigt, wenn beim Subscriben gegen INXMAIL etwas nicht funktioniert.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="kostenloseNewsletter/newsletterSubscriptionMessages">Newsletter Subscription Messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a21b8d52-c619-4956-b084-67d32a39df78</Key>
      <Name>Erfolg</Name>
      <Alias>subscriptionSuccess</Alias>
      <Definition>1bb564ec-6873-4635-89a8-0cf6ebe7b14c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="kostenloseNewsletter/newsletterSubscriptionMessages">Newsletter Subscription Messages</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0ca01aa5-3b81-4ab1-b45c-642851a28fc3</Key>
      <Caption>Newsletters</Caption>
      <Alias>kostenloseNewsletter/newsletters</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>16addb89-b363-40ef-b72c-fa7d24121c2d</Key>
      <Caption>Badge</Caption>
      <Alias>kostenloseNewsletter/badge</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>1eb6e632-166a-43e8-b401-da6ae99023af</Key>
      <Caption>Premium Newsletter</Caption>
      <Alias>premiumNewsletter</Alias>
      <Type>Tab</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
    <Tab>
      <Key>4453f01a-84d7-4bf4-a333-7623db289677</Key>
      <Caption>Newsletters</Caption>
      <Alias>premiumNewsletter/newsletters</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>7623efb4-a925-40de-9845-f56a09297526</Key>
      <Caption>Newsletter Subscription Messages</Caption>
      <Alias>kostenloseNewsletter/newsletterSubscriptionMessages</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8346fc50-0ef5-47b0-a5e7-2399d64f2385</Key>
      <Caption>Headline</Caption>
      <Alias>premiumNewsletter/headline</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8f7c8354-d839-4398-9fbf-cb6dd619c886</Key>
      <Caption>Headline</Caption>
      <Alias>kostenloseNewsletter/headline</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c0797c92-e581-4288-9d26-3677946fc6ea</Key>
      <Caption>Badge</Caption>
      <Alias>premiumNewsletter/badge</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cbae5ed7-0612-476a-b426-089b6b03f03b</Key>
      <Caption>Kostenlose Newsletter</Caption>
      <Alias>kostenloseNewsletter</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>