<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c198b280-9fac-4423-9bd2-31df89a3735b" Alias="newsletterPremium" Level="3">
  <Info>
    <Name>Newsletter Premium</Name>
    <Icon>icon-newspaper color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Newsletter</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77b49087-7ee1-410f-b8e4-36719f3a7771</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="newsletterDaten">Newsletter Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9563727a-7a65-4a33-afff-5b9f9e5f3315</Key>
      <Name>Newsletter Beschreibung</Name>
      <Alias>newsletterDescription</Alias>
      <Definition>1bb564ec-6873-4635-89a8-0cf6ebe7b14c</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="newsletterDaten">Newsletter Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99ee41ce-14ce-4e35-b5a1-b74c8649dcf1</Key>
      <Name>Newsletter Name</Name>
      <Alias>newsletterName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="newsletterDaten">Newsletter Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>580283f4-77f7-42a0-81ae-788c515632f0</Key>
      <Caption>Newsletter Daten</Caption>
      <Alias>newsletterDaten</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>