<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3918ea99-ee25-44fa-ba25-6c0f229a3475" Alias="opening" Level="3">
  <Info>
    <Name>Opening</Name>
    <Icon>icon-alarm-clock color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Footer+Contact</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ce494e00-c5f4-4133-806f-3ec6c939b6fb</Key>
      <Name>Zeiten</Name>
      <Alias>openingHours</Alias>
      <Definition>f51486be-f4af-401e-895f-ddd719cafeec</Definition>
      <Type>Umbraco.Community.Contentment.ListItems</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ffnungszeiten">Öffnungszeiten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>da9b5cfb-851b-4bd4-b789-c8c1c30dc790</Key>
      <Caption>Öffnungszeiten</Caption>
      <Alias>ffnungszeiten</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>