<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="178aa0f1-30ac-4bdd-8ef6-9fd77927adc8" Alias="organisationDetail" Level="2">
  <Info>
    <Name>Organisation Ansicht</Name>
    <Icon>icon-store color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="80703bec-abe2-44e6-9075-44770ee2dac7">ctaLinkList</Composition>
      <Composition Key="fc809b5f-9f9a-4336-b5ef-c9c0189e09ae">feedback</Composition>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>OrganisationDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2cb02649-c5e1-49c0-adbc-6afbb3bcddd4">OrganisationDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>af1af196-f1f5-4d4b-a768-5321e8994fd4</Key>
      <Name>Alternatives Bild</Name>
      <Alias>alternativeCover</Alias>
      <Definition>f36f5289-05c7-43cd-8ee4-6b12f05136af</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Crop Name**: Detail Stage BackgroundImage

Dieses Bild wird als Header-Bild verwendet, wenn es ausgewählt ist.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4705250d-c593-42a5-bfc7-46cc7590ba2a</Key>
      <Name>Flächen-Vorschau</Name>
      <Alias>areaThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af464223-df10-47e5-b902-2ebfad19e4ef</Key>
      <Name>Blur Stärke</Name>
      <Alias>blurValue</Alias>
      <Definition>1730fd54-6f7f-44f8-8e2c-7375e1f70062</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege die Intensität des Blur Effekts fest. Standard ist 100px]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da7a0535-af69-430a-b8fa-68eb97cce0a3</Key>
      <Name>Icon Farbe</Name>
      <Alias>categoryColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Farbe des Icons inkl. der Kategorie Headline fest.
Default: "Textfarbe im]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8981a752-55d2-4db6-acaa-23a19db438ce</Key>
      <Name>Kontakte</Name>
      <Alias>contactPerson</Alias>
      <Definition>4dcbb64f-520d-4a1c-8876-1dc707393d8f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/sieHabenFragen1">Sie haben Fragen?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5caec8c1-fb13-4689-8f55-65d8324830ee</Key>
      <Name>Crop Hilfe</Name>
      <Alias>cropHelperOrganisationView</Alias>
      <Definition>e6c8f58d-acd8-497c-bf82-b63eec2fc36a</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hilfe">Hilfe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>600d2b61-9282-4b21-a06c-292e077ae61c</Key>
      <Name>Blur Effekt</Name>
      <Alias>disableBlur</Alias>
      <Definition>15454d43-36c6-4a55-9307-9ac539497b0b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wenn Blur aktiviert ist wird kein Crop verwendet.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>828ef6ce-e4db-4260-ad7a-0b21143ac59d</Key>
      <Name>Schlagworte</Name>
      <Alias>organisationBullets</Alias>
      <Definition>7f6a11ef-a6e3-4379-a4e1-b5ef8cfe9d8b</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau/kurzKnapp">Kurz &amp; Knapp</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>91f55262-8a98-4cea-91dd-8c7f00744af2</Key>
      <Name>Inhalt</Name>
      <Alias>organisationContent</Alias>
      <Definition>f2da852c-317f-48a6-bdfb-96d8d2063287</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentGrid/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af69c6db-eadf-436e-8dfa-de8954f8a2ce</Key>
      <Name>Überschrift</Name>
      <Alias>organisationHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/einleitung">Einleitung</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03f4918e-5917-4eb9-80cc-e922951bc7cd</Key>
      <Name>Bild</Name>
      <Alias>organisationImage</Alias>
      <Definition>f36f5289-05c7-43cd-8ee4-6b12f05136af</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>accd3933-b1da-473a-9de6-95c3fbdae82c</Key>
      <Name>Logo</Name>
      <Alias>organisationLogo</Alias>
      <Definition>f36f5289-05c7-43cd-8ee4-6b12f05136af</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1eec75a-a42e-4faf-9c5c-f14c651f049f</Key>
      <Name>Name</Name>
      <Alias>organisationName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>404c81b4-d979-40b0-9f2b-089bcb5f169d</Key>
      <Name>Quelle</Name>
      <Alias>organisationSource</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/einleitung">Einleitung</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bbd47582-8316-41aa-8790-c86478c0b9a8</Key>
      <Name>In Übersicht ausblenden?</Name>
      <Alias>overviewHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa30b470-dec9-455e-b952-c266ed858a6c</Key>
      <Name>Auszug</Name>
      <Alias>previewExcerpt</Alias>
      <Definition>62a0d155-ca17-4284-91d8-e527263622b9</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a48b2907-5d1a-4448-b5bf-f46e3253b2df</Key>
      <Name>Logo</Name>
      <Alias>previewThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65108306-83f0-4886-ba56-e46b3656cb80</Key>
      <Name>Überschrift</Name>
      <Alias>previewTitle</Alias>
      <Definition>6a109051-506f-44c3-9b54-76d134e03ae2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93722370-5d9a-4324-8457-08245982c365</Key>
      <Name>Gründungsjahr</Name>
      <Alias>sidebarFoundingDate</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spezifikationen/infos">Infos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27219ed0-2700-4cc3-a74b-af8abc72b41a</Key>
      <Name>Organisationsform</Name>
      <Alias>sidebarOrganisationType</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="spezifikationen/infos">Infos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3e9cf382-4430-4a68-9e97-9bf976f84f8e</Key>
      <Name>Standort</Name>
      <Alias>sidebarPlaces</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="spezifikationen/infos">Infos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>37a72b02-5aba-41df-881d-9587a331a942</Key>
      <Name>Textfarbe im Kopfbereich</Name>
      <Alias>stageTextColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Textfarben für den Kopfbereich fest.

Default: #ffffff]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>00ef0482-b71d-451e-9418-0527e6607cd2</Key>
      <Caption>Sie haben Fragen?</Caption>
      <Alias>content/sieHabenFragen1</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>0385229c-2321-4fca-97bc-9835c425113b</Key>
      <Caption>Content Grid</Caption>
      <Alias>contentGrid</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>1043327b-10d3-4684-90ee-09e65a2fcc5e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-3</SortOrder>
    </Tab>
    <Tab>
      <Key>46dafdd2-04db-4bc6-94fb-8c8ef917e9d8</Key>
      <Caption>Content</Caption>
      <Alias>contentGrid/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>6f8a8393-a2c6-4563-a29b-5637d97668c6</Key>
      <Caption>Infos</Caption>
      <Alias>spezifikationen/infos</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>8e40339b-69c7-45b8-a7d7-dc856b152a29</Key>
      <Caption>Kurz &amp; Knapp</Caption>
      <Alias>vorschau/kurzKnapp</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>90d3c224-4c2b-41be-b246-b529d6b9e55a</Key>
      <Caption>Hilfe</Caption>
      <Alias>hilfe</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
    <Tab>
      <Key>a40b3a00-387d-48ba-b725-1e8d5ccae0a3</Key>
      <Caption>Einleitung</Caption>
      <Alias>content/einleitung</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>bafbc7c4-1c7e-411d-aa7a-0375002ec3d8</Key>
      <Caption>Kopfbereich</Caption>
      <Alias>content/kopfbereich</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c0b89328-661e-4ddd-aa28-e980944b6c32</Key>
      <Caption>Vorschau</Caption>
      <Alias>vorschau</Alias>
      <Type>Tab</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
    <Tab>
      <Key>e11dae42-68d8-4a86-831b-d2a4f21683a8</Key>
      <Caption>Vorschau Texte</Caption>
      <Alias>vorschau/vorschauTexte</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>f215107e-2cad-435c-9be7-05c565a3c6b5</Key>
      <Caption>Spezifikationen</Caption>
      <Alias>spezifikationen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>