<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88b712c7-841f-4aa4-a28b-00dfa903142e" Alias="personsSettings" Level="4">
  <Info>
    <Name>Personen Einstellung</Name>
    <Icon>icon-settings color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements/Layouts/LayoutSettings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>42d9c077-20cf-42ee-9e6a-47a40e4af853</Key>
      <Name>Einstiegsanimation</Name>
      <Alias>entranceAnimation</Alias>
      <Definition>02c7e943-f11f-4548-91a8-4bf141fbd28e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Für eine Vorschau der Animationen: [Vorschau](https://animate.style/)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="animationen">Animationen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f225e47f-edcf-4eb1-8267-dd2f08f44f4c</Key>
      <Name>Hintergrund Farbe</Name>
      <Alias>hintergrundFarbe</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Hintergrund Farbe für die Kachel fest.
Wirkt nur wenn Kachel aktiviert ist.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="kachel">Kachel</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bae5e78a-ca9f-44a5-9f11-b26095f2d964</Key>
      <Caption>Animationen</Caption>
      <Alias>animationen</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c22cb4e8-26a1-460c-be5a-506191dffba4</Key>
      <Caption>Kachel</Caption>
      <Alias>kachel</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>