<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="686fb083-2fb3-4de6-a637-8adda8d841be" Alias="phone" Level="3">
  <Info>
    <Name>Phone</Name>
    <Icon>icon-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Footer+Contact</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0d03b8b9-f0ea-4dfb-a8e4-c035f594f55f</Key>
      <Name>Phone</Name>
      <Alias>phoneNumber</Alias>
      <Definition>92edee4f-0fcf-49e3-bb8a-ac16e62f66cf</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="phone">Phone</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Bitte gib eine gültige Nummer ein.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eb95d744-3937-442e-a47a-55d0b00dda9f</Key>
      <Caption>Phone</Caption>
      <Alias>phone</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>