<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b10106ff-dae7-42ac-8e51-8f0978174c77" Alias="pinLocation" Level="3">
  <Info>
    <Name>Pin Locations</Name>
    <Icon>icon-pushpin color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+Types/Pin+Location</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f010f9ab-155a-4b6f-bc6d-c132cc26c07f</Key>
      <Name>Anpinnen</Name>
      <Alias>isPinned</Alias>
      <Definition>a20f297c-e3f2-4f5f-b2a1-2b68afa83d89</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="beitragArtikelAnpinnen">Beitrag/Artikel anpinnen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>358baf35-d02b-45c6-a28a-223872c77b65</Key>
      <Name>Anpinnen bis</Name>
      <Alias>pinnedUntil</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="beitragArtikelAnpinnen">Beitrag/Artikel anpinnen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7774da82-9fe8-49e6-8a8a-8436cbd1f9b2</Key>
      <Caption>Beitrag/Artikel anpinnen</Caption>
      <Alias>beitragArtikelAnpinnen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>