<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1df6c581-2d3c-4592-bd8e-f6812ae6d35e" Alias="podcastAnsicht" Level="2">
  <Info>
    <Name>Podcast Ansicht</Name>
    <Icon>icon-podcast color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="80703bec-abe2-44e6-9075-44770ee2dac7">ctaLinkList</Composition>
      <Composition Key="fc809b5f-9f9a-4336-b5ef-c9c0189e09ae">feedback</Composition>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9cf293f0-463a-4893-a458-7e52dc493968">PodcastDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>768ebcb6-c328-4bf9-8dbf-5167264dccb4</Key>
      <Name>Alternatives Bild</Name>
      <Alias>alternativePodcastImage</Alias>
      <Definition>43ccf233-930f-4b52-ae01-7c0d21366792</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dieses Bild wird als Header-Bild verwendet, wenn es ausgewählt ist.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a5c073c-273d-43e0-8ab2-1546540c9948</Key>
      <Name>Anzahl</Name>
      <Alias>amount</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[der Folgen (mehr als)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6572ad5-fa23-49dc-b0ed-06c84bbb5f90</Key>
      <Name>Flächen-Vorschau</Name>
      <Alias>areaThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6de3a54e-2174-4ea9-b7c6-09cb3167bdaa</Key>
      <Name>Blur Stärke</Name>
      <Alias>blurValue</Alias>
      <Definition>1730fd54-6f7f-44f8-8e2c-7375e1f70062</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lege die Intensität des Blur Effekts fest. Standard ist 100px]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bef700ef-bbb3-492f-9dea-c699c70a16de</Key>
      <Name>Icon Farbe</Name>
      <Alias>categoryColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Farbe des Icons inkl. der Kategorie Headline fest.
Default: "Textfarbe im Kopfbereich"]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fffc9c8-8955-4b9c-a50f-883d3425a00d</Key>
      <Name>Kontakte</Name>
      <Alias>contactPerson</Alias>
      <Definition>4dcbb64f-520d-4a1c-8876-1dc707393d8f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/sieHabenFragen">Sie haben Fragen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b9ef5149-f875-4f89-bc74-b8411387f139</Key>
      <Name>Crop Hilfe</Name>
      <Alias>cropHelperPodcastView</Alias>
      <Definition>61e2ed40-8b00-4e99-b1ab-45e2a11dc2e2</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hilfe">Hilfe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffb4d167-0785-430c-8b53-315c2beb09fc</Key>
      <Name>Inhalt</Name>
      <Alias>detailBlockgrid</Alias>
      <Definition>f2da852c-317f-48a6-bdfb-96d8d2063287</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentGrid">Content Grid</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67606ae1-98e3-4edd-af0e-2ce776e84179</Key>
      <Name>Blur Effekt</Name>
      <Alias>disableBlurr</Alias>
      <Definition>15454d43-36c6-4a55-9307-9ac539497b0b</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>979c8c79-dbea-42eb-94ce-72f6a6fe5ddd</Key>
      <Name>Dauer</Name>
      <Alias>duration</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Durchschnitt pro Folge in Minuten]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d60b43cc-7fba-447f-9fb4-2a767dbb22fa</Key>
      <Name>Gelistet auf</Name>
      <Alias>listedPlatforms</Alias>
      <Definition>67d30449-367f-4717-be7b-f03039d52bc2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/platformen">Platformen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4be6aaac-9976-4e83-9c0c-0f1c0f532c11</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[des Unternehmens]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/podcaster">Podcaster</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35e8451e-779e-4d8b-b534-4f4912c990d1</Key>
      <Name>Name</Name>
      <Alias>organizerName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[des Unternehmens]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/podcaster">Podcaster</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff0148fe-49a7-4ec4-bf22-70e6132d380d</Key>
      <Name>In Übersicht ausblenden?</Name>
      <Alias>overviewHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2587cbb9-608d-46f5-82ee-04b07c139b92</Key>
      <Name>Podcaster</Name>
      <Alias>podcaster</Alias>
      <Definition>1c787262-d3ec-49d1-8ad2-a08e9900c999</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/podcaster">Podcaster</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2d43ea1-62f8-442f-aa5b-0a79d07d0fa1</Key>
      <Name>Überschrift</Name>
      <Alias>podcastHeadline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9956a6e6-5c4f-446e-acb4-e4f120f408bf</Key>
      <Name>Bild</Name>
      <Alias>podcastImage</Alias>
      <Definition>43ccf233-930f-4b52-ae01-7c0d21366792</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4cd5388f-f265-4132-ad71-9543687b6bae</Key>
      <Name>Podcast Name</Name>
      <Alias>podcastName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a4e8cad7-4810-4bc7-abfe-026bf4864fad</Key>
      <Name>Auszug</Name>
      <Alias>previewExcerpt</Alias>
      <Definition>62a0d155-ca17-4284-91d8-e527263622b9</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41b299a7-5ac3-47a4-a081-08a3098d9a6d</Key>
      <Name>Vorschau</Name>
      <Alias>previewThumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66f3f0f2-18ae-4d4b-987b-8fae351e1ab1</Key>
      <Name>Überschrift</Name>
      <Alias>previewTitle</Alias>
      <Definition>6a109051-506f-44c3-9b54-76d134e03ae2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ae73541-8367-486e-9ee7-44953a72aef1</Key>
      <Name>Erscheinungsweise</Name>
      <Alias>sequence</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6c92026e-0f0a-4df1-abf4-365e4c25cb5a</Key>
      <Name>Debüt</Name>
      <Alias>since</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sidebar/kurzUndKnackig">Kurz und Knackig</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02d8856a-daec-4ccf-9a4c-7a60eb4c7aab</Key>
      <Name>Ausgewählte Folgen</Name>
      <Alias>specialEpisodes</Alias>
      <Definition>98e2261e-0c24-4e48-8261-42d0c720f194</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/highlightFolgen">Highlight Folgen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2d1b342-66cf-41b4-89c6-8fceb46eae84</Key>
      <Name>Textfarbe im Kopfbereich</Name>
      <Alias>stageTextColor</Alias>
      <Definition>3301d424-fea5-4639-b2b9-94c65283c2aa</Definition>
      <Type>Vokseverk.ColorSelector</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt die Textfarben für den Kopfbereich fest.
Default: #ffffff]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content/kopfbereich">Kopfbereich</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f0468a6-5faa-4777-b743-ade53fc35672</Key>
      <Caption>Content Grid</Caption>
      <Alias>contentGrid</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4add2f2c-a3f8-4e51-be47-3330ac271c63</Key>
      <Caption>Kurz und Knackig</Caption>
      <Alias>sidebar/kurzUndKnackig</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>523af041-405f-45a2-a231-5742d2a55c49</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>64e3edef-f951-4802-8ea3-d324625fec90</Key>
      <Caption>Sie haben Fragen</Caption>
      <Alias>content/sieHabenFragen</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>675f4854-4290-441b-8fad-4fbbd3d3d119</Key>
      <Caption>Highlight Folgen</Caption>
      <Alias>content/highlightFolgen</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>74800770-c58a-46fc-ad0b-5d17df7a1bfe</Key>
      <Caption>Podcaster</Caption>
      <Alias>content/podcaster</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>92c50d70-d1fb-4868-9806-826bd784a30d</Key>
      <Caption>Platformen</Caption>
      <Alias>content/platformen</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>95235c79-2e3f-46ad-b7cf-d36f6d62ff55</Key>
      <Caption>Kopfbereich</Caption>
      <Alias>content/kopfbereich</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b7fd95c4-bf56-44df-aa78-ef7151616d37</Key>
      <Caption>Vorschau Texte</Caption>
      <Alias>vorschau/vorschauTexte</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c9d8a05a-045d-4912-b2c8-c202275e66bd</Key>
      <Caption>Vorschau</Caption>
      <Alias>vorschau</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>e82d7540-4753-427a-aba2-5db51c05c113</Key>
      <Caption>Hilfe</Caption>
      <Alias>hilfe</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>