<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f902b568-1c92-48ea-b272-c5c6e8ad1d01" Alias="podigee" Level="3">
  <Info>
    <Name>Podigee</Name>
    <Icon>icon-radio color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage/Audio+Inhalte</Folder>
    <Compositions>
      <Composition Key="f8d00f1d-b89b-4f52-ab3f-50eab42c6a37">audioContent</Composition>
      <Composition Key="6c2c5dfd-84ef-4dc6-98e8-8bee8d87dd09">contentGrid</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>Podigee</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="409d143f-c5a5-432f-8010-aca8ab6411e6">Podigee</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>36bbad87-049e-45f7-8a1a-675a0be81a2b</Key>
      <Name>PageSize</Name>
      <Alias>pageSize</Alias>
      <Definition>59ec1223-4cad-473f-a94c-499ab397a293</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="episoden">Episoden</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1ce1956-5f49-4d85-a3d9-cfd5328b8e99</Key>
      <Name>Episoden</Name>
      <Alias>podcastEpisodes</Alias>
      <Definition>c86bae37-d761-4fea-919c-0ec8c3c1acfc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="episoden">Episoden</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4fbea4a1-d9f0-4ea3-b212-26eac646a7f0</Key>
      <Caption>Episoden</Caption>
      <Alias>episoden</Alias>
      <Type>Tab</Type>
      <SortOrder>-2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>