<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="473b5763-03e6-4ff5-b56c-7be6d54bd9d7" Alias="podigeePodcast" Level="3">
  <Info>
    <Name>Podigee Podcast</Name>
    <Icon>icon-sound-waves color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blocklist+NWB/Audio+Inhalte</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3f82a50d-6a67-4ac3-8454-7fca50e26046</Key>
      <Name>Hinweis</Name>
      <Alias>audioNotice</Alias>
      <Definition>090f85b4-52ba-4420-9335-6d4455b35662</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Steht unter dem Episodentitel.

z.B. **mit Ken Kneiper**]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb30f28c-e0cc-4982-bc23-f681d2d0eaff</Key>
      <Name>Episodeninformationen</Name>
      <Alias>episodeInfo</Alias>
      <Definition>090f85b4-52ba-4420-9335-6d4455b35662</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Steht über dem Episodentitel

z.B. **Folge #63 (15.02.XXXX)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>53b13ee9-29ec-4a40-87e6-840137039cc6</Key>
      <Name>Episodentitel</Name>
      <Alias>episodeTitle</Alias>
      <Definition>090f85b4-52ba-4420-9335-6d4455b35662</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>da730b6c-f286-4199-beb0-7c03a244b637</Key>
      <Name>Podcast HTML</Name>
      <Alias>podcastHTML</Alias>
      <Definition>bc3b6db4-e710-4751-a0e8-e4c7bd0b1fb8</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a5969ea3-19a3-4d52-9e83-7ceec4ed04d3</Key>
      <Name>Podigee Url</Name>
      <Alias>podigeeUrl</Alias>
      <Definition>0af84ff3-cb79-4c8b-b33b-a118e8fc4b8b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>https?:\/\/[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?!(\/embed))(\/[^\/]+)?\/?$</Validation>
      <Description><![CDATA[z.B. https://dastaxquartett.podigee.io/38-wegzugsbesteuerung
** Wichtig ohne /embed/ **]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="episode">Episode</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Die URL ist im falschen Format, gehe sicher, dass die URL keine embed URL ist.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>44793aa6-023e-4359-9c0b-c8e412581245</Key>
      <Caption>Episode</Caption>
      <Alias>episode</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>