<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="389e21fd-f446-4ec1-851f-0deae0f42777" Alias="pressreport" Level="3">
  <Info>
    <Name>Pressemeldung</Name>
    <Icon>icon-megaphone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>PressreportNWB</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e71cb132-8fa3-444a-8f51-5056608b30e9">PressreportNWB</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cb390cf5-871f-4c93-92b7-aaa25fa33c8f</Key>
      <Name>Blockgrid</Name>
      <Alias>blockGrid</Alias>
      <Definition>bc3b6db4-e710-4751-a0e8-e4c7bd0b1fb8</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b59e4fe7-487e-4db3-a83d-b05258ce49c0</Key>
      <Name>Call to Action</Name>
      <Alias>callToAction</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wenn dieser leer gelassen wird, wird auf die Pressemeldung selbst verlinkt und das Blockgrid ausgegeben]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="teaser">Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe729c69-7aff-4c18-aa6b-3ed62d241245</Key>
      <Name>Datum</Name>
      <Alias>date</Alias>
      <Definition>c0fd85d7-066f-4e50-9125-6f4e9e768684</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Datum der Veröffentlichung - bestimmt auch die Sortierreihenfolge]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="teaser">Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>94366285-5851-4e8a-8af8-6d58a06edaf5</Key>
      <Name>Titel</Name>
      <Alias>mainTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[optional - überschreibt den Knotennamen, wenn mit Inhalt gefüllt]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="teaser">Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12567c09-f1f5-4325-8ddd-ac4f083e4faa</Key>
      <Name>Teaser Text</Name>
      <Alias>teaserText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="teaser">Teaser</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3a7c4b71-3df4-4abf-8da7-1c07b5f39a9f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>99</SortOrder>
    </Tab>
    <Tab>
      <Key>5155b477-3bcb-4499-9814-9e9c5f7889c1</Key>
      <Caption>Teaser</Caption>
      <Alias>teaser</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>