<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6126d24e-6084-4e78-a91f-db931ce65997" Alias="pressreportslist" Level="3">
  <Info>
    <Name>Pressemeldungen</Name>
    <Icon>icon-newspaper color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Pressreports</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3440b62a-51d2-4bad-965b-7fe48dedcc43</Key>
      <Name>Anzahl pro Seite</Name>
      <Alias>reportsPerPage</Alias>
      <Definition>f188a2e6-8409-4525-be04-93f87793b57d</Definition>
      <Type>Umbraco.Community.Contentment.NumberInput</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bestimmt die Anzahl der Pressemeldungen pro Seite - wenn leer sind es standardmäßig 20]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db2d4c5b-d27a-4547-99bf-174a6682e226</Key>
      <Name>Pressemeldungen</Name>
      <Alias>selectedReports</Alias>
      <Definition>6d0a2aad-ad77-4bed-be68-a5f406d21de9</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[wählen Sie bestimmte Pressemeldungen aus - nur diese werden dann angezeigt. Ansonsten nimmt er chronologisch sortiert alle Meldungen.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4791b44c-5052-4953-a704-8142e2b0e3d9</Key>
      <Caption>Inhalt</Caption>
      <Alias>inhalt</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>