<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="596dcd08-d198-4aaa-8f04-828eb5f46560" Alias="preview" Level="2">
  <Info>
    <Name>Preview</Name>
    <Icon>icon-frame-alt color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a52db9e0-1794-4d56-acc9-92ef8453219d</Key>
      <Name>Auszug</Name>
      <Alias>previewExcerpt</Alias>
      <Definition>62a0d155-ca17-4284-91d8-e527263622b9</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d4d3fd9-b44e-45e6-adf0-d7b83661deba</Key>
      <Name>Anpinnen an Home</Name>
      <Alias>previewPinnedHome</Alias>
      <Definition>17407f40-4bb9-47c2-8ff5-b33d6654160c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dcf14f3-d13a-4244-bc90-ad9b9914376e</Key>
      <Name>Anpinnen an Übersichts-Seite</Name>
      <Alias>previewPinnedOverview</Alias>
      <Definition>a7a784a7-add1-4291-acfc-5d85b2407f1f</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>33007360-07bf-40f6-9035-3ab8b2f2b4f4</Key>
      <Name>Unterüberschrift</Name>
      <Alias>previewSubline</Alias>
      <Definition>bff3c141-79f1-46b7-802b-97703bb86be1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b32f033-49c5-4e48-b5f9-3836aea1c33d</Key>
      <Name>Vorschau</Name>
      <Alias>previewThumbnail</Alias>
      <Definition>12f8a838-7dce-45ff-bc54-2387bc104235</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1e16429-fc76-427b-9875-a8e589bb476e</Key>
      <Name>Überschrift</Name>
      <Alias>previewTitle</Alias>
      <Definition>6a109051-506f-44c3-9b54-76d134e03ae2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau/vorschauTexte">Vorschau Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>46582066-7828-447c-91a7-52cd8a3cbb5c</Key>
      <Caption>Vorschau Texte</Caption>
      <Alias>vorschau/vorschauTexte</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>c7811c91-e90f-4839-b692-e3439d5f2840</Key>
      <Caption>Vorschau</Caption>
      <Alias>vorschau</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>