<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9cdaef6b-805f-4a9a-abe0-fb99951cf35b" Alias="profileEditor" Level="2">
  <Info>
    <Name>Profile Editor</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f8947558-0c92-403a-9dfb-aaa47f6d5219">ProfileEditor</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c747ee14-339e-4246-9483-8d41f8e276ae</Key>
      <Name>Body</Name>
      <Alias>downgradeGoldAndSilverBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Placeholders:**
{{ProviderName}}
{{CurrentBusinessModel}}
{{NewBusinessModel}}
{{ProfileEditorLink}}
{{NwbAccountLogin}}]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="email/downgradeAufGoldBzwSilber">Downgrade auf Gold bzw. Silber</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d2763b2-6987-40e3-8603-3dc2c3ae04ee</Key>
      <Name>Betreff</Name>
      <Alias>downgradeGoldAndSilverSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Placeholders:**
{{ProviderName}}
{{CurrentBusinessModel}}
{{NewBusinessModel}}]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="email/downgradeAufGoldBzwSilber">Downgrade auf Gold bzw. Silber</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>488de144-48cc-4dad-833b-7413c42a8494</Key>
      <Name>Body</Name>
      <Alias>downGradeToBasisBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Placeholders:**
{{ProviderName}}
{{CurrentBusinessModel}}
{{NewBusinessModel}}
{{ProfileEditorLink}}
{{NwbAccountLogin}}]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="email/downgradeAufBasisKndigung">Downgrade auf Basis (Kündigung)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b304238-54a7-4d44-b488-20e76eb7d8a7</Key>
      <Name>Betreff</Name>
      <Alias>downGradeToBasisSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Placeholders:**
{{ProviderName}}
{{CurrentBusinessModel}}
{{NewBusinessModel}}]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="email/downgradeAufBasisKndigung">Downgrade auf Basis (Kündigung)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2297bc35-24ca-4d00-b73f-298a6a4bb109</Key>
      <Name>Footer Image</Name>
      <Alias>footerImage</Alias>
      <Definition>f69d8898-f1a0-4969-99fc-17321fb1f26c</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="emailBilder">Email Bilder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c9a1f772-7db6-40d2-ae90-5d34183b90ae</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>f69d8898-f1a0-4969-99fc-17321fb1f26c</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="emailBilder">Email Bilder</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>151db5cc-8591-46d8-8000-25c42a445689</Key>
      <Name>Body</Name>
      <Alias>upgradeGoldOrPlatinBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Placeholders:**
{{ProviderName}}
{{CurrentBusinessModel}}
{{NewBusinessModel}}
{{ProfileEditorLink}}
{{NwbAccountLogin}}]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="email/upgradeAufGoldBzwPlatin">Upgrade auf Gold bzw. Platin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0277838-1698-454c-ba04-d527e90140b2</Key>
      <Name>Betreff</Name>
      <Alias>upgradeGoldOrPlatinSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[**Placeholders:**
{{ProviderName}}
{{CurrentBusinessModel}}
{{NewBusinessModel}}]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="email/upgradeAufGoldBzwPlatin">Upgrade auf Gold bzw. Platin</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0bec754d-d22b-4ed3-b5a4-959772452ec5</Key>
      <Caption>Downgrade auf Gold bzw. Silber</Caption>
      <Alias>email/downgradeAufGoldBzwSilber</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>215becd8-05b3-46b6-a7f5-df6c747b210c</Key>
      <Caption>Downgrade auf Basis (Kündigung)</Caption>
      <Alias>email/downgradeAufBasisKndigung</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>3cd0dcfe-f3c0-4ccc-8ec1-fb22966818ad</Key>
      <Caption>Email</Caption>
      <Alias>email</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b1fd26fe-8568-41fc-81b5-a0c1167a1f04</Key>
      <Caption>Upgrade auf Gold bzw. Platin</Caption>
      <Alias>email/upgradeAufGoldBzwPlatin</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>efdba368-8135-4061-b351-e8126bffda4c</Key>
      <Caption>Email Bilder</Caption>
      <Alias>emailBilder</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>