<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2f94041-27a0-410d-8176-dffdd6dab528" Alias="provider" Level="2">
  <Info>
    <Name>Anbieter</Name>
    <Icon>icon-box-open color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>Provider</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="05f29662-1ac9-4697-a5e2-374b2e52bf0d">Provider</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="49482acc-53de-4e4c-ba38-f7fff15bc172" SortOrder="0">tool</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7c0d9492-50ae-4c7a-84bd-7481bdb5b573</Key>
      <Name>Partnerschaft</Name>
      <Alias>businessModel</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="biS/datenAusBIS">Daten aus BIS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0e22cce4-c35c-40a7-91b0-231c088a7b1e</Key>
      <Name>Änderungen Partnerschaft</Name>
      <Alias>businessModelChange</Alias>
      <Definition>93789d73-3e52-4b57-9a7e-6e229a07b992</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Zeigt an ob NWB tätig werden muss nachdem ein Anbieter heruntergestuft worden ist.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="biS/datenAusBIS">Daten aus BIS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ce774c13-92b4-4b51-b6ca-f199f65c438b</Key>
      <Name>Anbieter Kontakt Email</Name>
      <Alias>contactEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[Wird unter anderem benutzt, um den Anbieter über eine Herunterstufung des Produkts zu informieren.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anbieterInformationen/kontaktdatenDesAnbieters">Kontaktdaten des Anbieters</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Die angegebene E-Mail ist keine gültige E-Mail-Adresse.</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8755e0cf-27b1-4c27-961e-fb2d8ce8d63e</Key>
      <Name>Anzahl Mitarbeiter</Name>
      <Alias>employees</Alias>
      <Definition>8b08298c-1eee-4735-a6e9-a8cc2bf4581c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a46953d1-7e62-4fb8-adcc-1d3f7098978c</Key>
      <Name>Gründungsdatum</Name>
      <Alias>foundingDate</Alias>
      <Definition>e3e3b1dd-a922-447c-bbd8-8faa21698a8f</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>88fe66e5-af42-4096-9ea9-4722e4fa55c7</Key>
      <Name>Beschreibung</Name>
      <Alias>fullDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>71f43e54-a1cd-4a65-a583-43f89c357ae9</Key>
      <Name>Kopfbild</Name>
      <Alias>headerImage</Alias>
      <Definition>3fa18862-2c8e-4411-90d4-3e12868c4078</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anbieterInformationen/individuelles">Individuelles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb8034a5-ce5d-41ad-86a2-2ef9103a46a3</Key>
      <Name>Kopf Video</Name>
      <Alias>headerVideo</Alias>
      <Definition>e190465b-8183-4c12-a75d-8c3f4d43d7aa</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="anbieterInformationen/individuelles">Individuelles</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df567160-2e0c-4197-a73d-a3824ca8523f</Key>
      <Name>Letzte Änderung</Name>
      <Alias>lastChange</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="biS/datenAusBIS">Daten aus BIS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>18dd903b-08e9-4fe9-86d9-96ae632665e0</Key>
      <Name>Letzte Prüfung</Name>
      <Alias>lastCheck</Alias>
      <Definition>0e9794eb-f9b5-4f20-a788-93acd233a7e4</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="biS/datenAusBIS">Daten aus BIS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2a02d28-3134-4e3a-b46f-53d8d6aa4e9d</Key>
      <Name>LinkedIn Url</Name>
      <Alias>linkedInUrl</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="anbieterInformationen/links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>019965d5-e1ce-4ad8-a9d0-0c6bcf33ccdc</Key>
      <Name>Standorte</Name>
      <Alias>locations</Alias>
      <Definition>0dc622e0-e6ed-4165-8f55-6f00ce39fb21</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f2e4396b-f974-4372-b92c-427bafde57a1</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>3fa18862-2c8e-4411-90d4-3e12868c4078</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>39a3909d-1d1b-40f3-907e-c8f3c93affe3</Key>
      <Name>Media Ordner Verweis</Name>
      <Alias>mediaFolderID</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird beim ersten Speichern automatisch befüllt]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="biS/media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42033f2e-e289-4bb7-8a9f-d9cd3ace86bc</Key>
      <Name>Auftragsnummer</Name>
      <Alias>orderID</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="biS/datenAusBIS">Daten aus BIS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f4e7c5d8-b893-4086-a79b-bcb5823fca73</Key>
      <Name>Anbietername</Name>
      <Alias>providerName</Alias>
      <Definition>de20bca3-90de-4a88-ade6-8b72b65c552b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[max. 35 Zeichen]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>161d114e-8a55-4f0a-b2ec-0fd9ca7f3b33</Key>
      <Name>Anbieter Url</Name>
      <Alias>providerUrl</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="anbieterInformationen/links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>539af933-f471-449e-9e19-93a9fc418451</Key>
      <Name>Kurzbeschreibung</Name>
      <Alias>shortDescription</Alias>
      <Definition>bff3c141-79f1-46b7-802b-97703bb86be1</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="anbieterInformationen/allgemeineDaten">Allgemeine Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ba8182c-45ab-4763-b168-def25563fa21</Key>
      <Name>Webprodukt ID</Name>
      <Alias>webID</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="biS/datenAusBIS">Daten aus BIS</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41432e9e-db85-4409-85a2-834c6455d75a</Key>
      <Name>Xing Url</Name>
      <Alias>xingUrl</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="anbieterInformationen/links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89c27d07-9131-4ad3-a38d-e2dc0d0766ae</Key>
      <Name>Youtube Url</Name>
      <Alias>youtubeUrl</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="anbieterInformationen/links">Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3fcab440-cd46-429f-a4cf-0296e044581d</Key>
      <Caption>Kontaktdaten des Anbieters</Caption>
      <Alias>anbieterInformationen/kontaktdatenDesAnbieters</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>a233c984-b4e4-42c4-bcd3-3b2d9fd509e8</Key>
      <Caption>Daten aus BIS</Caption>
      <Alias>biS/datenAusBIS</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a690b210-8654-407c-a03b-1051658cf2dc</Key>
      <Caption>BIS</Caption>
      <Alias>biS</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>b1c764b2-8752-4833-9f99-b6aa93b42f67</Key>
      <Caption>Anbieter Informationen</Caption>
      <Alias>anbieterInformationen</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ceeabd1c-24aa-4c66-b6ae-11183a8143ca</Key>
      <Caption>Links</Caption>
      <Alias>anbieterInformationen/links</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d8122a50-8a56-4880-8fdc-5ccd9fab2201</Key>
      <Caption>Allgemeine Daten</Caption>
      <Alias>anbieterInformationen/allgemeineDaten</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>da530694-b80f-4853-b591-9641171db24d</Key>
      <Caption>Media</Caption>
      <Alias>biS/media</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>dd078ad3-c623-4725-8927-43a0564b0a4b</Key>
      <Caption>Individuelles</Caption>
      <Alias>anbieterInformationen/individuelles</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>