<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="878e3174-b1b2-4688-8236-2a5d43d98710" Alias="quoteSettings" Level="3">
  <Info>
    <Name>QuoteSettings</Name>
    <Icon>icon-settings-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Quote</Folder>
    <Compositions>
      <Composition Key="8c0f262c-369b-4d58-92e0-7a13298cb458">alignmentSettings</Composition>
      <Composition Key="9c684756-e9d1-4cf4-9ed4-a39d7d8f00db">gapSettings</Composition>
      <Composition Key="95894d18-6fd6-4a7a-87a8-9a8866c86ad9">visibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>