<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ceed12df-fe34-4d96-9646-3314622e374c" Alias="richTextSettings" Level="3">
  <Info>
    <Name>RichTextSettings</Name>
    <Icon>icon-settings color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Rich+Text+Editor</Folder>
    <Compositions>
      <Composition Key="8c0f262c-369b-4d58-92e0-7a13298cb458">alignmentSettings</Composition>
      <Composition Key="ab3e1ef4-41ed-409e-854c-defcf50c069d">colorSettings</Composition>
      <Composition Key="9c684756-e9d1-4cf4-9ed4-a39d7d8f00db">gapSettings</Composition>
      <Composition Key="95894d18-6fd6-4a7a-87a8-9a8866c86ad9">visibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>