<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="62ccc155-8fc9-4c91-957b-2c2fdca5d58b" Alias="rowSettings" Level="4">
  <Info>
    <Name>Reihe Einstellungen</Name>
    <Icon>icon-settings-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements/Layouts/LayoutSettings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1a74e820-cfb2-4f79-81d0-05e373d0f368</Key>
      <Name>Abstand zwichen den Elementen</Name>
      <Alias>columnGap</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Angaben in Pixel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seetings">Seetings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>755ba0ed-98dc-4072-9a7b-7cdea72a7c38</Key>
      <Name>Abstand zwichen den Reihen</Name>
      <Alias>rowGap</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Angaben in Pixel]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seetings">Seetings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1e75b76b-704f-46d4-ba26-888ccdd2c277</Key>
      <Caption>Seetings</Caption>
      <Alias>seetings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>