<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7f5051d-64ab-44de-8f27-e7137129c52e" Alias="search" Level="2">
  <Info>
    <Name>Suche</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
    </Compositions>
    <DefaultTemplate>Suche</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="93fd7de1-3665-44a8-b1b8-0637a7f17ef6">Suche</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ad29238f-66ec-4099-8a0f-a6b844679e3f</Key>
      <Name>Überschrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Worte mit &lt;span&gt;&lt;/span&gt; umschließen, um sie gelb zu markieren]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a66079b-36a4-4de6-b910-837c41b01b8d</Key>
      <Name>Bild für Einleitungstext</Name>
      <Alias>introImage</Alias>
      <Definition>7c9d1b16-285f-4ae0-ad6a-486132098e7f</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc9999bd-2bbc-4eca-b0d8-91c7c5b9f09f</Key>
      <Name>Einleitungstext</Name>
      <Alias>introText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d507b029-79f8-4c94-95df-24c250761f0b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>