<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0591d548-2614-41d2-8fe4-2ba6909c1b20" Alias="singleDataSet" Level="3">
  <Info>
    <Name>Einzel</Name>
    <Icon>icon-ssd color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage/Tax+Audits</Folder>
    <Compositions>
      <Composition Key="5ea598b9-d5e0-4652-9d0f-4ca2b6ce7699">auditDataSet</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>