<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0ccf141d-855d-4b3b-9987-45f8efe9a491" Alias="spacer" Level="3">
  <Info>
    <Name>Spacer</Name>
    <Icon>icon-inactive-line color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Spacer</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a4a53d79-9209-4e70-a191-5bd3b50cc512</Key>
      <Name>Farbe</Name>
      <Alias>color</Alias>
      <Definition>f9041e50-8d6c-4752-be0a-726bf4d7509d</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="spacer/spacer">Spacer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29e92422-9a9b-4286-a6a1-4cd0828f8968</Key>
      <Name>Weite</Name>
      <Alias>width</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Weite des 'Spacers ' in Pixel.
**Default:** 2px]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="spacer/spacer">Spacer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2da7c227-c0a2-4df6-8df4-a287f6de029e</Key>
      <Caption>Spacer</Caption>
      <Alias>spacer</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ad9ccc77-1f6b-492c-81bc-ad2e82e2bd32</Key>
      <Caption>Spacer</Caption>
      <Alias>spacer/spacer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>