<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7114a8ea-910d-4cf3-b055-91e776a8e31f" Alias="sponsoredArticleOverview" Level="2">
  <Info>
    <Name>Sponsored Article Overview</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
    </Compositions>
    <DefaultTemplate>SponsoredArticleOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a529aa44-2073-4193-92f3-ca87063a8549">SponsoredArticleOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="23a59f15-27e3-4537-8f91-d4b7af6dd3a7" SortOrder="0">sponsoredArticle</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>