<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="88b3a110-bf34-48c6-b654-bc744f19f87b" Alias="sponsoredArticleOverviewGlobal" Level="2">
  <Info>
    <Name>Sponsored Article Overview (global)</Name>
    <Icon>icon-thumbnail-list color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
    </Compositions>
    <DefaultTemplate>SponsoredArticleOverviewGlobal</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d5d4cc2b-1900-4c79-88d2-ca55e1728285">SponsoredArticleOverviewGlobal</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>