<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b24c2080-0f28-4727-a767-daba8e8b05b8" Alias="tagDetail" Level="2">
  <Info>
    <Name>Schlagwort Ansicht</Name>
    <Icon>icon-tag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="466ef2fa-d289-4d0b-b470-876a1f92198a">TagDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5f71be5f-1e77-4702-8a5d-62b8de9037ac</Key>
      <Name>Artikel pro Seite</Name>
      <Alias>pageSize</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[bezieht sich "PageSize" auf die Anzahl der Elemente, die auf einer einzelnen Seite einer Webseite oder einer Anwendung angezeigt werden.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="einstellungen">Einstellungen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d4e1cf66-29f5-4e2b-8808-d5b7ecaaff2c</Key>
      <Caption>Einstellungen</Caption>
      <Alias>einstellungen</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>