<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="31bf2c21-91b9-401d-a070-da62c9a8350b" Alias="tagsRepositoryTopics" Level="2">
  <Info>
    <Name>Themen-Schlagwörter</Name>
    <Icon>icon-tags color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Schlagworte</Folder>
    <Compositions>
      <Composition Key="bac90e1c-e408-4b4c-beee-7d728af83a9d">tagRepositorySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="285b524a-9ce1-499c-b6d5-c6e95f80f47f" SortOrder="0">tag</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>