<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="25afff12-d6c4-4536-939f-1b4ac4369851" Alias="tagsRepositoryTools" Level="2">
  <Info>
    <Name>Tools-Schlagwörter</Name>
    <Icon>icon-tags color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Schlagworte</Folder>
    <Compositions>
      <Composition Key="bac90e1c-e408-4b4c-beee-7d728af83a9d">tagRepositorySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="285b524a-9ce1-499c-b6d5-c6e95f80f47f" SortOrder="0">tag</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c6dc5477-e27d-4e73-a6ce-55ea3ed16d91</Key>
      <Name>Text für Relevanz Tooltip</Name>
      <Alias>relevanceText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Platzhalter Werte:
[category] = Kategorie]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="relevanzText">Relevanz Text</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>30645423-7449-49ba-8b7a-77e276e7589b</Key>
      <Caption>Relevanz Text</Caption>
      <Alias>relevanzText</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>