<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3a93ff31-160a-4ccc-a1bc-c0cf8e78320c" Alias="taxAudit" Level="3">
  <Info>
    <Name>Prüfungsergebnisse</Name>
    <Icon>icon-notepad-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Parent>
    <Compositions>
      <Composition Key="f4e08261-d213-41f7-adab-2cb4b6b2283e">masterNWB</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>Pruefungsergebnisse</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bd4c80d5-cdb4-4ca4-bc5f-f0b0dcb493a4">Pruefungsergebnisse</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5cca1856-be3f-4fc1-8bf9-01752f261b9e</Key>
      <Name>Prüfungsergebnisse</Name>
      <Alias>auditResults</Alias>
      <Definition>77fb3399-8c15-4231-b6ec-836af3cbb230</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ergebnisse">Ergebnisse</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93511920-2878-44b5-b892-4fc40388f4e9</Key>
      <Name>Grid oben</Name>
      <Alias>girdTop</Alias>
      <Definition>bc3b6db4-e710-4751-a0e8-e4c7bd0b1fb8</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content Grid, welches vor den Ergebnissen angezeigt wird]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49355469-563f-46d4-b84e-c413b029990a</Key>
      <Name>Grid unten</Name>
      <Alias>gridBottom</Alias>
      <Definition>bc3b6db4-e710-4751-a0e8-e4c7bd0b1fb8</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4d1c491c-acc2-46c8-a647-029f091c6924</Key>
      <Caption>Ergebnisse</Caption>
      <Alias>ergebnisse</Alias>
      <Type>Tab</Type>
      <SortOrder>97</SortOrder>
    </Tab>
    <Tab>
      <Key>56a94b42-96e1-4081-af0a-8bbeeb594567</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>98</SortOrder>
    </Tab>
  </Tabs>
</ContentType>