<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d7be31bc-2998-4909-b1fe-e14f083582d0" Alias="toolPrice" Level="2">
  <Info>
    <Name>Tool Price</Name>
    <Icon>icon-coin-dollar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
    </Compositions>
    <DefaultTemplate>ToolPrice</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="61c58b2f-8634-40a1-82bd-ef4895c8a10d">ToolPrice</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>