<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49482acc-53de-4e4c-ba38-f7fff15bc172" Alias="tool" Level="2">
  <Info>
    <Name>Tool</Name>
    <Icon>icon-settings color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>ToolDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="82221bfb-944b-4374-ae31-bf2368a636b8">ToolDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fd2f8f2f-681d-47e5-aa1b-3ff5266357ec" SortOrder="0">tutorialOverview</ContentType>
    <ContentType Key="d7be31bc-2998-4909-b1fe-e14f083582d0" SortOrder="1">toolPrice</ContentType>
    <ContentType Key="ec50881b-5ff7-453c-ab99-5f772f2e38b5" SortOrder="2">alternatives</ContentType>
    <ContentType Key="7114a8ea-910d-4cf3-b055-91e776a8e31f" SortOrder="3">sponsoredArticleOverview</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>caf9fadc-a7a5-495d-9515-056317a25552</Key>
      <Name>Individuell</Name>
      <Alias>additionalContact</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="callToActions">Call To Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ad03bde-2fe8-415e-ba66-821b92b6250c</Key>
      <Name>Zusätzliche Datensicherheit</Name>
      <Alias>additionalDataSecurity</Alias>
      <Definition>f56acf34-0ef8-45a6-ac69-785636eeb5ce</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="bersicht/datensicherheit">Datensicherheit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>92062437-d174-49ff-9237-d95946cc744e</Key>
      <Name>Weite FAQ's</Name>
      <Alias>additionalFaq</Alias>
      <Definition>9527067e-f869-487e-857c-1693921dacaf</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="faQ">FAQ</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3649b66-152d-4289-91f0-9eed59b5923d</Key>
      <Name>Zusätzliche Schnittstellen</Name>
      <Alias>additionalInterfaces</Alias>
      <Definition>302c531e-9ef1-475f-9502-131fd1eaf218</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^.{0,30}$</Validation>
      <Description><![CDATA[max. 30chars]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="funktionen/schnittstellen">Schnittstellen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Each entry must not exceed 30 characters!</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9e0f710d-257b-403d-af31-a9a00d9858d9</Key>
      <Name>Groß</Name>
      <Alias>companyLarge</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bersicht/unternehmensgre">Unternehmensgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5163775f-e99e-4060-b2a3-e3bf1a0a2502</Key>
      <Name>Mittel</Name>
      <Alias>companyMedium</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/unternehmensgre">Unternehmensgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b90070d1-7f05-4b4c-8192-b7a770cca9dc</Key>
      <Name>Klein</Name>
      <Alias>companySmall</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/unternehmensgre">Unternehmensgröße</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e370b7fb-0f8c-4153-b59c-c2dd9b296ee2</Key>
      <Name>Kontakt</Name>
      <Alias>contact</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="callToActions">Call To Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aaaf9151-b952-4d86-938c-92452952977c</Key>
      <Name>2-Faktor Authentifizierung</Name>
      <Alias>dataProtection2FA</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bersicht/datensicherheit">Datensicherheit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41bf31d7-9415-422e-ab50-649089d80244</Key>
      <Name>Ortsunabhängige Backups</Name>
      <Alias>dataProtectionBackups</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="bersicht/datensicherheit">Datensicherheit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1eb4f465-6e53-4ef2-a530-f19e3df3b4e8</Key>
      <Name>DSGVO Konformität</Name>
      <Alias>dataProtectionDSGVO</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="bersicht/datensicherheit">Datensicherheit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4a238cf5-45f6-4dc0-9b57-5db6de664b25</Key>
      <Name>Serverstandort in Deutschland</Name>
      <Alias>dataProtectionServerLocation</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/datensicherheit">Datensicherheit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>63391380-7124-41a5-af58-f717efaf811d</Key>
      <Name>Serverstandort in EU</Name>
      <Alias>dataProtectionServerLocationEU</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/datensicherheit">Datensicherheit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5849615d-8e63-4bc0-90a3-4439f00c3440</Key>
      <Name>DATEV</Name>
      <Alias>datev</Alias>
      <Definition>ccb7e682-fc47-4b62-a7fa-9a545a0bb683</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="funktionen/datevErgnzung">DATEV-Ergänzung</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d86e2ac4-a51f-4726-9c4e-9721c78cd5b7</Key>
      <Name>Funktionen</Name>
      <Alias>funktionen</Alias>
      <Definition>3ddc53a7-2cb3-4dc1-86a7-93cee30aa7b4</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation>^.{0,30}$</Validation>
      <Description><![CDATA[max. 30chars]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="funktionen">Funktionen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Each entry must not exceed 30 characters!</ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7e686d41-4d3f-4797-a3f5-e333bced91cd</Key>
      <Name>Hauptkategorie</Name>
      <Alias>hauptkategorie</Alias>
      <Definition>97781436-862d-4775-b800-d67fad1439c0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="allgemein1/kategorien">Kategorien</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba6f6afd-96ba-4460-84c4-f5e70019d2a1</Key>
      <Name>Header-Bild</Name>
      <Alias>headerImage</Alias>
      <Definition>3fa18862-2c8e-4411-90d4-3e12868c4078</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="allgemein1/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c422f193-2344-4da8-a824-d4c5231504b7</Key>
      <Name>Header-Video</Name>
      <Alias>headerVideo</Alias>
      <Definition>e190465b-8183-4c12-a75d-8c3f4d43d7aa</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="allgemein1/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>612c3650-920f-4b11-bd81-b864c9a68929</Key>
      <Name>Highlights</Name>
      <Alias>highlights</Alias>
      <Definition>d9ab8796-04b9-4119-802d-502e79b6da82</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/highlights">Highlights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb6bb3b4-d828-45f6-a00a-f56ac4cdb3fc</Key>
      <Name>Schnittstellen</Name>
      <Alias>interfaces</Alias>
      <Definition>dd9803f8-5bd1-4780-b6bd-fd38f24aa3c3</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="funktionen/schnittstellen">Schnittstellen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32a8db0d-84c0-492e-a234-d779a78ee686</Key>
      <Name>Englisch</Name>
      <Alias>languageEnglish</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/sprachen">Sprachen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>652bdb73-f55b-426c-9eed-c8791178a4b4</Key>
      <Name>Deutsch</Name>
      <Alias>languageGerman</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/sprachen">Sprachen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1e260e45-10d5-44d8-bfd1-e949734ffd2e</Key>
      <Name>LinkedIn Url</Name>
      <Alias>linkedInLink</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/weiterfhrendeLinks">Weiterführende Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fbf7981-0825-4edf-9fb9-4d6978ac8157</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>3fa18862-2c8e-4411-90d4-3e12868c4078</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="allgemein1/allgemein">Allgemein</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99af0a7d-6db7-4ab6-af09-b2c2fb641896</Key>
      <Name>Screenshots</Name>
      <Alias>mediaItems</Alias>
      <Definition>471a58db-8546-4b33-baa7-6d77d9e11e00</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>033ecfa1-6c16-4b3a-8959-13708cb1047b</Key>
      <Name>Videos</Name>
      <Alias>mediaVideos</Alias>
      <Definition>a67e8fe6-9500-4b3f-9a27-912d2b7cadb8</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>357ada36-e9e4-472f-b92b-f6fd0e3492e5</Key>
      <Name>Weitere Links</Name>
      <Alias>moreLinks</Alias>
      <Definition>f615bf90-53fa-4e35-a672-9f4b36ee181a</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="weitereLinks">Weitere Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0034316a-3266-4536-a8e6-8709332e7a7a</Key>
      <Name>Preismodelle</Name>
      <Alias>preismodelle</Alias>
      <Definition>e3ed4968-3734-4327-b598-67078f988961</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="preise">Preise</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c56083a-2323-40dc-9d06-cbf7b537d360</Key>
      <Name>Preismodell Legende</Name>
      <Alias>priceModelLegend</Alias>
      <Definition>9ba1b0c6-1fac-4265-ab39-5b3d5ceb66fa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="preise">Preise</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a34bd72c-e11f-460a-86e8-63f79b86583a</Key>
      <Name>Referenz Bilder</Name>
      <Alias>referenzBilder</Alias>
      <Definition>ce9c89ee-9666-41f7-8b0b-3cc54e8d3f06</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/referenzen">Referenzen</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9ba6534-a1ef-47e7-b2b0-022934a8b0fd</Key>
      <Name>Angebot</Name>
      <Alias>requestQuote</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="callToActions">Call To Actions</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3db3ad44-52c5-45e2-8e5d-a4c7a7e7e435</Key>
      <Name>Kurzbeschreibung</Name>
      <Alias>shortDescription</Alias>
      <Definition>ca9b9c74-ea15-4d6f-a570-2ae63fbf945c</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="allgemein1/allgemein">Allgemein</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f65e9e03-cb64-4236-a224-29dd6d3f7ff8</Key>
      <Name>Unterkategorien</Name>
      <Alias>subCategory</Alias>
      <Definition>01f9c36a-c49b-4ddb-97ed-788d4ba4fb45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="allgemein1/kategorien">Kategorien</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c67e21c0-834c-436e-98d9-d5f179332a6c</Key>
      <Name>24/7 Support</Name>
      <Alias>support24</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="bersicht/support">Support</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1a43445-4854-4e0e-b3c0-5882c9311710</Key>
      <Name>Chat</Name>
      <Alias>supportChat</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/support">Support</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b930b40c-03b1-43f0-82c7-56a059e51e22</Key>
      <Name>Ansprechpartner</Name>
      <Alias>supportContactPerson</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="bersicht/support">Support</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>917236cc-ece5-480f-98a1-57e5e757c6e3</Key>
      <Name>E-Mail</Name>
      <Alias>supportEmail</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bersicht/support">Support</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf81b706-b34a-46cd-ac42-99b9aabb7093</Key>
      <Name>Telefon</Name>
      <Alias>supportPhone</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/support">Support</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3321016d-311f-4d51-93c3-d661ee36f323</Key>
      <Name>App</Name>
      <Alias>systemApp</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bersicht/system">System</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>473729e2-2dba-4768-a54e-43f0838f3898</Key>
      <Name>Cloud</Name>
      <Alias>systemCloud</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/system">System</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38d6b3ab-b5b5-4d88-92f3-5c1ce2615367</Key>
      <Name>Lokal</Name>
      <Alias>systemLokal</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/system">System</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8c5f6c0-6d53-4fc1-8432-dae50d69eadd</Key>
      <Name>Kanzleien</Name>
      <Alias>targetChancellery</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/zielgruppe">Zielgruppe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>534a807f-591e-4cc2-ae73-6f864e0a7a5f</Key>
      <Name>Unternehmen</Name>
      <Alias>targetGroupBusiness</Alias>
      <Definition>155e8c5a-d1c0-47d9-8486-9313763743aa</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bersicht/zielgruppe">Zielgruppe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>19e7c7bc-68f0-443f-b7e4-5a7b65e45523</Key>
      <Name>Beschreibung</Name>
      <Alias>toolDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht">Übersicht</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>46b971db-2dcb-40fb-997b-f22da90d62c6</Key>
      <Name>Tool Url</Name>
      <Alias>toolLink</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bersicht/weiterfhrendeLinks">Weiterführende Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52f8f34b-f0f0-47de-8da0-ffad3243881b</Key>
      <Name>Name</Name>
      <Alias>toolName</Alias>
      <Definition>de20bca3-90de-4a88-ade6-8b72b65c552b</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[max. 35 Zeichen]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="allgemein1/allgemein">Allgemein</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b704990c-85ca-429a-82e6-de9a25a73930</Key>
      <Name>Verlinkung Preise Anbieter</Name>
      <Alias>verlinkungPreiseAnbieter</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="preise">Preise</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0897bc36-81f5-4abb-a845-e08b076b37c7</Key>
      <Name>Xing Url</Name>
      <Alias>xingLink</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="bersicht/weiterfhrendeLinks">Weiterführende Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c216116a-a04e-49da-acb7-ed5ff6b7606a</Key>
      <Name>Youtube Url</Name>
      <Alias>youtubeUrl</Alias>
      <Definition>9af3d232-711c-47db-ac05-fdeeca9efbf5</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="bersicht/weiterfhrendeLinks">Weiterführende Links</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>00bcaf76-4157-4bf6-ad00-443354bb6dc1</Key>
      <Caption>Allgemein</Caption>
      <Alias>allgemein1/allgemein</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>06879bb5-e605-44ec-b42c-a7d2598ad83b</Key>
      <Caption>Highlights</Caption>
      <Alias>bersicht/highlights</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>0feaf708-4ffb-4e2b-ab39-f3e939d10f3b</Key>
      <Caption>Preise</Caption>
      <Alias>preise</Alias>
      <Type>Tab</Type>
      <SortOrder>-96</SortOrder>
    </Tab>
    <Tab>
      <Key>1a9287b6-51f6-4666-b4e9-fff30407a719</Key>
      <Caption>Sprachen</Caption>
      <Alias>bersicht/sprachen</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>1d9c1010-7f8f-4b36-b00d-5381b9e0b6fe</Key>
      <Caption>FAQ</Caption>
      <Alias>faQ</Alias>
      <Type>Tab</Type>
      <SortOrder>-95</SortOrder>
    </Tab>
    <Tab>
      <Key>367f49b8-3b40-43a1-b475-9772ccce2089</Key>
      <Caption>Schnittstellen</Caption>
      <Alias>funktionen/schnittstellen</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4bd5546b-f7fa-4a85-9170-ad7c1d571c42</Key>
      <Caption>Weiterführende Links</Caption>
      <Alias>bersicht/weiterfhrendeLinks</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5969e6da-0163-4269-b5e8-c6d0df863ed8</Key>
      <Caption>Support</Caption>
      <Alias>bersicht/support</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>67074467-0cfa-47a8-b5bd-e85ff4352acc</Key>
      <Caption>Übersicht</Caption>
      <Alias>bersicht</Alias>
      <Type>Tab</Type>
      <SortOrder>-98</SortOrder>
    </Tab>
    <Tab>
      <Key>6ae855dd-92e9-4625-a330-b23bdda178e7</Key>
      <Caption>Funktionen</Caption>
      <Alias>funktionen</Alias>
      <Type>Tab</Type>
      <SortOrder>-97</SortOrder>
    </Tab>
    <Tab>
      <Key>6af5adf3-a016-4fb3-9130-34dcada7f047</Key>
      <Caption>Call To Actions</Caption>
      <Alias>callToActions</Alias>
      <Type>Tab</Type>
      <SortOrder>-93</SortOrder>
    </Tab>
    <Tab>
      <Key>7983197e-affe-411a-9704-de25a6f889f1</Key>
      <Caption>Unternehmensgröße</Caption>
      <Alias>bersicht/unternehmensgre</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>806a5950-5e40-4fa6-8a16-98cd95f60226</Key>
      <Caption>Allgemein</Caption>
      <Alias>allgemein1</Alias>
      <Type>Tab</Type>
      <SortOrder>-100</SortOrder>
    </Tab>
    <Tab>
      <Key>81324226-6381-4d25-bd9f-b7bdc7e3ee17</Key>
      <Caption>System</Caption>
      <Alias>bersicht/system</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>90749204-99fc-4777-9b4c-db86d2b2a905</Key>
      <Caption>Datensicherheit</Caption>
      <Alias>bersicht/datensicherheit</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>9bf332f0-fdc9-443d-ac12-7359751e46c9</Key>
      <Caption>Zielgruppe</Caption>
      <Alias>bersicht/zielgruppe</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>a3c81646-b930-418f-a229-12e65d360d68</Key>
      <Caption>DATEV-Ergänzung</Caption>
      <Alias>funktionen/datevErgnzung</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>a7688c1b-2f2c-41ed-9ac1-d26797130873</Key>
      <Caption>Referenzen</Caption>
      <Alias>bersicht/referenzen</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>a84f41dd-05a5-4cc9-9781-7ce309e8d775</Key>
      <Caption>Weitere Links</Caption>
      <Alias>weitereLinks</Alias>
      <Type>Tab</Type>
      <SortOrder>-95</SortOrder>
    </Tab>
    <Tab>
      <Key>aefc10b9-e5a4-428e-ad35-128ef148dd10</Key>
      <Caption>Header</Caption>
      <Alias>allgemein1/header</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>dc36fe54-74c6-4d81-995f-40d5d2f0198f</Key>
      <Caption>Media</Caption>
      <Alias>media</Alias>
      <Type>Tab</Type>
      <SortOrder>-94</SortOrder>
    </Tab>
    <Tab>
      <Key>fedcb5d7-e405-43f6-8758-476379ae3248</Key>
      <Caption>Kategorien</Caption>
      <Alias>allgemein1/kategorien</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>