<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59e9e2dd-d696-490d-bb33-64ffb75ca0c5" Alias="toolsSection" Level="2">
  <Info>
    <Name>Tools Section</Name>
    <Icon>icon-disk-image color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="fc809b5f-9f9a-4336-b5ef-c9c0189e09ae">feedback</Composition>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>ToolsSection</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="264d1939-77bb-45ea-a8e1-6aab6d3bbdc0">ToolsSection</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fb85ab72-edd8-47f7-97af-12cf42ccedef</Key>
      <Name>Banner</Name>
      <Alias>banner1</Alias>
      <Definition>dddd30d2-f7ab-4770-8876-5a439deb660e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[nach Tutorials]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bannerToolsStartseite">Banner Tools Startseite</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4706b6b3-b139-4bfe-844c-9ec52ab0bdf3</Key>
      <Name>Banner</Name>
      <Alias>banner2</Alias>
      <Definition>dddd30d2-f7ab-4770-8876-5a439deb660e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[am Ende der Seite]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bannerToolsStartseite">Banner Tools Startseite</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>607da545-96ad-4750-acde-d67c901f2937</Key>
      <Name>Basis Platzhalter</Name>
      <Alias>basisPlaceholder</Alias>
      <Definition>799abefc-c097-4f00-88a8-0fe8e91a8eb7</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Header-Bild, welches im Header-Bereich eines Tools bei einer Basisauflistung angezeigt wird.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="toolSettings/toolHeaderImage">Tool Header Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0839cf70-22be-44e0-b650-ab00b88bde87</Key>
      <Name>Beansprucht</Name>
      <Alias>claimed</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Platzhalter Werte:
[toolProvider] = Anbieter Name]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="claimTexte">Claim Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41eadd6d-5597-4663-b7b4-ac1baa710b1b</Key>
      <Name>E-Mail</Name>
      <Alias>eMailCsv</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[Benachrichtigungen über Sponsored Posts sowie die CSV mit den Änderungen auf den Anbieter- und Tools-Knoten werden an diese E-Mail-Adresse gesendet,]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="toolSettings/profileLogSposoredPost1">Profile Log / Sposored Post</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage>Bitte eine gültige E-Mail-Adresse eintragen</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3e7d6a8-f6b0-4eb2-9662-cda0a3047eab</Key>
      <Name>Counter Kategorie Zahl</Name>
      <Alias>footerCounterCategoryAmount</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footer/texte">Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f3adda85-a397-4177-a91e-169ed2c64d8a</Key>
      <Name>Counter Kategorien Text</Name>
      <Alias>footerCounterCategoryText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer/texte">Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6639056e-a841-48b2-8cd6-025940fecbf2</Key>
      <Name>Counter Tools Text</Name>
      <Alias>footerCounterToolsText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer/texte">Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>014d32e5-908f-4de9-86a7-b1227c8a449d</Key>
      <Name>Menüpunkte</Name>
      <Alias>footerMenu</Alias>
      <Definition>7af58875-bb4e-4afb-9803-33c64987f7f2</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ddfe0076-35d9-4454-a5ce-9d3e9c9175c5</Key>
      <Name>Tax &amp; Bytes Slogan</Name>
      <Alias>footerTextTaxAndBytes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/texte">Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>29e9627f-0d53-480f-b2e1-56eb83bfcb26</Key>
      <Name>Tools-Text</Name>
      <Alias>footerTextTools</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/texte">Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>22df3659-b6ba-4059-9edf-1dd56d39f76c</Key>
      <Name>Formular Link</Name>
      <Alias>formularLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link zum Registrierungs- / Upgrade Formular]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="toolSettings/toolHeaderImage">Tool Header Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>39a2141a-7119-4cd8-9b91-a9b21116d164</Key>
      <Name>Wartungsseite</Name>
      <Alias>maintenancePage</Alias>
      <Definition>c2afafdc-2cf8-4468-a9e7-4530bbe95e4b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="toolSettings/wartung">Wartung</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>27f40350-a98f-45a2-b819-99c7f44e3afd</Key>
      <Name>Wartungsseite aktivieren</Name>
      <Alias>maintenancePageIsActive</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="toolSettings/wartung">Wartung</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00ea436b-2f7e-42ef-a319-def4025282d9</Key>
      <Name>Nicht Beansprucht</Name>
      <Alias>notClaimed</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Platzhalter Werte:
[toolProvider] = Anbieter Name]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="claimTexte">Claim Texte</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41b77c2f-2c84-4bbe-b763-dafd887e528f</Key>
      <Name>Angeteaserte Beiträge Tools Startseite</Name>
      <Alias>taxAndBytesHighlight</Alias>
      <Definition>c0e2ea16-7aa4-4150-98ec-cffb3693b651</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="taxBytesHighlightBeitrge">Tax &amp; Bytes Highlight Beiträge</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0113c58b-5bc0-4f2b-b4ba-f98c89fcfa1e</Key>
      <Caption>Texte</Caption>
      <Alias>footer/texte</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>0555106b-186a-48ae-b9ad-3ab8a7ad362e</Key>
      <Caption>Navigation</Caption>
      <Alias>footer/navigation</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>124f13fc-9200-4204-824e-1db16333bc7c</Key>
      <Caption>Profile Log / Sposored Post</Caption>
      <Alias>toolSettings/profileLogSposoredPost1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>1b0af5e7-b546-4bdf-8fbb-0c5d39592b86</Key>
      <Caption>Wartung</Caption>
      <Alias>toolSettings/wartung</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>5498843a-2bf7-4754-9fd0-c1c3f3f8b346</Key>
      <Caption>Banner Tools Startseite</Caption>
      <Alias>bannerToolsStartseite</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>6aff368e-1bd3-4960-9b23-41f5f1c7b0f8</Key>
      <Caption>Tax &amp; Bytes Highlight Beiträge</Caption>
      <Alias>taxBytesHighlightBeitrge</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>930ccc28-be8f-4dbc-acfc-43645e8e140c</Key>
      <Caption>Tool Settings</Caption>
      <Alias>toolSettings</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>a366cbb1-6840-43a5-82be-7669e3c843ab</Key>
      <Caption>Tool Header Image</Caption>
      <Alias>toolSettings/toolHeaderImage</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>d0b5f93a-c1d8-480e-9bc1-08acdff06a03</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>ed77c445-5432-465a-906a-d01846dd985f</Key>
      <Caption>Claim Texte</Caption>
      <Alias>claimTexte</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>