<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85648789-f177-49f5-884f-75ffa3f7317a" Alias="topicPool" Level="3">
  <Info>
    <Name>TopicPool</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>NWB+Mainpage/Topics</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="344279b3-edf8-4a76-af6e-71be2ab7ed10" SortOrder="0">topic</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>