<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fd2f8f2f-681d-47e5-aa1b-3ff5266357ec" Alias="tutorialOverview" Level="2">
  <Info>
    <Name>Tutorial Overview</Name>
    <Icon>icon-tools color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
    </Compositions>
    <DefaultTemplate>TutorialOverview</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9d177186-08bb-4f7e-b4a4-5d1074d4edb9">TutorialOverview</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3c15e6d7-cf25-40b9-b3b4-24c745f7e727" SortOrder="0">videoTutorial</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>