<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a5f25fb0-85ed-4874-ba4d-60760192f19e" Alias="videoElement" Level="2">
  <Info>
    <Name>Video Element</Name>
    <Icon>icon-video color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f32f2b6c-dd63-4d63-9ee6-f6d474ea5283</Key>
      <Name>YouTube Video</Name>
      <Alias>youTubeVideo</Alias>
      <Definition>62277ebb-bb6d-45c9-84c2-5efb39a54920</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="youTubeUrl">YouTube Url</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bed2249c-33cc-4bef-b6f2-20c131ddefa9</Key>
      <Caption>YouTube Url</Caption>
      <Alias>youTubeUrl</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>