<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eba627cc-b3e7-4b61-b1bb-522120e7f7af" Alias="videoDetail" Level="2">
  <Info>
    <Name>Video Ansicht</Name>
    <Icon>icon-movie-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Parent>
    <Compositions>
      <Composition Key="b7a285e4-b433-417b-9ed8-b9069d993570">master</Composition>
      <Composition Key="c220ad8a-827f-48db-b62c-3484f7c9ea89">openGraph</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
    </Compositions>
    <DefaultTemplate>VideoDetail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5eab199b-6e03-4d67-96dc-488acbb6a3a8">VideoDetail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a6ffc01d-89d1-4dba-84e6-6d5c89e41be3</Key>
      <Name>Flächen-Vorschau</Name>
      <Alias>areaThumbnail</Alias>
      <Definition>17d0b876-474a-4978-b568-fa88c46e6021</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db9419e6-db1d-4705-8d03-bb79cbcc57e3</Key>
      <Name>Crop Hilfe</Name>
      <Alias>cropHelperVideoView</Alias>
      <Definition>17270262-92e1-4c40-8527-97d6c44c4ac8</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hilfe">Hilfe</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ba36aac-aa4e-472a-ac2d-51bc0d70b72d</Key>
      <Name>Überschrift</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird beim Speichern automatisch von YouTube abgerufen und eingefügt. Kann danach individuell bearbeitet werden!]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content/inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6e7bb68d-6f41-49e4-be3e-cd20ac6936d8</Key>
      <Name>Note</Name>
      <Alias>note</Alias>
      <Definition>9a0462af-bba6-473d-bbab-065519684cc9</Definition>
      <Type>Umbraco.Community.Contentment.Notes</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>beb3bbdc-96f4-4598-9292-27ccd3cfd5d7</Key>
      <Name>In Übersicht ausblenden?</Name>
      <Alias>overviewHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a398807f-f751-4979-9f9b-c08db4f88c89</Key>
      <Name>Auszug</Name>
      <Alias>previewExcerpt</Alias>
      <Definition>62a0d155-ca17-4284-91d8-e527263622b9</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[max. 300 Zeichen]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>561936ff-cf04-4688-a3ef-f8a92f7c9db8</Key>
      <Name>Vorschau</Name>
      <Alias>previewThumbnail</Alias>
      <Definition>17d0b876-474a-4978-b568-fa88c46e6021</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47ca811f-4b0e-4f4e-b505-d9348398028b</Key>
      <Name>YouTube Vorschaubild Medium</Name>
      <Alias>previewThumbnailYouTubeMedium</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="youTubeMetaDaten">YouTube Meta Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffe8bba8-efa5-4390-bc40-e16414fea54a</Key>
      <Name>YouTube Vorschaubild Small</Name>
      <Alias>previewThumbnailYouTubeSmall</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="youTubeMetaDaten">YouTube Meta Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15cbc0a9-9134-451a-b8d8-0d261ce6a4f3</Key>
      <Name>Überschrift</Name>
      <Alias>previewTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vorschau">Vorschau</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bdfdf5d-607c-47f3-b791-847ab83fbcae</Key>
      <Name>Channel-Name</Name>
      <Alias>videoChannelName</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="youTubeMetaDaten">YouTube Meta Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf2f1dce-422a-493e-9282-caf88b6eea96</Key>
      <Name>Cover-Url</Name>
      <Alias>videoCoverUrl</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="youTubeMetaDaten">YouTube Meta Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>82ffed71-8a55-405d-aff8-e924717d499c</Key>
      <Name>Video Beschreibung</Name>
      <Alias>videoDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird beim Speichern automatisch von YouTube abgerufen und eingefügt. Kann danach individuell bearbeitet werden!]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content/inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fca55e51-bdf0-4c0f-a522-7206d85c83d5</Key>
      <Name>Dauer</Name>
      <Alias>videoDuration</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="youTubeMetaDaten">YouTube Meta Daten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69f1cb27-311f-44be-ba4d-0e7242c10c0d</Key>
      <Name>Youtube Video ID</Name>
      <Alias>videoID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content/inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5ab87105-2bc1-4f0b-af8d-f45cb4ca5158</Key>
      <Name>Veröffentlichungsdatum</Name>
      <Alias>videoPublishedDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird beim Speichern automatisch von YouTube abgerufen und kann geändert werden.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content/inhalt">Inhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f567893-9fb0-4878-8de3-5b98a4950b16</Key>
      <Caption>Vorschau</Caption>
      <Alias>vorschau</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>38b67de1-1c93-44c9-ac23-3a5fee28d532</Key>
      <Caption>Hilfe</Caption>
      <Alias>hilfe</Alias>
      <Type>Tab</Type>
      <SortOrder>102</SortOrder>
    </Tab>
    <Tab>
      <Key>9e9c6119-90a7-46f0-adc6-ae467b53e2fe</Key>
      <Caption>Inhalt</Caption>
      <Alias>content/inhalt</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>c424e1f9-f4e6-407f-b3b5-6c17894076ac</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>f61f811e-bd44-4685-ae52-b5ca9e72a5f6</Key>
      <Caption>YouTube Meta Daten</Caption>
      <Alias>youTubeMetaDaten</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>