<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3c15e6d7-cf25-40b9-b3b4-24c745f7e727" Alias="videoTutorial" Level="2">
  <Info>
    <Name>Video Tutorial</Name>
    <Icon>icon-tools color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Parent>
    <Compositions>
      <Composition Key="30774cf2-4af9-494e-a8ea-9ce89ddcb24c">masterTools</Composition>
      <Composition Key="254d70f3-4237-4646-b1e9-68e0ab4d4395">seo</Composition>
      <Composition Key="ec29d6d5-602b-42c2-a05d-a8f3cdc95ea9">toolPreview</Composition>
    </Compositions>
    <DefaultTemplate>Tutorial</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="18689d11-88ba-4c7f-92b5-c3b14ac47d15">Tutorial</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aa1b38b1-9b24-43ba-9783-289f150b75ef</Key>
      <Name>Youtube Video</Name>
      <Alias>youtubeVideo</Alias>
      <Definition>e190465b-8183-4c12-a75d-8c3f4d43d7aa</Definition>
      <Type>ToolMediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tutorial">Tutorial</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>174afb31-ed72-4f66-92c6-349a77461be4</Key>
      <Caption>Tutorial</Caption>
      <Alias>tutorial</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>