<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95894d18-6fd6-4a7a-87a8-9a8866c86ad9" Alias="visibilitySettings" Level="3">
  <Info>
    <Name>VisibilitySettings</Name>
    <Icon>icon-eye color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Block+Grid+NWB/Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cba7fb81-d5e5-4dca-8e18-c0bb03804447</Key>
      <Name>Desktop</Name>
      <Alias>visibilityDesktop</Alias>
      <Definition>32f907f0-f203-45cc-8731-0b63d0eea5cc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt fest ob das Element bei einer Auflösung von größer **≥992px** sichtbar ist.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sichtbarkeit">Sichtbarkeit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66628546-0744-4d9e-b855-67e86d8483a1</Key>
      <Name>Mobile</Name>
      <Alias>visibilityMobile</Alias>
      <Definition>32f907f0-f203-45cc-8731-0b63d0eea5cc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt fest ob das Element bei einer Auflösung von kleiner**<768px** sichtbar ist.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sichtbarkeit">Sichtbarkeit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0f1b544c-9ed8-42d7-8103-42e4de91fc85</Key>
      <Name>Tablet</Name>
      <Alias>visibilityTablet</Alias>
      <Definition>32f907f0-f203-45cc-8731-0b63d0eea5cc</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Legt fest ob das Element bei einer Auflösung von größer **≥ 768px** und **< 992px** sichtbar ist.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sichtbarkeit">Sichtbarkeit</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ac0b511f-553e-4331-99b5-71652f2b03ff</Key>
      <Caption>Sichtbarkeit</Caption>
      <Alias>sichtbarkeit</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>